<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_root_stun_middle_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_root_stun_middle_2.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2679963793e078ed7b58644cad4a9446:b575f374f3c170130dcd328742d4b587:d96b41b9b2ebc7ee655309adef059966$</string>
            <key>textureFileName</key>
            <string>magic_root_stun_middle_2.png</string>
        </dict>
    </dict>
</plist>
