<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ringout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{256,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{256,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{256,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,120}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,120}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,260},{256,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{256,116}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,518},{256,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{256,116}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,260},{256,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,518},{256,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,260},{256,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,518},{256,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{256,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,776},{256,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{256,116}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,126},{256,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{256,116}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,518},{256,114}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{256,114}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,126},{256,116}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{256,116}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ringout_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{256,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,120}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ringout.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb3fe9f47774f579b6f6d96fe7dd4640:dcf537fe622bc61c4353c64ca2f6bcf3:bf98d74ff2e0cb2b4af6056a404edd0b$</string>
            <key>textureFileName</key>
            <string>ringout.png</string>
        </dict>
    </dict>
</plist>
