<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,3},{512,218}}</string>
                <key>offset</key>
                <string>{0,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Back_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{512,218}}</string>
                <key>offset</key>
                <string>{0,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,519},{64,340}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,172},{64,340}}</string>
                <key>sourceSize</key>
                <string>{64,512}</string>
            </dict>
            <key>bg_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,519},{64,294}}</string>
                <key>offset</key>
                <string>{0,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,218},{64,294}}</string>
                <key>sourceSize</key>
                <string>{64,512}</string>
            </dict>
            <key>layer1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{512,486}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{512,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,519},{318,448}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{318,448}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96af5b3566b5b690494cf8f58a46a690:999a14f176571917aa56c70dc53e9440:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
