<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SettingsEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{412,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,22}}</string>
                <key>sourceSize</key>
                <string>{412,22}</string>
            </dict>
            <key>full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{404,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,16}}</string>
                <key>sourceSize</key>
                <string>{404,16}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,78}}</string>
                <key>sourceSize</key>
                <string>{33,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchSlidersSettings.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b987ce92a108d575b2fcc4fdde40b65f:4aa495c771a25d1a42ce071c201621ec:a9cb043a3ca849d1d62b1a384ff1e31d$</string>
            <key>textureFileName</key>
            <string>batchSlidersSettings.png</string>
        </dict>
    </dict>
</plist>
