<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{250,256}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{250,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c1b45ed74da7b22314fe3e785d1ef81:98176adc379973e1f9a4e210f87ab74e:4e908cad585b51422829fd3fcea40b2c$</string>
            <key>textureFileName</key>
            <string>atlas_layer4.png</string>
        </dict>
    </dict>
</plist>
