<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>up_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,968},{508,26}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,218},{508,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>water_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,822},{512,146}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{512,146}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>water_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,670},{512,152}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{512,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>water_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,512},{512,158}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{512,158}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0616a8de5ff95d981f82514e2b9a8566:5a1d91f61a0d8fabd94bda71981aac83:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
