<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1035},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1551},{510,316}}</string>
                <key>offset</key>
                <string>{1,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,196},{510,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,655},{512,340}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,172},{512,340}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,139},{512,342}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,170},{512,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1551},{328,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,147},{328,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,139},{512,136}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,235},{512,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{418,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,190},{418,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_column_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1687},{252,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_column_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1171},{512,260}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,134},{512,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,3},{50,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02684fc8e691bc512bcd17f14b017829:c5c3d670cef1e541e85be4311af990b2:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
