<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flags_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{194,184}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{194,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>flags_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{218,138}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{218,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hedge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{256,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,118}</string>
            </dict>
            <key>hedge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,118}}</string>
                <key>sourceSize</key>
                <string>{256,118}</string>
            </dict>
            <key>wariors_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,118},{256,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,85},{256,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wariors_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,204},{256,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{256,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>weapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,280},{232,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,81},{232,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>weapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,374},{174,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,77},{174,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea3a6408c763236d7090c6281d79b098:0b7661099f3bfb68902d67fa87d7089e:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
