<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1035},{512,198}}</string>
                <key>offset</key>
                <string>{0,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,314},{512,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{512,198}}</string>
                <key>offset</key>
                <string>{0,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,314},{512,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,198}}</string>
                <key>offset</key>
                <string>{0,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,314},{512,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0f31e397a59554706fc81926a5fcc0d:6780562b45f170de63a52430e4231505:541e36315a768153b874665d07ee41ec$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
