<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1},{55,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,47}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>critical_chance.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{47,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{47,45}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>head_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,137},{49,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{49,43}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>magic_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,89},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{47,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>magic_resistance.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,49},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ranged_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{49,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ranged_quantity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{37,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>unarmed_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{41,35}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>weapon_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,51}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchAttributes.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4c36d90cdaea167716aefa611df4816:96ce8bb8693f8d79d2621a49c34a6430:8f184aa8fd709c7494fbbad71ffa9280$</string>
            <key>textureFileName</key>
            <string>batchAttributes.png</string>
        </dict>
    </dict>
</plist>
