<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,312}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{512,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{512,302}}</string>
                <key>offset</key>
                <string>{0,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,210},{512,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{512,186}}</string>
                <key>offset</key>
                <string>{0,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,326},{512,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer_house1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,410}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{512,410}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer_house2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,312},{512,304}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,208},{512,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,616},{512,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,294}}</string>
                <key>sourceSize</key>
                <string>{512,294}</string>
            </dict>
            <key>snow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{252,82}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{252,82}}</string>
                <key>sourceSize</key>
                <string>{256,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ee69fa835154077d297a45a458f2bbd:5e1fa4fd8300b5e12ca4ddcd219c81a7:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
