<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,512},{512,214}}</string>
                <key>offset</key>
                <string>{0,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,298},{512,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,726},{482,294}}</string>
                <key>offset</key>
                <string>{-15,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,218},{482,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9efb00f3dc16b5ae257f53cfe2fd745:c0a11302ad362ce63fda606857630504:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
