<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{544,430}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{544,430}}</string>
                <key>sourceSize</key>
                <string>{544,512}</string>
            </dict>
            <key>layer_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,437},{544,414}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{544,414}}</string>
                <key>sourceSize</key>
                <string>{544,512}</string>
            </dict>
            <key>layer_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,3},{256,214}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,3},{256,192}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539e724319674dd716d92958d338d59d:de32f4e0e06ea760bb789668e6346544:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
