# comments and whitespace stripped by deployment tool
[MYSETTINGS]
Device=iphone
Android_obb=0
[S3E]
DispFixRot=Landscape
MemSize = [s3e] DispAreaQ + 104857600
{ARCH=AARCH64}
MemSize = [s3e] DispAreaQ + 136314880
{}
SysGlesVersion = 2
AndroidTryAndroidIdFirst = 0
[s3e]
SysAppVersion=1.0.0
SysAppCaption="Shadow Fight 2"
IOSDispScaleFactor = auto
iPhoneVideoShareAudioSession = 1
SysStackSize=262144
[UTIL]
MemMgrMaxAllocWarning=0