<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{512,216}}</string>
                <key>offset</key>
                <string>{0,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,296},{512,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{512,428}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{512,428}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac3465a12236e55b1a88c1e8f7016524:9b83b81ff60c1eff5b00d21301355c0c:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
