<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>indicatorLocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,88}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>indicatorOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{64,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>indicatorOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,90},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{76,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchIndicators.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6b5c016be7f4f88625cd62dfb0b97d5:d0de2274c388f0174eb8bcc1564ba6f6:b301fac2448fc9f98cb1a3aad0553de8$</string>
            <key>textureFileName</key>
            <string>batchIndicators.png</string>
        </dict>
    </dict>
</plist>
