# comments and whitespace stripped by deployment tool
[MYSETTINGS]
Device=iphone
Android_obb=0
[S3E]
DispFixRot=Landscape
MemSize = [s3e] DispAreaQ + 104857600
SysGlesVersion = 2
[s3e]
SysAppVersion=1.0.0
SysAppCaption="ShadowFight2"
IOSDispScaleFactor = 200
iPhoneVideoShareAudioSession = 1
SysStackSize=262144
[UTIL]
MemMgrMaxAllocWarning=0