<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,3},{128,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>layer_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,3},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{360,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,428}}</string>
                <key>sourceSize</key>
                <string>{360,428}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,3},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,367},{350,420}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{350,420}}</string>
                <key>sourceSize</key>
                <string>{360,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:695e79bed9c46b6143789f775af3cda9:dc1629142e700360e8991c7e0a2bfbb0:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
