<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hintsArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,34}}</string>
                <key>sourceSize</key>
                <string>{58,34}</string>
            </dict>
            <key>hintsCorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,36},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>hintsPixel.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hintsSide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,36},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>hintsStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1},{1,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,18}}</string>
                <key>sourceSize</key>
                <string>{1,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchHints.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bf45936a79cf49d833a6c5b7ad71357:cd34b869c7181f260363abbca4e8c7f6:d6a289367764e7be0999be01e50e923a$</string>
            <key>textureFileName</key>
            <string>batchHints.png</string>
        </dict>
    </dict>
</plist>
