<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>black.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,684},{678,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{678,36}}</string>
			<key>sourceSize</key>
			<string>{680,36}</string>
		</dict>
		<key>blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{680,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{680,36}}</string>
			<key>sourceSize</key>
			<string>{680,36}</string>
		</dict>
		<key>green.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,2},{680,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{680,36}}</string>
			<key>sourceSize</key>
			<string>{680,36}</string>
		</dict>
		<key>red.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,2},{680,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{680,36}}</string>
			<key>sourceSize</key>
			<string>{680,36}</string>
		</dict>
		<key>violet.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{680,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{680,36}}</string>
			<key>sourceSize</key>
			<string>{680,36}</string>
		</dict>
		<key>white.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,1364},{678,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{678,36}}</string>
			<key>sourceSize</key>
			<string>{680,36}</string>
		</dict>
		<key>yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1366},{680,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{680,36}}</string>
			<key>sourceSize</key>
			<string>{680,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>batchSlidersImmunityBig.png</string>
		<key>size</key>
		<string>{128,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dbe81eafa0c53864e274d27ee4bab299:9de411f247c82b33eb31f55b4a531f6e:2ab9900515c638ebfc0710e6fe948de8$</string>
		<key>textureFileName</key>
		<string>batchSlidersImmunityBig.png</string>
	</dict>
</dict>
</plist>
