<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_ascension.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,436},{96,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{96,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_butcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,208},{118,118}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_butcher_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,202},{118,118}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_capsules.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,838},{100,98}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{100,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,732},{98,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{98,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_challenge_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,924},{96,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{96,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_duel.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,98},{104,124}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{104,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_eggs.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{128,110}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{128,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_eggs_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,110}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{128,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_factory.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,430},{96,114}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{96,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_fatum_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,532},{106,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{106,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_final_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,538},{96,106}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{96,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_final_battle_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{96,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,21},{96,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_fire_hell.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,316},{116,112}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_fungus_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{120,122}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{120,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_hermit.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{118,110}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_hermit_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,320},{116,110}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{116,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_huntress.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,428},{114,110}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_huntress_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{114,110}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_lynx.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,98},{124,98}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{124,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_lynx_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,110},{122,98}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{122,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_megalith_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,738},{98,102}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{98,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_samurai.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,638},{100,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_samurai_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,722},{98,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{98,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{128,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{128,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_spaceship_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{128,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{128,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_stone_forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,828},{96,98}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{96,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_stone_forest_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,732},{96,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{96,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_survival.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{102,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{102,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_titan.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,622},{100,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,25},{100,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_titan_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,634},{98,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{98,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_tournament.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{100,98}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{100,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_tournament_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,740},{100,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{100,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_training.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,836},{98,98}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{98,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_vortex_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,196},{122,120}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{122,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_vulcan_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,326},{114,110}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{114,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_wasp.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,526},{96,110}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{96,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>active_wasp_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{96,110}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,17},{96,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchBattlesActive.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a37b30df236864a46d50cbec11d982c8:3cf33126a83f51cb89a22771bb14748f:07bd5b3147e4c97aa7294461c1770e94$</string>
            <key>textureFileName</key>
            <string>batchBattlesActive.png</string>
        </dict>
    </dict>
</plist>
