<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>locked_active_ascension.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,444},{190,222}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,30},{190,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_butcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,212},{234,232}}</string>
                <key>offset</key>
                <string>{28,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{234,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_capsules.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1020},{196,190}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{196,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1026},{194,190}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{194,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_duel.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{212,244}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,8},{212,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_eggs.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{252,216}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{252,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_factory.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,434},{190,226}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,26},{190,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_fatum_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,624},{212,218}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{212,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_final_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,634},{190,210}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,42},{190,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_fungus_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,192},{240,242}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{240,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_hermit.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,216},{234,218}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{234,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_huntress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{226,218}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{226,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_lynx.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{244,192}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{244,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_megalith_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,650},{194,204}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{194,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_samurai.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{196,200}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{196,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,192}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,60},{254,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_stone_forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1034},{190,190}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{190,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_survival.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,836},{202,190}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{202,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_titan.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,824},{196,202}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,50},{196,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_tournament.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,844},{200,190}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,62},{200,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_training.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{192,192}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,54},{192,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_vulcan_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,432},{230,218}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{230,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_active_wasp.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{190,218}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{190,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>locked_vortex_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{246,242}}</string>
                <key>offset</key>
                <string>{-19,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{246,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchBattlesLockedActive.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24708392a4b6abc0550550fc86774254:0a49693c51bd9440ab36662c11f7093c:62d5a78dbea9c9ab01b88480d614c8b8$</string>
            <key>textureFileName</key>
            <string>batchBattlesLockedActive.png</string>
        </dict>
    </dict>
</plist>
