<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amazon_mp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,152},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>amazon_mp3_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,456},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>arb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,152},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>arb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,456},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>brus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,0},{152,154}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>chn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,152},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>chn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,456},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{150,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>controller_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,456},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{150,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{150,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>credits_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>credits_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,460},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,152},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>facebook_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,0},{152,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{152,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>facebook_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,152},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>facebook_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,460},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fra.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,0},{152,154}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>fra_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,460},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,152},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>gamecenter_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,0},{152,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{152,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>gamecenter_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>gamecenter_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,460},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,0},{152,154}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>ger_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,460},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>googleplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,302},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>googleplay_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,302},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>googleplay_controller_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,460},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>googleplay_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{152,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{152,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>googleplay_disable_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,150},{152,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{152,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>googleplay_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,302},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>googleplay_music_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>googleplay_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,302},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>googleplay_off_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,302},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>googleplay_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,644},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>graphics.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{150,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{150,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>graphics_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,644},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ita.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,306},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>ita_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,644},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>itunes.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{156,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{156,156}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>itunes_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,648},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jpn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,306},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>jpn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,648},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>kakao.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{150,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>kor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,306},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>kor_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,648},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>location.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,150},{152,154}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>location_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,648},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{150,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{150,150}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>music_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,648},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>music_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,648},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ptbr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,306},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>ptbr_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>rus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,306},{154,156}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{154,156}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>rus_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,832},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,150},{152,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,150},{152,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>sound_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,832},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sound_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,832},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>spa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,306},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>spa_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,836},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>support.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,0},{150,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{150,152}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>support_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,836},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,306},{154,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{154,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>tur_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,836},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>usbr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,0},{152,154}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>usbr_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,836},{188,188}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>windows.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,150},{152,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>windows_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,150},{152,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{152,154}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchSettings.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f55fb4f6a5d55a8cceea6eacbfce4498:df6f18d49273dcea9c39b4115c8e3990:565c0092b175a8488d8c4382f61b4a70$</string>
            <key>textureFileName</key>
            <string>batchSettings.png</string>
        </dict>
    </dict>
</plist>
