<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,734},{111,250}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{111,250}}</string>
                <key>sourceSize</key>
                <string>{165,260}</string>
            </dict>
            <key>effect_hammer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,192},{299,160}}</string>
                <key>offset</key>
                <string>{-10,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{299,160}}</string>
                <key>sourceSize</key>
                <string>{319,228}</string>
            </dict>
            <key>effect_hammer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,32},{311,160}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{311,160}}</string>
                <key>sourceSize</key>
                <string>{323,228}</string>
            </dict>
            <key>effect_hammer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,92},{311,146}}</string>
                <key>offset</key>
                <string>{-6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{311,146}}</string>
                <key>sourceSize</key>
                <string>{323,222}</string>
            </dict>
            <key>effect_hammer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{315,146}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{315,146}}</string>
                <key>sourceSize</key>
                <string>{315,222}</string>
            </dict>
            <key>effect_hammer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,0},{315,92}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{315,92}}</string>
                <key>sourceSize</key>
                <string>{315,204}</string>
            </dict>
            <key>effect_hammer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,0},{309,64}}</string>
                <key>offset</key>
                <string>{8,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,142},{309,64}}</string>
                <key>sourceSize</key>
                <string>{325,206}</string>
            </dict>
            <key>effect_hammer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{309,52}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,154},{309,52}}</string>
                <key>sourceSize</key>
                <string>{325,206}</string>
            </dict>
            <key>effect_hammer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{313,32}}</string>
                <key>offset</key>
                <string>{3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,174},{313,32}}</string>
                <key>sourceSize</key>
                <string>{319,206}</string>
            </dict>
            <key>effect_hammer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{313,32}}</string>
                <key>offset</key>
                <string>{3,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,174},{313,32}}</string>
                <key>sourceSize</key>
                <string>{319,206}</string>
            </dict>
            <key>effect_hammer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,192},{295,18}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{295,18}}</string>
                <key>sourceSize</key>
                <string>{295,200}</string>
            </dict>
            <key>effect_hammer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{205,216}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{205,216}}</string>
                <key>sourceSize</key>
                <string>{259,262}</string>
            </dict>
            <key>effect_hammer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,192},{295,18}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{295,18}}</string>
                <key>sourceSize</key>
                <string>{295,200}</string>
            </dict>
            <key>effect_hammer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,192},{295,18}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{295,18}}</string>
                <key>sourceSize</key>
                <string>{295,200}</string>
            </dict>
            <key>effect_hammer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,192},{295,18}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{295,18}}</string>
                <key>sourceSize</key>
                <string>{295,200}</string>
            </dict>
            <key>effect_hammer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,192},{295,18}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{295,18}}</string>
                <key>sourceSize</key>
                <string>{295,200}</string>
            </dict>
            <key>effect_hammer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,734},{247,162}}</string>
                <key>offset</key>
                <string>{-22,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,108},{247,162}}</string>
                <key>sourceSize</key>
                <string>{291,270}</string>
            </dict>
            <key>effect_hammer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,487},{247,166}}</string>
                <key>offset</key>
                <string>{-22,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,104},{247,166}}</string>
                <key>sourceSize</key>
                <string>{291,270}</string>
            </dict>
            <key>effect_hammer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,352},{267,164}}</string>
                <key>offset</key>
                <string>{-23,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{267,164}}</string>
                <key>sourceSize</key>
                <string>{313,268}</string>
            </dict>
            <key>effect_hammer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{267,146}}</string>
                <key>offset</key>
                <string>{-23,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{267,146}}</string>
                <key>sourceSize</key>
                <string>{313,244}</string>
            </dict>
            <key>effect_hammer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{289,146}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{289,146}}</string>
                <key>sourceSize</key>
                <string>{321,244}</string>
            </dict>
            <key>effect_hammer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,238},{289,166}}</string>
                <key>offset</key>
                <string>{-16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{289,166}}</string>
                <key>sourceSize</key>
                <string>{321,238}</string>
            </dict>
            <key>effect_hammer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{299,166}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{299,166}}</string>
                <key>sourceSize</key>
                <string>{319,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hammer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26daeea0173a242c2a596c3aeb1e0efd:e295ac76634797e5f963b8d4220f9613:f7b4fe3b565492519a05a864c62d62f0$</string>
            <key>textureFileName</key>
            <string>effect_hammer.png</string>
        </dict>
    </dict>
</plist>
