<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shield_hex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,993},{1,1}}</string>
                <key>offset</key>
                <string>{-87,100.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,350},{175,170}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,170}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,657},{175,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{175,156}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,513},{175,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{175,160}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,520},{175,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{175,160}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,813},{175,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{175,156}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,487},{175,170}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{175,170}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,993},{1,1}}</string>
                <key>offset</key>
                <string>{-87,100.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{175,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{175,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{175,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{175,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{175,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,180},{175,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,360},{175,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,175},{169,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{169,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,350},{137,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{137,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,180},{133,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{133,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{93,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,21},{93,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{93,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{93,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,993},{1,1}}</string>
                <key>offset</key>
                <string>{-87,100.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,360},{131,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{131,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,344},{169,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{169,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,540},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,720},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,175},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
            <key>effect_shield_hex_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,175},{175,180}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shield_hex.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc646854f66c0f124042a0637c19cea5:f9cbdfef435554f6488d8980cccc06a9:ae294d6b8be908e93df498170ee4f54e$</string>
            <key>textureFileName</key>
            <string>effect_shield_hex.png</string>
        </dict>
    </dict>
</plist>
