<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lightning_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,637},{20,224}}</string>
                <key>offset</key>
                <string>{-4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,224}}</string>
                <key>sourceSize</key>
                <string>{28,358}</string>
            </dict>
            <key>effect_lightning_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{246,334}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,334}}</string>
                <key>sourceSize</key>
                <string>{248,374}</string>
            </dict>
            <key>effect_lightning_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,331}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,331}}</string>
                <key>sourceSize</key>
                <string>{255,365}</string>
            </dict>
            <key>effect_lightning_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,331}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,331}}</string>
                <key>sourceSize</key>
                <string>{255,365}</string>
            </dict>
            <key>effect_lightning_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,335},{257,300}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,300}}</string>
                <key>sourceSize</key>
                <string>{257,306}</string>
            </dict>
            <key>effect_lightning_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,335},{257,300}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,300}}</string>
                <key>sourceSize</key>
                <string>{257,306}</string>
            </dict>
            <key>effect_lightning_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,659},{259,291}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{259,291}}</string>
                <key>sourceSize</key>
                <string>{263,293}</string>
            </dict>
            <key>effect_lightning_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,659},{259,291}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{259,291}}</string>
                <key>sourceSize</key>
                <string>{263,293}</string>
            </dict>
            <key>effect_lightning_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,206},{260,266}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{260,266}}</string>
                <key>sourceSize</key>
                <string>{266,278}</string>
            </dict>
            <key>effect_lightning_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,206},{260,266}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{260,266}}</string>
                <key>sourceSize</key>
                <string>{266,278}</string>
            </dict>
            <key>effect_lightning_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,468},{182,231}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{182,231}}</string>
                <key>sourceSize</key>
                <string>{188,281}</string>
            </dict>
            <key>effect_lightning_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,211},{97,341}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{97,341}}</string>
                <key>sourceSize</key>
                <string>{105,375}</string>
            </dict>
            <key>effect_lightning_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,468},{182,231}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{182,231}}</string>
                <key>sourceSize</key>
                <string>{188,281}</string>
            </dict>
            <key>effect_lightning_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-179,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{359,399}</string>
            </dict>
            <key>effect_lightning_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-179,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{359,399}</string>
            </dict>
            <key>effect_lightning_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-179,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{359,399}</string>
            </dict>
            <key>effect_lightning_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-179,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{359,399}</string>
            </dict>
            <key>effect_lightning_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-179,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{359,399}</string>
            </dict>
            <key>effect_lightning_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{1,1}}</string>
                <key>offset</key>
                <string>{-179,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{359,399}</string>
            </dict>
            <key>effect_lightning_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,652},{179,350}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,350}}</string>
                <key>sourceSize</key>
                <string>{191,392}</string>
            </dict>
            <key>effect_lightning_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{202,350}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,350}}</string>
                <key>sourceSize</key>
                <string>{214,392}</string>
            </dict>
            <key>effect_lightning_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,310},{207,346}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,346}}</string>
                <key>sourceSize</key>
                <string>{215,388}</string>
            </dict>
            <key>effect_lightning_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{207,346}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,346}}</string>
                <key>sourceSize</key>
                <string>{215,388}</string>
            </dict>
            <key>effect_lightning_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{233,338}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{233,338}}</string>
                <key>sourceSize</key>
                <string>{241,374}</string>
            </dict>
            <key>effect_lightning_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,671},{233,336}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{233,336}}</string>
                <key>sourceSize</key>
                <string>{241,374}</string>
            </dict>
            <key>effect_lightning_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{246,334}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,334}}</string>
                <key>sourceSize</key>
                <string>{248,374}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_lightning_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a478e78829440cc9cec8c8a3a0ce024e:ca7130ad4de36f8b9b45d293edfb20dc:a1210881d515ab708a7b95b3270887ee$</string>
            <key>textureFileName</key>
            <string>effect_lightning_end.png</string>
        </dict>
    </dict>
</plist>
