<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fire_tonfa_blow_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,134},{52,56}}</string>
                <key>offset</key>
                <string>{-120,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{52,56}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,186},{48,86}}</string>
                <key>offset</key>
                <string>{61,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,141},{48,86}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,272},{76,62}}</string>
                <key>offset</key>
                <string>{-131,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{76,62}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,358},{138,92}}</string>
                <key>offset</key>
                <string>{-90,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{138,92}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,134}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{296,134}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{240,224}}</string>
                <key>offset</key>
                <string>{55,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,29},{240,224}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{202,216}}</string>
                <key>offset</key>
                <string>{69,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,39},{202,216}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,358},{190,126}}</string>
                <key>offset</key>
                <string>{66,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,121},{190,126}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{148,116}}</string>
                <key>offset</key>
                <string>{74,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,126},{148,116}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
            <key>effect_fire_tonfa_blow_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,202},{112,114}}</string>
                <key>offset</key>
                <string>{71,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,129},{112,114}}</string>
                <key>sourceSize</key>
                <string>{360,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fire_tonfa_blow_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10e958dd426d3b1be417bffad414a94e:7c44c3f317dd81bf17f999ae63e1a330:65761283c4a97408ebad6af599afa82d$</string>
            <key>textureFileName</key>
            <string>effect_fire_tonfa_blow_2.png</string>
        </dict>
    </dict>
</plist>
