<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mine_player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,181},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,280},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,379},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,423},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,181},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,280},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,44},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,44},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,44},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,143},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,181},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{173,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,44}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,280},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,385},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,181},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,286},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,44},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,44},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,143},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,44},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,187},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,316},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{167,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{167,44}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,471},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{155,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{155,44}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{143,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{143,44}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,187},{129,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{129,42}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{117,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{117,40}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{105,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{105,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>effect_mine_player_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{99,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mine_player.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be0bc13e51bb6e9431e0e677b2c652e:16f98dab983e9fb955b00852ec0de8e3:5d2406a564ecd15c385d5e836cf36422$</string>
            <key>textureFileName</key>
            <string>effect_mine_player.png</string>
        </dict>
    </dict>
</plist>
