<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fire_tonfa_blow_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,165},{49,53}}</string>
                <key>offset</key>
                <string>{-142,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,31},{49,53}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,214},{87,77}}</string>
                <key>offset</key>
                <string>{-113,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{87,77}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{205,95}}</string>
                <key>offset</key>
                <string>{-26,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{205,95}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{265,165}}</string>
                <key>offset</key>
                <string>{36,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,15},{265,165}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{199,215}}</string>
                <key>offset</key>
                <string>{59,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,23},{199,215}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,300},{201,187}}</string>
                <key>offset</key>
                <string>{49,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,52},{201,187}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{209,135}}</string>
                <key>offset</key>
                <string>{38,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,99},{209,135}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,199},{167,71}}</string>
                <key>offset</key>
                <string>{31,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,158},{167,71}}</string>
                <key>sourceSize</key>
                <string>{345,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fire_tonfa_blow_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d27a0da0875709b76c1561bda3ba0b:4e159d55e236ca7df04616447a5c30f9:84dbec6dcb5f14442b4f33810cde8ea4$</string>
            <key>textureFileName</key>
            <string>effect_fire_tonfa_blow_1.png</string>
        </dict>
    </dict>
</plist>
