<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_round_knife_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{542,187}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,48},{542,187}}</string>
                <key>sourceSize</key>
                <string>{586,235}</string>
            </dict>
            <key>effect_round_knife_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,0},{514,197}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{514,197}}</string>
                <key>sourceSize</key>
                <string>{586,235}</string>
            </dict>
            <key>effect_round_knife_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,579},{528,195}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{528,195}}</string>
                <key>sourceSize</key>
                <string>{586,235}</string>
            </dict>
            <key>effect_round_knife_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,197},{550,193}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{550,193}}</string>
                <key>sourceSize</key>
                <string>{586,235}</string>
            </dict>
            <key>effect_round_knife_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{560,197}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,38},{560,197}}</string>
                <key>sourceSize</key>
                <string>{586,235}</string>
            </dict>
            <key>effect_round_knife_big_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{542,189}}</string>
                <key>offset</key>
                <string>{16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{542,189}}</string>
                <key>sourceSize</key>
                <string>{586,235}</string>
            </dict>
            <key>effect_round_knife_big_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{518,197}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,38},{518,197}}</string>
                <key>sourceSize</key>
                <string>{586,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_round_knife_big.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75b978bd31ffc7eadd00be7fca215d72:03bd26d0dc483503455aa1fb5862d769:4a8a4e49f00406daa91f09a76b4c8404$</string>
            <key>textureFileName</key>
            <string>effect_round_knife_big.png</string>
        </dict>
    </dict>
</plist>
