<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{180,30}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,114},{180,30}}</string>
                <key>sourceSize</key>
                <string>{242,144}</string>
            </dict>
            <key>effect_fall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,210},{486,126}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{486,126}}</string>
                <key>sourceSize</key>
                <string>{490,146}</string>
            </dict>
            <key>effect_fall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{496,138}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{496,138}}</string>
                <key>sourceSize</key>
                <string>{508,140}</string>
            </dict>
            <key>effect_fall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{496,138}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{496,138}}</string>
                <key>sourceSize</key>
                <string>{508,140}</string>
            </dict>
            <key>effect_fall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,360},{508,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{508,134}}</string>
                <key>sourceSize</key>
                <string>{510,136}</string>
            </dict>
            <key>effect_fall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,360},{508,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{508,134}}</string>
                <key>sourceSize</key>
                <string>{510,136}</string>
            </dict>
            <key>effect_fall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,360},{514,132}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,132}}</string>
                <key>sourceSize</key>
                <string>{516,150}</string>
            </dict>
            <key>effect_fall_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,360},{514,132}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,132}}</string>
                <key>sourceSize</key>
                <string>{516,150}</string>
            </dict>
            <key>effect_fall_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{518,120}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,120}}</string>
                <key>sourceSize</key>
                <string>{520,134}</string>
            </dict>
            <key>effect_fall_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{518,120}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,120}}</string>
                <key>sourceSize</key>
                <string>{520,134}</string>
            </dict>
            <key>effect_fall_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{528,106}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,106}}</string>
                <key>sourceSize</key>
                <string>{538,112}</string>
            </dict>
            <key>effect_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{180,30}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,114},{180,30}}</string>
                <key>sourceSize</key>
                <string>{242,144}</string>
            </dict>
            <key>effect_fall_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{528,106}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,106}}</string>
                <key>sourceSize</key>
                <string>{538,112}</string>
            </dict>
            <key>effect_fall_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,84}}</string>
                <key>sourceSize</key>
                <string>{536,86}</string>
            </dict>
            <key>effect_fall_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,84}}</string>
                <key>sourceSize</key>
                <string>{536,86}</string>
            </dict>
            <key>effect_fall_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{530,82}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,82}}</string>
                <key>sourceSize</key>
                <string>{538,88}</string>
            </dict>
            <key>effect_fall_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{530,82}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,82}}</string>
                <key>sourceSize</key>
                <string>{538,88}</string>
            </dict>
            <key>effect_fall_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{526,78}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,78}}</string>
                <key>sourceSize</key>
                <string>{530,90}</string>
            </dict>
            <key>effect_fall_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{526,78}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,78}}</string>
                <key>sourceSize</key>
                <string>{530,90}</string>
            </dict>
            <key>effect_fall_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,360},{512,80}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{536,94}</string>
            </dict>
            <key>effect_fall_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,360},{512,80}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{512,80}}</string>
                <key>sourceSize</key>
                <string>{536,94}</string>
            </dict>
            <key>effect_fall_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,360},{498,70}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{498,70}}</string>
                <key>sourceSize</key>
                <string>{522,94}</string>
            </dict>
            <key>effect_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,912},{342,80}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{342,80}}</string>
                <key>sourceSize</key>
                <string>{342,142}</string>
            </dict>
            <key>effect_fall_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,360},{498,70}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{498,70}}</string>
                <key>sourceSize</key>
                <string>{522,94}</string>
            </dict>
            <key>effect_fall_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,860},{498,50}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{498,50}}</string>
                <key>sourceSize</key>
                <string>{538,84}</string>
            </dict>
            <key>effect_fall_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,860},{498,50}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{498,50}}</string>
                <key>sourceSize</key>
                <string>{538,84}</string>
            </dict>
            <key>effect_fall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,912},{342,80}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{342,80}}</string>
                <key>sourceSize</key>
                <string>{342,142}</string>
            </dict>
            <key>effect_fall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,114},{394,94}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{394,94}}</string>
                <key>sourceSize</key>
                <string>{400,144}</string>
            </dict>
            <key>effect_fall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,114},{394,94}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{394,94}}</string>
                <key>sourceSize</key>
                <string>{400,144}</string>
            </dict>
            <key>effect_fall_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{450,110}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{450,110}}</string>
                <key>sourceSize</key>
                <string>{472,150}</string>
            </dict>
            <key>effect_fall_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{450,110}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{450,110}}</string>
                <key>sourceSize</key>
                <string>{472,150}</string>
            </dict>
            <key>effect_fall_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,210},{486,126}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{486,126}}</string>
                <key>sourceSize</key>
                <string>{490,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c55d07867b748ddd88293b91afda32c:1c193c8fee7318c7d3c5f0ad5837e4ac:9bcba3fa61913dc4ee7c69ed0882a7a4$</string>
            <key>textureFileName</key>
            <string>effect_fall.png</string>
        </dict>
    </dict>
</plist>
