<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_energy_pillar_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,147},{143,56}}</string>
                <key>offset</key>
                <string>{0,-147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,295},{143,56}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,292},{147,314}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,38},{147,314}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,326},{149,314}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{149,314}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{147,322}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{147,322}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{145,332}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{145,332}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,147},{145,320}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,32},{145,320}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,147},{143,324}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{143,324}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{143,336}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{143,336}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,338}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,14},{145,338}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{143,322}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{143,322}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,294},{143,320}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{143,320}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,926},{143,92}}</string>
                <key>offset</key>
                <string>{0,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,259},{143,92}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{143,326}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,25},{143,326}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,676},{151,316}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{151,316}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,616},{143,314}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{143,314}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,878},{143,162}}</string>
                <key>offset</key>
                <string>{-1,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,190},{143,162}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,878},{143,234}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,118},{143,234}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,733},{143,294}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,58},{143,294}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,588},{143,314}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,38},{143,314}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,294},{145,314}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{145,314}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,610},{145,314}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{145,314}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
            <key>effect_energy_pillar_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,441},{145,314}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,38},{145,314}}</string>
                <key>sourceSize</key>
                <string>{253,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_energy_pillar_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54cf7fa63c1075d4404eb22ffc0673d:232751a0314adf7a233287b87c7e2aa3:428decc7147999a576359e05040b0868$</string>
            <key>textureFileName</key>
            <string>effect_energy_pillar_end.png</string>
        </dict>
    </dict>
</plist>
