<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_levitation_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>effect_levitation_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,682},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,512},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,512},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,344},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,852},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_levitation_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,344},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,682},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_levitation_middle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{170,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>effect_levitation_middle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,682},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_levitation_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,852},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_levitation_middle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,342},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{170,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>effect_levitation_middle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,682},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_levitation_middle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,342},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,174},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,854},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_levitation_middle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,684},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_levitation_middle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,514},{168,168}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{170,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>effect_levitation_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,172},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,172},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,168}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{170,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>effect_levitation_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,170}</string>
            </dict>
            <key>effect_levitation_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,854},{168,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_levitation_middle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e562c83317c61d985796d50b5a5b375:f350eeb3b705b8f78ad7d1912a0fc8d8:58a952844c67d6da5031b06d44015cc5$</string>
            <key>textureFileName</key>
            <string>effect_levitation_middle.png</string>
        </dict>
    </dict>
</plist>
