<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fire_tonfa_flamethrower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,313},{94,67}}</string>
                <key>offset</key>
                <string>{-187,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{94,67}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,99},{140,89}}</string>
                <key>offset</key>
                <string>{136,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,31},{140,89}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,188},{138,83}}</string>
                <key>offset</key>
                <string>{137,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,35},{138,83}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,350},{136,93}}</string>
                <key>offset</key>
                <string>{137,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,24},{136,93}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{116,85}}</string>
                <key>offset</key>
                <string>{140,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,42},{116,85}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,388},{102,91}}</string>
                <key>offset</key>
                <string>{148,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,36},{102,91}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,380},{96,79}}</string>
                <key>offset</key>
                <string>{155,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,35},{96,79}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{70,57}}</string>
                <key>offset</key>
                <string>{168,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,42},{70,57}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,271},{150,79}}</string>
                <key>offset</key>
                <string>{-152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{150,79}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{244,89}}</string>
                <key>offset</key>
                <string>{-57,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,4},{244,89}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{208,99}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,17},{208,99}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{196,101}}</string>
                <key>offset</key>
                <string>{85,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,25},{196,101}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,291},{150,97}}</string>
                <key>offset</key>
                <string>{115,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,29},{150,97}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{162,101}}</string>
                <key>offset</key>
                <string>{129,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,28},{162,101}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,99},{168,103}}</string>
                <key>offset</key>
                <string>{136,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,26},{168,103}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
            <key>effect_fire_tonfa_flamethrower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,202},{158,111}}</string>
                <key>offset</key>
                <string>{141,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,18},{158,111}}</string>
                <key>sourceSize</key>
                <string>{484,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fire_tonfa_flamethrower.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1172e9ebb264be17f9b1d94ab166b3a:4531a7e5b430790b6828398a796531ff:7da6a8e34a9b22396809e15255eb50fd$</string>
            <key>textureFileName</key>
            <string>effect_fire_tonfa_flamethrower.png</string>
        </dict>
    </dict>
</plist>
