<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tornado_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,922},{180,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{180,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,370},{182,81}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,81}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{182,87}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,87}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{180,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,89}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{182,87}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,87}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,554},{182,85}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,85}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,186},{182,79}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,370},{182,83}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{182,83}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,257},{180,77}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,77}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,738},{182,85}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{182,85}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,554},{182,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{182,87}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,95},{180,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{180,85}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,95},{180,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,83}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,336},{180,79}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{180,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,738},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,738},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,95},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,95},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,176},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,176},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,738},{182,77}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{182,77}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,257},{182,77}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{182,77}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,186},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,554},{182,83}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,83}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,922},{180,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,89}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{182,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{182,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{182,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{182,89}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,89}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,186},{182,85}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,85}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,370},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,738},{182,87}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,87}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{182,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{182,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,186},{182,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{182,87}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,370},{182,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{182,87}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,922},{180,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,85}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,554},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,738},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,277},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,370},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
            <key>effect_tornado_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,554},{182,79}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,79}}</string>
                <key>sourceSize</key>
                <string>{184,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tornado_middle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:562aaada2fc1d41017a082ccfdc6c54e:50f71ef225aa99327967519e3d0ab030:a2f6c97a24cf6a3a83d146f9e1391e3b$</string>
            <key>textureFileName</key>
            <string>effect_tornado_middle.png</string>
        </dict>
    </dict>
</plist>
