<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tornado_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,872},{183,140}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{183,140}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,150},{193,142}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{193,142}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{193,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{193,144}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{193,146}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,434},{189,144}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{189,144}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,580},{185,144}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{185,144}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,846},{183,144}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{183,144}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,726},{183,144}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{183,144}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{185,146}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{185,146}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,150},{193,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{193,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,290},{193,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{193,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,584},{185,140}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{185,140}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,292},{193,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{193,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,150},{193,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{193,140}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,294},{193,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{193,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,566},{189,138}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{189,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{189,142}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{189,142}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{193,138}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{193,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,294},{193,138}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{193,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,430},{193,134}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{193,134}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,576},{189,136}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{189,136}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,706},{185,138}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{185,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{193,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{193,142}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,846},{183,138}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{183,138}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,148},{193,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{193,144}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{193,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{193,146}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{193,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{193,146}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{193,148}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,432},{189,150}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,150}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
            <key>effect_tornado_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,434},{189,140}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{189,140}}</string>
                <key>sourceSize</key>
                <string>{193,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tornado_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0fba708fe80ecfd0c33a6766c823494:a14504443ca7bc82d5b7da6295566917:d492440cd60357a1c2c186abfc5936a4$</string>
            <key>textureFileName</key>
            <string>effect_tornado_end.png</string>
        </dict>
    </dict>
</plist>
