<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bomb_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{212,224}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{212,224}}</string>
                <key>sourceSize</key>
                <string>{252,262}</string>
            </dict>
            <key>magic_bomb_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,717},{228,214}}</string>
                <key>offset</key>
                <string>{84,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,3},{228,214}}</string>
                <key>sourceSize</key>
                <string>{396,222}</string>
            </dict>
            <key>magic_bomb_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,476},{228,208}}</string>
                <key>offset</key>
                <string>{84,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,2},{228,208}}</string>
                <key>sourceSize</key>
                <string>{396,222}</string>
            </dict>
            <key>magic_bomb_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{228,219}}</string>
                <key>offset</key>
                <string>{82,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,2},{228,219}}</string>
                <key>sourceSize</key>
                <string>{396,233}</string>
            </dict>
            <key>magic_bomb_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{228,219}}</string>
                <key>offset</key>
                <string>{82,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,2},{228,219}}</string>
                <key>sourceSize</key>
                <string>{396,233}</string>
            </dict>
            <key>magic_bomb_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,706},{226,227}}</string>
                <key>offset</key>
                <string>{83,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,1},{226,227}}</string>
                <key>sourceSize</key>
                <string>{396,249}</string>
            </dict>
            <key>magic_bomb_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,706},{226,227}}</string>
                <key>offset</key>
                <string>{83,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,1},{226,227}}</string>
                <key>sourceSize</key>
                <string>{396,249}</string>
            </dict>
            <key>magic_bomb_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{221,238}}</string>
                <key>offset</key>
                <string>{80,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,1},{221,238}}</string>
                <key>sourceSize</key>
                <string>{385,262}</string>
            </dict>
            <key>magic_bomb_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,238}}</string>
                <key>offset</key>
                <string>{80,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,1},{223,238}}</string>
                <key>sourceSize</key>
                <string>{387,262}</string>
            </dict>
            <key>magic_bomb_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,242},{213,232}}</string>
                <key>offset</key>
                <string>{77,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{213,232}}</string>
                <key>sourceSize</key>
                <string>{375,262}</string>
            </dict>
            <key>magic_bomb_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,242},{213,232}}</string>
                <key>offset</key>
                <string>{77,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{213,232}}</string>
                <key>sourceSize</key>
                <string>{375,262}</string>
            </dict>
            <key>magic_bomb_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,414},{202,194}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,7},{202,194}}</string>
                <key>sourceSize</key>
                <string>{268,204}</string>
            </dict>
            <key>magic_bomb_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,426},{189,206}}</string>
                <key>offset</key>
                <string>{64,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,3},{189,206}}</string>
                <key>sourceSize</key>
                <string>{323,256}</string>
            </dict>
            <key>magic_bomb_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,426},{189,206}}</string>
                <key>offset</key>
                <string>{64,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,3},{189,206}}</string>
                <key>sourceSize</key>
                <string>{323,256}</string>
            </dict>
            <key>magic_bomb_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,233},{191,206}}</string>
                <key>offset</key>
                <string>{62,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,3},{191,206}}</string>
                <key>sourceSize</key>
                <string>{323,256}</string>
            </dict>
            <key>magic_bomb_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,233},{191,206}}</string>
                <key>offset</key>
                <string>{62,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,3},{191,206}}</string>
                <key>sourceSize</key>
                <string>{323,256}</string>
            </dict>
            <key>magic_bomb_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,823},{157,182}}</string>
                <key>offset</key>
                <string>{75,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,2},{157,182}}</string>
                <key>sourceSize</key>
                <string>{323,256}</string>
            </dict>
            <key>magic_bomb_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,823},{157,182}}</string>
                <key>offset</key>
                <string>{75,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,2},{157,182}}</string>
                <key>sourceSize</key>
                <string>{323,256}</string>
            </dict>
            <key>magic_bomb_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{159,126}}</string>
                <key>offset</key>
                <string>{73,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,5},{159,126}}</string>
                <key>sourceSize</key>
                <string>{311,262}</string>
            </dict>
            <key>magic_bomb_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{159,126}}</string>
                <key>offset</key>
                <string>{73,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,5},{159,126}}</string>
                <key>sourceSize</key>
                <string>{311,262}</string>
            </dict>
            <key>magic_bomb_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{105,64}}</string>
                <key>offset</key>
                <string>{49,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,6},{105,64}}</string>
                <key>sourceSize</key>
                <string>{215,262}</string>
            </dict>
            <key>magic_bomb_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{105,64}}</string>
                <key>offset</key>
                <string>{49,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,6},{105,64}}</string>
                <key>sourceSize</key>
                <string>{215,262}</string>
            </dict>
            <key>magic_bomb_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,823},{187,192}}</string>
                <key>offset</key>
                <string>{47,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,15},{187,192}}</string>
                <key>sourceSize</key>
                <string>{289,210}</string>
            </dict>
            <key>magic_bomb_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,947},{30,18}}</string>
                <key>offset</key>
                <string>{29,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{30,18}}</string>
                <key>sourceSize</key>
                <string>{94,262}</string>
            </dict>
            <key>magic_bomb_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,947},{30,18}}</string>
                <key>offset</key>
                <string>{29,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{30,18}}</string>
                <key>sourceSize</key>
                <string>{94,262}</string>
            </dict>
            <key>magic_bomb_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,216},{209,196}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,10},{209,196}}</string>
                <key>sourceSize</key>
                <string>{291,212}</string>
            </dict>
            <key>magic_bomb_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{233,226}}</string>
                <key>offset</key>
                <string>{25,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,5},{233,226}}</string>
                <key>sourceSize</key>
                <string>{293,262}</string>
            </dict>
            <key>magic_bomb_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,618},{192,203}}</string>
                <key>offset</key>
                <string>{59,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,17},{192,203}}</string>
                <key>sourceSize</key>
                <string>{316,227}</string>
            </dict>
            <key>magic_bomb_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,426},{191,204}}</string>
                <key>offset</key>
                <string>{59,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,14},{191,204}}</string>
                <key>sourceSize</key>
                <string>{313,222}</string>
            </dict>
            <key>magic_bomb_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{229,206}}</string>
                <key>offset</key>
                <string>{80,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,10},{229,206}}</string>
                <key>sourceSize</key>
                <string>{391,218}</string>
            </dict>
            <key>magic_bomb_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{229,206}}</string>
                <key>offset</key>
                <string>{80,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,10},{229,206}}</string>
                <key>sourceSize</key>
                <string>{391,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_bomb_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2237d9d6eb6ac35e221549d1c27133e:fe9bae9c3109533c8ab628426f844b2f:8dca496105f330fe0cf6eabacefe0208$</string>
            <key>textureFileName</key>
            <string>magic_bomb_end.png</string>
        </dict>
    </dict>
</plist>
