<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_lightning_arrow_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,348},{96,76}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{96,76}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>magic_lightning_arrow_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,340},{184,122}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,1},{184,122}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>magic_lightning_arrow_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,284},{184,122}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,1},{184,122}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>magic_lightning_arrow_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,464},{156,120}}</string>
                <key>offset</key>
                <string>{28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,1},{156,120}}</string>
                <key>sourceSize</key>
                <string>{216,142}</string>
            </dict>
            <key>magic_lightning_arrow_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,292},{152,114}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,2},{152,114}}</string>
                <key>sourceSize</key>
                <string>{216,132}</string>
            </dict>
            <key>magic_lightning_arrow_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,212},{188,126}}</string>
                <key>offset</key>
                <string>{29,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,1},{188,126}}</string>
                <key>sourceSize</key>
                <string>{252,142}</string>
            </dict>
            <key>magic_lightning_arrow_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{222,146}}</string>
                <key>offset</key>
                <string>{37,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{222,146}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>magic_lightning_arrow_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,56},{234,154}}</string>
                <key>offset</key>
                <string>{39,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,2},{234,154}}</string>
                <key>sourceSize</key>
                <string>{318,176}</string>
            </dict>
            <key>magic_lightning_arrow_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,166}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,2},{280,166}}</string>
                <key>sourceSize</key>
                <string>{356,174}</string>
            </dict>
            <key>magic_lightning_arrow_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{261,52}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{261,52}}</string>
                <key>sourceSize</key>
                <string>{267,66}</string>
            </dict>
            <key>magic_lightning_arrow_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{242,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{242,122}}</string>
                <key>sourceSize</key>
                <string>{244,126}</string>
            </dict>
            <key>magic_lightning_arrow_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,284},{130,74}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{130,74}}</string>
                <key>sourceSize</key>
                <string>{136,98}</string>
            </dict>
            <key>magic_lightning_arrow_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{231,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{231,136}}</string>
                <key>sourceSize</key>
                <string>{231,144}</string>
            </dict>
            <key>magic_lightning_arrow_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,126},{232,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{232,156}}</string>
                <key>sourceSize</key>
                <string>{232,158}</string>
            </dict>
            <key>magic_lightning_arrow_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,140},{227,150}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{227,150}}</string>
                <key>sourceSize</key>
                <string>{229,158}</string>
            </dict>
            <key>magic_lightning_arrow_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{192,166}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{192,166}}</string>
                <key>sourceSize</key>
                <string>{194,186}</string>
            </dict>
            <key>magic_lightning_arrow_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{158,160}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{158,160}}</string>
                <key>sourceSize</key>
                <string>{168,184}</string>
            </dict>
            <key>magic_lightning_arrow_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,292},{140,64}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{140,64}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>magic_lightning_arrow_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,408},{152,56}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{152,56}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>magic_lightning_arrow_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,170},{176,56}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{176,56}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>magic_lightning_arrow_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{176,50}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{176,50}}</string>
                <key>sourceSize</key>
                <string>{226,74}</string>
            </dict>
            <key>magic_lightning_arrow_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{176,50}}</string>
                <key>offset</key>
                <string>{33,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,22},{176,50}}</string>
                <key>sourceSize</key>
                <string>{246,74}</string>
            </dict>
            <key>magic_lightning_arrow_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,446},{166,74}}</string>
                <key>offset</key>
                <string>{63,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,0},{166,74}}</string>
                <key>sourceSize</key>
                <string>{298,74}</string>
            </dict>
            <key>magic_lightning_arrow_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,408},{170,68}}</string>
                <key>offset</key>
                <string>{61,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,1},{170,68}}</string>
                <key>sourceSize</key>
                <string>{294,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_lightning_arrow_start.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7308f43a9bfbef36af414458f954b231:9a02f758f7b223c63a1a05833dc4f9e4:e634b504e69ba96be7fc91828f551e41$</string>
            <key>textureFileName</key>
            <string>magic_lightning_arrow_start.png</string>
        </dict>
    </dict>
</plist>
