<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_acid_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,836},{47,37}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{47,37}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>magic_acid_cloud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,111},{166,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,107}}</string>
                <key>sourceSize</key>
                <string>{170,107}</string>
            </dict>
            <key>magic_acid_cloud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{167,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,107}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>magic_acid_cloud_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{167,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,107}}</string>
                <key>sourceSize</key>
                <string>{169,107}</string>
            </dict>
            <key>magic_acid_cloud_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,218},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,220},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,326},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,328},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{166,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,107}}</string>
                <key>sourceSize</key>
                <string>{170,107}</string>
            </dict>
            <key>magic_acid_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,758},{76,57}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,57}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>magic_acid_cloud_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,650},{165,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,106}}</string>
                <key>sourceSize</key>
                <string>{169,106}</string>
            </dict>
            <key>magic_acid_cloud_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,434},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{167,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,106}}</string>
                <key>sourceSize</key>
                <string>{169,106}</string>
            </dict>
            <key>magic_acid_cloud_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,110},{167,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,106}}</string>
                <key>sourceSize</key>
                <string>{169,106}</string>
            </dict>
            <key>magic_acid_cloud_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,436},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,542},{166,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>magic_acid_cloud_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{166,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,105}}</string>
                <key>sourceSize</key>
                <string>{170,105}</string>
            </dict>
            <key>magic_acid_cloud_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,544},{166,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,105}}</string>
                <key>sourceSize</key>
                <string>{170,105}</string>
            </dict>
            <key>magic_acid_cloud_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{164,105}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,105}}</string>
                <key>sourceSize</key>
                <string>{170,105}</string>
            </dict>
            <key>magic_acid_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,920},{102,71}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{102,71}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>magic_acid_cloud_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,758},{162,105}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,105}}</string>
                <key>sourceSize</key>
                <string>{168,105}</string>
            </dict>
            <key>magic_acid_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,758},{127,83}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{127,83}}</string>
                <key>sourceSize</key>
                <string>{131,87}</string>
            </dict>
            <key>magic_acid_cloud_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{145,95}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,95}}</string>
                <key>sourceSize</key>
                <string>{149,97}</string>
            </dict>
            <key>magic_acid_cloud_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,922},{156,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>magic_acid_cloud_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,758},{160,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,101}}</string>
                <key>sourceSize</key>
                <string>{164,101}</string>
            </dict>
            <key>magic_acid_cloud_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{164,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,105}}</string>
                <key>sourceSize</key>
                <string>{168,105}</string>
            </dict>
            <key>magic_acid_cloud_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,650},{165,106}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,106}}</string>
                <key>sourceSize</key>
                <string>{169,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_acid_cloud.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b2d0384fcf41b60f963d1808c672c7f:614e3ff6d69b163773ca13c563dc1c44:64674b438da6ca29e9e7996308cb496a$</string>
            <key>textureFileName</key>
            <string>magic_acid_cloud.png</string>
        </dict>
    </dict>
</plist>
