<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_asteroid_end_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,593},{213,199}}</string>
                <key>offset</key>
                <string>{-23,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,199}}</string>
                <key>sourceSize</key>
                <string>{259,261}</string>
            </dict>
            <key>magic_asteroid_end_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{272,195}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{272,195}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
            <key>magic_asteroid_end_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{270,194}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{270,194}}</string>
                <key>sourceSize</key>
                <string>{286,254}</string>
            </dict>
            <key>magic_asteroid_end_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{270,194}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{270,194}}</string>
                <key>sourceSize</key>
                <string>{286,254}</string>
            </dict>
            <key>magic_asteroid_end_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{274,192}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{274,192}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>magic_asteroid_end_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{274,189}}</string>
                <key>offset</key>
                <string>{13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{274,189}}</string>
                <key>sourceSize</key>
                <string>{300,247}</string>
            </dict>
            <key>magic_asteroid_end_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,597},{260,183}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{260,183}}</string>
                <key>sourceSize</key>
                <string>{282,235}</string>
            </dict>
            <key>magic_asteroid_end_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{242,122}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{242,122}}</string>
                <key>sourceSize</key>
                <string>{282,128}</string>
            </dict>
            <key>magic_asteroid_end_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,836},{249,121}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{249,121}}</string>
                <key>sourceSize</key>
                <string>{285,139}</string>
            </dict>
            <key>magic_asteroid_end_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,836},{249,121}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{249,121}}</string>
                <key>sourceSize</key>
                <string>{285,139}</string>
            </dict>
            <key>magic_asteroid_end_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,859},{243,122}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{243,122}}</string>
                <key>sourceSize</key>
                <string>{275,138}</string>
            </dict>
            <key>magic_asteroid_end_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,274},{213,199}}</string>
                <key>offset</key>
                <string>{-23,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,199}}</string>
                <key>sourceSize</key>
                <string>{259,261}</string>
            </dict>
            <key>magic_asteroid_end_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,593},{243,122}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{243,122}}</string>
                <key>sourceSize</key>
                <string>{275,138}</string>
            </dict>
            <key>magic_asteroid_end_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,838},{245,118}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{245,118}}</string>
                <key>sourceSize</key>
                <string>{275,132}</string>
            </dict>
            <key>magic_asteroid_end_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,475},{245,116}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{245,116}}</string>
                <key>sourceSize</key>
                <string>{275,132}</string>
            </dict>
            <key>magic_asteroid_end_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,593},{215,111}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{215,111}}</string>
                <key>sourceSize</key>
                <string>{221,123}</string>
            </dict>
            <key>magic_asteroid_end_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,983},{174,39}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{174,39}}</string>
                <key>sourceSize</key>
                <string>{204,95}</string>
            </dict>
            <key>magic_asteroid_end_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,395},{241,196}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{241,196}}</string>
                <key>sourceSize</key>
                <string>{259,260}</string>
            </dict>
            <key>magic_asteroid_end_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,593},{241,196}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{241,196}}</string>
                <key>sourceSize</key>
                <string>{259,260}</string>
            </dict>
            <key>magic_asteroid_end_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,395},{255,196}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{255,196}}</string>
                <key>sourceSize</key>
                <string>{259,260}</string>
            </dict>
            <key>magic_asteroid_end_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,193},{255,196}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{255,196}}</string>
                <key>sourceSize</key>
                <string>{259,260}</string>
            </dict>
            <key>magic_asteroid_end_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,196},{269,197}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{269,197}}</string>
                <key>sourceSize</key>
                <string>{279,259}</string>
            </dict>
            <key>magic_asteroid_end_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{269,197}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{269,197}}</string>
                <key>sourceSize</key>
                <string>{279,259}</string>
            </dict>
            <key>magic_asteroid_end_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,197}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{272,197}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_asteroid_end_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc8e007646d6eaa25a0813add92d0d56:be183fdb4681c3c3d2f06bcf8fc6c75c:590d67a01a099f55c745e1cd9139cd92$</string>
            <key>textureFileName</key>
            <string>magic_asteroid_end_2.png</string>
        </dict>
    </dict>
</plist>
