<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_pillar_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,974},{38,47}}</string>
                <key>offset</key>
                <string>{-34,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,76},{38,47}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{130,169}}</string>
                <key>offset</key>
                <string>{-38,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,48},{130,169}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,874},{144,157}}</string>
                <key>offset</key>
                <string>{-53,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,58},{144,157}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,874},{144,157}}</string>
                <key>offset</key>
                <string>{-53,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,58},{144,157}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,874},{138,145}}</string>
                <key>offset</key>
                <string>{-57,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,72},{138,145}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,874},{148,191}}</string>
                <key>offset</key>
                <string>{-69,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,26},{148,191}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{162,209}}</string>
                <key>offset</key>
                <string>{-90,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{162,209}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{162,209}}</string>
                <key>offset</key>
                <string>{-90,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{162,209}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,442},{218,205}}</string>
                <key>offset</key>
                <string>{-65,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,12},{218,205}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,662},{248,205}}</string>
                <key>offset</key>
                <string>{-50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{248,205}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,659},{354,213}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{354,213}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,925},{50,51}}</string>
                <key>offset</key>
                <string>{-45,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,76},{50,51}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,659},{354,213}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{354,213}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,442},{372,215}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{372,215}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,225},{400,215}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{400,215}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{400,219}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{400,219}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,221}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{412,221}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{406,221}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,221}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{406,221}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,221}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{406,221}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{406,221}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{406,221}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{406,221}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{394,209}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{394,209}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,869},{54,53}}</string>
                <key>offset</key>
                <string>{-45,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,65},{54,53}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,880},{92,203}}</string>
                <key>offset</key>
                <string>{-137,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{92,203}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,225},{92,151}}</string>
                <key>offset</key>
                <string>{-144,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,66},{92,151}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,225},{92,151}}</string>
                <key>offset</key>
                <string>{-144,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,66},{92,151}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,950},{60,63}}</string>
                <key>offset</key>
                <string>{-42,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,61},{60,63}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,869},{68,79}}</string>
                <key>offset</key>
                <string>{-39,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,57},{68,79}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,378},{80,59}}</string>
                <key>offset</key>
                <string>{-49,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,64},{80,59}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,213},{104,151}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,66},{104,151}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,213},{104,151}}</string>
                <key>offset</key>
                <string>{-36,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,66},{104,151}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
            <key>magic_fire_pillar_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{130,169}}</string>
                <key>offset</key>
                <string>{-38,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,48},{130,169}}</string>
                <key>sourceSize</key>
                <string>{420,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_pillar_start.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:516bc5399bb2d5ba25c5ac152d6ca307:a78533a156bb676915cbea98d90e2047:bdfde81b1b6ea6f7f64e1f8f5f3c7147$</string>
            <key>textureFileName</key>
            <string>magic_fire_pillar_start.png</string>
        </dict>
    </dict>
</plist>
