<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_asteroid_end_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,413},{71,63}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,76},{71,63}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,139},{149,135}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{149,135}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{151,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{151,139}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{151,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{151,139}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,139}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,139}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,413},{71,63}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,76},{71,63}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{113,97}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{113,97}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{113,97}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{113,97}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{135,121}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{135,121}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{135,121}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{135,121}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{149,135}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{149,135}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{149,135}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{149,135}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
            <key>magic_asteroid_end_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,139},{149,135}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{149,135}}</string>
                <key>sourceSize</key>
                <string>{155,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_asteroid_end_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54def1741b962058c21a9374c5658c92:f7eca3a73dd3eea8cfbbe5430655a952:8538e3946fa9c7d65986c378a9037e1a$</string>
            <key>textureFileName</key>
            <string>magic_asteroid_end_1.png</string>
        </dict>
    </dict>
</plist>
