<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_mass_bomb_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,326},{186,81}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{186,81}}</string>
                <key>sourceSize</key>
                <string>{200,89}</string>
            </dict>
            <key>magic_mass_bomb_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,370},{198,160}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,160}}</string>
                <key>sourceSize</key>
                <string>{208,226}</string>
            </dict>
            <key>magic_mass_bomb_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,399},{215,166}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,166}}</string>
                <key>sourceSize</key>
                <string>{225,236}</string>
            </dict>
            <key>magic_mass_bomb_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,339},{215,166}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,166}}</string>
                <key>sourceSize</key>
                <string>{225,236}</string>
            </dict>
            <key>magic_mass_bomb_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,169},{232,170}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,170}}</string>
                <key>sourceSize</key>
                <string>{232,242}</string>
            </dict>
            <key>magic_mass_bomb_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,169},{232,170}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,170}}</string>
                <key>sourceSize</key>
                <string>{232,242}</string>
            </dict>
            <key>magic_mass_bomb_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{243,166}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,166}}</string>
                <key>sourceSize</key>
                <string>{243,234}</string>
            </dict>
            <key>magic_mass_bomb_middle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{243,169}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{243,169}}</string>
                <key>sourceSize</key>
                <string>{247,239}</string>
            </dict>
            <key>magic_mass_bomb_middle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{243,169}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{243,169}}</string>
                <key>sourceSize</key>
                <string>{247,239}</string>
            </dict>
            <key>magic_mass_bomb_middle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,166},{241,136}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{241,136}}</string>
                <key>sourceSize</key>
                <string>{243,254}</string>
            </dict>
            <key>magic_mass_bomb_middle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,200},{238,126}}</string>
                <key>offset</key>
                <string>{2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{238,126}}</string>
                <key>sourceSize</key>
                <string>{242,262}</string>
            </dict>
            <key>magic_mass_bomb_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,512},{176,124}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,124}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>magic_mass_bomb_middle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,0},{243,120}}</string>
                <key>offset</key>
                <string>{1,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,120}}</string>
                <key>sourceSize</key>
                <string>{245,252}</string>
            </dict>
            <key>magic_mass_bomb_middle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,120},{242,80}}</string>
                <key>offset</key>
                <string>{0,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,80}}</string>
                <key>sourceSize</key>
                <string>{242,254}</string>
            </dict>
            <key>magic_mass_bomb_middle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,302},{230,68}}</string>
                <key>offset</key>
                <string>{0,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,68}}</string>
                <key>sourceSize</key>
                <string>{230,254}</string>
            </dict>
            <key>magic_mass_bomb_middle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{218,60}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,60}}</string>
                <key>sourceSize</key>
                <string>{218,252}</string>
            </dict>
            <key>magic_mass_bomb_middle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,326},{228,64}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,64}}</string>
                <key>sourceSize</key>
                <string>{228,256}</string>
            </dict>
            <key>magic_mass_bomb_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,530},{162,141}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,141}}</string>
                <key>sourceSize</key>
                <string>{162,191}</string>
            </dict>
            <key>magic_mass_bomb_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,874},{145,146}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{175,206}</string>
            </dict>
            <key>magic_mass_bomb_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,721},{161,153}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,153}}</string>
                <key>sourceSize</key>
                <string>{185,219}</string>
            </dict>
            <key>magic_mass_bomb_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,663},{161,153}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,153}}</string>
                <key>sourceSize</key>
                <string>{185,219}</string>
            </dict>
            <key>magic_mass_bomb_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,390},{185,156}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,156}}</string>
                <key>sourceSize</key>
                <string>{203,224}</string>
            </dict>
            <key>magic_mass_bomb_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,565},{185,156}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,156}}</string>
                <key>sourceSize</key>
                <string>{203,224}</string>
            </dict>
            <key>magic_mass_bomb_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,505},{198,158}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,158}}</string>
                <key>sourceSize</key>
                <string>{208,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_mass_bomb_middle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8209405f0453fbc067708ba1dc00fd4c:a165d6e009f2538b25e9ebc8a69ec662:5db9c7cd250b67045dbd15304bf7877f$</string>
            <key>textureFileName</key>
            <string>magic_mass_bomb_middle.png</string>
        </dict>
    </dict>
</plist>
