<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_mass_bomb_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,883},{117,77}}</string>
                <key>offset</key>
                <string>{-9,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,162},{117,77}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,594},{287,233}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{287,233}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,235},{307,231}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{307,231}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,235},{307,231}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{307,231}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,241},{299,231}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{299,231}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,241},{299,231}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{299,231}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{311,237}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{311,237}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{311,237}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{311,237}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{329,233}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{329,233}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{329,233}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{329,233}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{345,237}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{345,237}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,796},{135,169}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,68},{135,169}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{345,237}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{345,237}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{341,243}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,243}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{341,243}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{343,231}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{343,231}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{343,231}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{343,231}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,247},{345,201}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{345,201}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,705},{311,89}}</string>
                <key>offset</key>
                <string>{-15,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{311,89}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,705},{311,89}}</string>
                <key>offset</key>
                <string>{-15,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{311,89}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{303,85}}</string>
                <key>offset</key>
                <string>{-10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{303,85}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{303,85}}</string>
                <key>offset</key>
                <string>{-10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{303,85}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,811},{183,205}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,33},{183,205}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,811},{205,217}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,22},{205,217}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,474},{239,229}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{239,229}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,474},{239,229}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{239,229}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,544},{265,237}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,5},{265,237}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,544},{265,237}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,5},{265,237}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
            <key>magic_mass_bomb_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,594},{287,233}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{287,233}}</string>
                <key>sourceSize</key>
                <string>{355,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_mass_bomb_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d4466d73370ba9cbe8ee1a05a776b1d:2794a2f52dd5edec4b31c187c18a204b:1022f2fd8bc8bfebb0140ec2a4c90079$</string>
            <key>textureFileName</key>
            <string>magic_mass_bomb_end.png</string>
        </dict>
    </dict>
</plist>
