<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_earth_quake_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,275},{79,33}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,63},{79,33}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{137,87}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{137,87}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,180},{155,89}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{155,89}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,180},{155,89}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{155,89}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{169,91}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{169,91}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{169,91}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{169,91}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,91},{175,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,87}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,91},{175,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{175,87}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{181,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,89}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{181,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,89}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{179,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{179,91}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,267},{89,61}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,36},{89,61}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{179,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{179,91}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{175,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,95}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,89},{175,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,95}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,178},{173,89}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{173,89}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,178},{173,89}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{173,89}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,89},{81,5}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,90},{81,5}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,89},{81,5}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,90},{81,5}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{99,85}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{99,85}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{99,85}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{99,85}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,267},{111,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,267},{111,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{111,97}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,87},{121,93}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{121,93}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,87},{121,93}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{121,93}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
            <key>magic_earth_quake_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{137,87}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{137,87}}</string>
                <key>sourceSize</key>
                <string>{181,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_earth_quake_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f15332dece9b77c79bd04993b7bd302c:3ba48d5382d75d525d443ec048f3fd58:8c938c8f04cd382c76ba55ab70491008$</string>
            <key>textureFileName</key>
            <string>magic_earth_quake_end.png</string>
        </dict>
    </dict>
</plist>
