<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_splash_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{10,17}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{12,29}</string>
            </dict>
            <key>magic_fire_splash_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,375},{61,86}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{61,86}}</string>
                <key>sourceSize</key>
                <string>{67,118}</string>
            </dict>
            <key>magic_fire_splash_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,357},{75,105}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{75,105}}</string>
                <key>sourceSize</key>
                <string>{81,135}</string>
            </dict>
            <key>magic_fire_splash_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,464},{86,111}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{86,111}}</string>
                <key>sourceSize</key>
                <string>{88,135}</string>
            </dict>
            <key>magic_fire_splash_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,499},{98,124}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{98,124}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
            <key>magic_fire_splash_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,885},{125,141}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,141}}</string>
                <key>sourceSize</key>
                <string>{133,141}</string>
            </dict>
            <key>magic_fire_splash_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,899},{123,139}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,139}}</string>
                <key>sourceSize</key>
                <string>{129,141}</string>
            </dict>
            <key>magic_fire_splash_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,752},{125,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{125,133}</string>
            </dict>
            <key>magic_fire_splash_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,899},{119,112}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{119,112}}</string>
                <key>sourceSize</key>
                <string>{125,128}</string>
            </dict>
            <key>magic_fire_splash_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,577},{125,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,91}}</string>
                <key>sourceSize</key>
                <string>{125,93}</string>
            </dict>
            <key>magic_fire_splash_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,625},{125,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,99}</string>
            </dict>
            <key>magic_fire_splash_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{10,17}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{12,29}</string>
            </dict>
            <key>magic_fire_splash_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,740},{112,95}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,95}}</string>
                <key>sourceSize</key>
                <string>{122,105}</string>
            </dict>
            <key>magic_fire_splash_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,704},{112,95}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,95}}</string>
                <key>sourceSize</key>
                <string>{122,107}</string>
            </dict>
            <key>magic_fire_splash_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,643},{117,95}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,95}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>magic_fire_splash_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,874},{117,95}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,95}}</string>
                <key>sourceSize</key>
                <string>{127,117}</string>
            </dict>
            <key>magic_fire_splash_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,597},{119,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,96}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>magic_fire_splash_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,499},{119,96}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,96}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>magic_fire_splash_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,818},{110,94}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>magic_fire_splash_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,265},{90,79}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{122,111}</string>
            </dict>
            <key>magic_fire_splash_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,930},{91,83}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>magic_fire_splash_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{119,139}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,139}}</string>
                <key>sourceSize</key>
                <string>{135,187}</string>
            </dict>
            <key>magic_fire_splash_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,262},{37,50}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>magic_fire_splash_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,704},{149,168}}</string>
                <key>offset</key>
                <string>{-35,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,168}}</string>
                <key>sourceSize</key>
                <string>{219,274}</string>
            </dict>
            <key>magic_fire_splash_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{135,160}}</string>
                <key>offset</key>
                <string>{-42,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,160}}</string>
                <key>sourceSize</key>
                <string>{219,274}</string>
            </dict>
            <key>magic_fire_splash_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,892},{127,162}}</string>
                <key>offset</key>
                <string>{-25,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,162}}</string>
                <key>sourceSize</key>
                <string>{177,272}</string>
            </dict>
            <key>magic_fire_splash_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,519},{157,162}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,162}}</string>
                <key>sourceSize</key>
                <string>{157,266}</string>
            </dict>
            <key>magic_fire_splash_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,704},{163,186}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,272}</string>
            </dict>
            <key>magic_fire_splash_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,505},{193,173}}</string>
                <key>offset</key>
                <string>{-12,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,173}}</string>
                <key>sourceSize</key>
                <string>{217,269}</string>
            </dict>
            <key>magic_fire_splash_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,704},{193,176}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,176}}</string>
                <key>sourceSize</key>
                <string>{217,280}</string>
            </dict>
            <key>magic_fire_splash_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{196,113}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,113}}</string>
                <key>sourceSize</key>
                <string>{218,157}</string>
            </dict>
            <key>magic_fire_splash_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,386},{198,111}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,111}}</string>
                <key>sourceSize</key>
                <string>{220,157}</string>
            </dict>
            <key>magic_fire_splash_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,517},{198,124}}</string>
                <key>offset</key>
                <string>{-11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,124}}</string>
                <key>sourceSize</key>
                <string>{220,188}</string>
            </dict>
            <key>magic_fire_splash_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,642},{43,53}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>magic_fire_splash_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,391},{201,124}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,124}}</string>
                <key>sourceSize</key>
                <string>{221,188}</string>
            </dict>
            <key>magic_fire_splash_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,265},{207,124}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,124}}</string>
                <key>sourceSize</key>
                <string>{223,192}</string>
            </dict>
            <key>magic_fire_splash_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,375},{205,122}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,122}}</string>
                <key>sourceSize</key>
                <string>{223,192}</string>
            </dict>
            <key>magic_fire_splash_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{217,124}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,124}}</string>
                <key>sourceSize</key>
                <string>{233,202}</string>
            </dict>
            <key>magic_fire_splash_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,262},{222,122}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,122}}</string>
                <key>sourceSize</key>
                <string>{242,202}</string>
            </dict>
            <key>magic_fire_splash_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,246},{226,127}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,127}}</string>
                <key>sourceSize</key>
                <string>{250,217}</string>
            </dict>
            <key>magic_fire_splash_start_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{245,127}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,127}}</string>
                <key>sourceSize</key>
                <string>{253,217}</string>
            </dict>
            <key>magic_fire_splash_start_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,129}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{263,129}}</string>
                <key>sourceSize</key>
                <string>{271,223}</string>
            </dict>
            <key>magic_fire_splash_start_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,131},{235,129}}</string>
                <key>offset</key>
                <string>{-12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,129}}</string>
                <key>sourceSize</key>
                <string>{259,223}</string>
            </dict>
            <key>magic_fire_splash_start_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,132},{233,131}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,131}}</string>
                <key>sourceSize</key>
                <string>{261,231}</string>
            </dict>
            <key>magic_fire_splash_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{48,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>magic_fire_splash_start_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{234,129}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,129}}</string>
                <key>sourceSize</key>
                <string>{260,231}</string>
            </dict>
            <key>magic_fire_splash_start_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{236,128}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,128}}</string>
                <key>sourceSize</key>
                <string>{264,230}</string>
            </dict>
            <key>magic_fire_splash_start_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,120},{236,124}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,124}}</string>
                <key>sourceSize</key>
                <string>{264,230}</string>
            </dict>
            <key>magic_fire_splash_start_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{235,113}}</string>
                <key>offset</key>
                <string>{-16,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,113}}</string>
                <key>sourceSize</key>
                <string>{267,211}</string>
            </dict>
            <key>magic_fire_splash_start_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{237,116}}</string>
                <key>offset</key>
                <string>{-14,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,116}}</string>
                <key>sourceSize</key>
                <string>{265,220}</string>
            </dict>
            <key>magic_fire_splash_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,463},{54,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,60}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>magic_fire_splash_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,678},{54,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{54,65}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>magic_fire_splash_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,642},{55,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,65}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>magic_fire_splash_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,837},{63,88}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{63,88}}</string>
                <key>sourceSize</key>
                <string>{67,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_splash_start.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f318467f5b6d782d409ad5f69e91cae:078f7b77bab8dee525ecce8c1883bd73:111e2b9868a4c1bb66a9af3d57180f0a$</string>
            <key>textureFileName</key>
            <string>magic_fire_splash_start.png</string>
        </dict>
    </dict>
</plist>
