<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_mind_throw_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,302},{31,23}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{31,23}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{89,155}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{89,155}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{97,167}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{97,167}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{105,165}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{105,165}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,468},{121,121}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{121,121}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,0},{121,117}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,32},{121,117}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,601},{131,121}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{131,121}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,894},{129,117}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,27},{129,117}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,137},{123,125}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{123,125}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,761},{135,105}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{135,105}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,325},{143,125}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{143,125}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,692},{63,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,49},{63,65}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{151,133}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{151,133}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{143,135}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{143,135}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{127,133}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{127,133}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{127,135}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{127,135}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,0},{129,137}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{129,137}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,468},{113,133}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{113,133}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,468},{115,131}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,21},{115,131}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,761},{135,105}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,43},{135,105}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,730},{129,101}}</string>
                <key>offset</key>
                <string>{18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,42},{129,101}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,284},{127,103}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{127,103}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,872},{71,73}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{71,73}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,121},{117,105}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{117,105}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,363},{105,113}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{105,113}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,246},{117,105}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,35},{117,105}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,896},{127,113}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{127,113}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,0},{103,105}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{103,105}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,232},{97,107}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{97,107}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,698},{101,111}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{101,111}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{117,125}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{117,125}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,761},{125,133}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{125,133}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,246},{79,119}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{79,119}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,279},{75,75}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{75,75}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{85,117}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,19},{85,117}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,339},{97,89}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,22},{97,89}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,629},{87,91}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,23},{87,91}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,734},{93,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{93,71}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,720},{95,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{95,73}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,538},{91,83}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,45},{91,83}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,354},{91,81}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{91,81}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,468},{81,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{81,111}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,581},{81,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{81,111}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,608},{93,101}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,23},{93,101}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,202},{77,77}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,43},{77,77}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,562},{93,101}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,23},{93,101}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,0},{81,115}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{81,115}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,117},{81,115}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,13},{81,115}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{79,107}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,20},{79,107}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,115},{79,107}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,21},{79,107}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,468},{77,117}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,19},{77,117}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,589},{77,117}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,19},{77,117}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,701},{79,101}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{79,101}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,655},{79,101}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{79,101}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,872},{87,81}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{87,81}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,353},{79,111}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{79,111}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,793},{89,79}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{89,79}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,385},{97,83}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{97,83}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,523},{95,85}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,43},{95,85}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,289},{105,85}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{105,85}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,202},{105,87}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,44},{105,87}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,445},{83,93}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{83,93}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,385},{83,99}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{83,99}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,471},{91,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{91,103}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,436},{87,89}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,34},{87,89}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,374},{103,97}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{103,97}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,238},{91,115}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,5},{91,115}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,103},{105,99}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{105,99}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,145},{139,133}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{139,133}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,262},{123,105}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{123,105}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,732},{131,95}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{131,95}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,599},{131,93}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{131,93}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,468},{113,99}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,23},{113,99}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,585},{113,99}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{113,99}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,155},{147,99}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{147,99}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{145,99}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{145,99}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,863},{131,91}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{131,91}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,125},{117,121}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{117,121}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,859},{129,91}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{129,91}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
            <key>magic_mind_throw_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,626},{103,135}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{103,135}}</string>
                <key>sourceSize</key>
                <string>{175,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_mind_throw_start.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2f8ad6ed05f83ce7112cd564e05505:14e07bf1ad5cf79c739a602e26aee26f:db4b1fa8b8acce15b2decb7d88ec1b64$</string>
            <key>textureFileName</key>
            <string>magic_mind_throw_start.png</string>
        </dict>
    </dict>
</plist>
