<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_pillar_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{63,48}}</string>
                <key>offset</key>
                <string>{-7,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,258},{63,48}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,298},{85,294}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{85,294}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{83,304}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{83,304}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{83,310}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,313},{103,258}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,50},{103,258}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,208},{103,258}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,50},{103,258}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,507},{87,250}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{87,250}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,418},{87,250}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{87,250}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,105},{101,264}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,46},{101,264}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{101,264}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,46},{101,264}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,282},{93,274}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{93,274}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,52},{77,50}}</string>
                <key>offset</key>
                <string>{1,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,254},{77,50}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,564},{93,274}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{93,274}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{85,278}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{85,278}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,284},{85,278}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{85,278}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,292},{101,282}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{101,282}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,590},{101,282}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{101,282}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,576},{95,280}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{95,280}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{95,280}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{95,280}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{105,288}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{105,288}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{105,288}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{105,288}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,594},{113,292}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{113,292}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,874},{83,148}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,158},{83,148}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{113,292}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{113,292}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{109,294}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{109,294}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{109,294}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{109,294}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,594},{103,294}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{103,294}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,298},{103,294}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{103,294}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,614},{95,220}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{95,220}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,392},{95,220}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,86},{95,220}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,208},{77,182}}</string>
                <key>offset</key>
                <string>{-10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,101},{77,182}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,840},{77,182}}</string>
                <key>offset</key>
                <string>{-10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,101},{77,182}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,836},{85,162}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,89},{85,162}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,677},{83,160}}</string>
                <key>offset</key>
                <string>{-2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,146},{83,160}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,858},{85,162}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,89},{85,162}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,762},{81,144}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,76},{81,144}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,677},{81,144}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,76},{81,144}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,888},{83,112}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,110},{83,112}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,594},{1,1}}</string>
                <key>offset</key>
                <string>{-59,154.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,934},{87,200}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,107},{87,200}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,845},{87,224}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,83},{87,224}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,596},{79,250}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,57},{79,250}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{79,266}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{79,266}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
            <key>magic_fire_pillar_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,296},{85,292}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{85,292}}</string>
                <key>sourceSize</key>
                <string>{119,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_pillar_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2393d3e0bd5cb5861ccab64abbb7c8d9:82d14333cf1fa7594a457639af967ef1:7eba01845ebff2b257766dea1930ee36$</string>
            <key>textureFileName</key>
            <string>magic_fire_pillar_end.png</string>
        </dict>
    </dict>
</plist>
