<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_energy_ball_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{187,179}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{177,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{177,173}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{165,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{165,161}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,425},{151,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{151,147}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{139,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{139,135}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,574},{127,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{127,121}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{113,115}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{113,115}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,177},{171,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{171,167}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,346},{157,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{157,151}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,139},{141,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{141,137}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{129,125}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{129,125}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,626},{127,117}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{127,117}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,499},{129,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{129,125}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,282},{145,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{145,141}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>magic_energy_ball_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{161,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{161,157}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_energy_ball_middle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eccf7b163f795855322d4ec649d1a2a6:1bbbc6d1d6385c6345ebe26823160645:5f922fee7b92c2d5b0d4435a34dc3588$</string>
            <key>textureFileName</key>
            <string>magic_energy_ball_middle.png</string>
        </dict>
    </dict>
</plist>
