<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_death_ray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,936},{1,1}}</string>
                <key>offset</key>
                <string>{-149,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{299,237}</string>
            </dict>
            <key>magic_death_ray_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,873},{142,63}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{142,63}}</string>
                <key>sourceSize</key>
                <string>{144,237}</string>
            </dict>
            <key>magic_death_ray_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,255},{153,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,237}}</string>
                <key>sourceSize</key>
                <string>{155,237}</string>
            </dict>
            <key>magic_death_ray_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,492},{199,237}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{199,237}}</string>
                <key>sourceSize</key>
                <string>{205,237}</string>
            </dict>
            <key>magic_death_ray_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,711},{227,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,237}}</string>
                <key>sourceSize</key>
                <string>{227,237}</string>
            </dict>
            <key>magic_death_ray_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,474},{236,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,237}}</string>
                <key>sourceSize</key>
                <string>{236,237}</string>
            </dict>
            <key>magic_death_ray_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,237},{258,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,237}}</string>
                <key>sourceSize</key>
                <string>{258,237}</string>
            </dict>
            <key>magic_death_ray_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,474},{280,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,237}}</string>
                <key>sourceSize</key>
                <string>{280,237}</string>
            </dict>
            <key>magic_death_ray_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,711},{288,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,237}}</string>
                <key>sourceSize</key>
                <string>{288,237}</string>
            </dict>
            <key>magic_death_ray_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{297,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,237}}</string>
                <key>sourceSize</key>
                <string>{297,237}</string>
            </dict>
            <key>magic_death_ray_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,237},{299,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,237}}</string>
                <key>sourceSize</key>
                <string>{299,237}</string>
            </dict>
            <key>magic_death_ray_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,124},{100,47}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,237}</string>
            </dict>
            <key>magic_death_ray_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{299,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,237}}</string>
                <key>sourceSize</key>
                <string>{299,237}</string>
            </dict>
            <key>magic_death_ray_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{299,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,237}}</string>
                <key>sourceSize</key>
                <string>{299,237}</string>
            </dict>
            <key>magic_death_ray_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,237},{299,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,237}}</string>
                <key>sourceSize</key>
                <string>{299,237}</string>
            </dict>
            <key>magic_death_ray_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{299,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,237}}</string>
                <key>sourceSize</key>
                <string>{299,237}</string>
            </dict>
            <key>magic_death_ray_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,711},{255,237}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{255,237}}</string>
                <key>sourceSize</key>
                <string>{259,237}</string>
            </dict>
            <key>magic_death_ray_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,0},{255,67}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,168},{255,67}}</string>
                <key>sourceSize</key>
                <string>{259,235}</string>
            </dict>
            <key>magic_death_ray_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,948},{268,67}}</string>
                <key>offset</key>
                <string>{2,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,168},{268,67}}</string>
                <key>sourceSize</key>
                <string>{272,235}</string>
            </dict>
            <key>magic_death_ray_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,948},{268,55}}</string>
                <key>offset</key>
                <string>{2,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,156},{268,55}}</string>
                <key>sourceSize</key>
                <string>{272,211}</string>
            </dict>
            <key>magic_death_ray_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1003},{270,19}}</string>
                <key>offset</key>
                <string>{4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,206},{270,19}}</string>
                <key>sourceSize</key>
                <string>{278,225}</string>
            </dict>
            <key>magic_death_ray_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1003},{270,19}}</string>
                <key>offset</key>
                <string>{4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,206},{270,19}}</string>
                <key>sourceSize</key>
                <string>{278,225}</string>
            </dict>
            <key>magic_death_ray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{124,57}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,57}}</string>
                <key>sourceSize</key>
                <string>{124,237}</string>
            </dict>
            <key>magic_death_ray_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,729},{135,63}}</string>
                <key>offset</key>
                <string>{0,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,63}}</string>
                <key>sourceSize</key>
                <string>{135,237}</string>
            </dict>
            <key>magic_death_ray_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,873},{138,63}}</string>
                <key>offset</key>
                <string>{0,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,63}}</string>
                <key>sourceSize</key>
                <string>{138,237}</string>
            </dict>
            <key>magic_death_ray_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,948},{140,63}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,63}}</string>
                <key>sourceSize</key>
                <string>{142,237}</string>
            </dict>
            <key>magic_death_ray_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,936},{141,63}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,63}}</string>
                <key>sourceSize</key>
                <string>{143,237}</string>
            </dict>
            <key>magic_death_ray_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,729},{165,77}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,77}}</string>
                <key>sourceSize</key>
                <string>{165,237}</string>
            </dict>
            <key>magic_death_ray_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,806},{143,67}}</string>
                <key>offset</key>
                <string>{0,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,67}}</string>
                <key>sourceSize</key>
                <string>{143,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_death_ray.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd7c40e570b86fc73f4ff92105e01d7a:36f35a25a5121151ce9c1e0b7d9111ed:1c7ee5ebaf5196123df0d53ba852b238$</string>
            <key>textureFileName</key>
            <string>magic_death_ray.png</string>
        </dict>
    </dict>
</plist>
