<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_ice_ball_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,176}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{198,176}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>magic_ice_ball_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,282},{86,100}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,100}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>magic_ice_ball_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,282},{86,100}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,100}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>magic_ice_ball_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,350},{56,68}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{56,68}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>magic_ice_ball_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,350},{56,68}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{56,68}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>magic_ice_ball_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,700},{70,78}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,78}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>magic_ice_ball_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,750},{82,96}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>magic_ice_ball_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{98,138}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,138}}</string>
                <key>sourceSize</key>
                <string>{110,156}</string>
            </dict>
            <key>magic_ice_ball_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,650},{98,138}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,138}}</string>
                <key>sourceSize</key>
                <string>{110,156}</string>
            </dict>
            <key>magic_ice_ball_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{114,160}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{114,160}}</string>
                <key>sourceSize</key>
                <string>{122,182}</string>
            </dict>
            <key>magic_ice_ball_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,420},{132,156}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,156}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>magic_ice_ball_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{192,172}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{192,172}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>magic_ice_ball_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{144,154}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{144,154}}</string>
                <key>sourceSize</key>
                <string>{156,188}</string>
            </dict>
            <key>magic_ice_ball_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,504},{144,154}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{144,154}}</string>
                <key>sourceSize</key>
                <string>{156,188}</string>
            </dict>
            <key>magic_ice_ball_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{162,162}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{162,162}}</string>
                <key>sourceSize</key>
                <string>{168,190}</string>
            </dict>
            <key>magic_ice_ball_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,176},{188,172}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{188,172}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>magic_ice_ball_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{176,166}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{176,166}}</string>
                <key>sourceSize</key>
                <string>{180,198}</string>
            </dict>
            <key>magic_ice_ball_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,350},{162,152}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,152}}</string>
                <key>sourceSize</key>
                <string>{168,182}</string>
            </dict>
            <key>magic_ice_ball_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,554},{144,144}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,144}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>magic_ice_ball_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,554},{144,144}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,144}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>magic_ice_ball_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,700},{132,132}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{132,132}}</string>
                <key>sourceSize</key>
                <string>{146,160}</string>
            </dict>
            <key>magic_ice_ball_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,164},{106,116}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{106,116}}</string>
                <key>sourceSize</key>
                <string>{146,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_ice_ball_start.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bae6a8c1fd7727c091e1e9bffe613e2:fcd4e31285c49f26c6a149bb13149d79:d4c21e4ecece25f21faa49abe3fad528$</string>
            <key>textureFileName</key>
            <string>magic_ice_ball_start.png</string>
        </dict>
    </dict>
</plist>
