<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_lightning_arrow_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,360},{112,126}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{112,126}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,546},{174,176}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{174,176}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,546},{178,168}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{178,168}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,186},{186,160}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{186,160}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,186},{184,172}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{184,172}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{184,188}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{184,188}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{202,200}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{202,200}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,200}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,200}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,198}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{204,198}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{202,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{202,198}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{202,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{202,198}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,726},{172,178}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{172,178}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{200,184}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,184}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{200,182}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,182}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,792},{184,180}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{184,180}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,204},{182,180}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{182,180}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,536},{168,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{168,164}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,860},{166,160}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{166,160}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,702},{156,170}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{156,170}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,374},{180,170}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{180,170}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,572},{1,1}}</string>
                <key>offset</key>
                <string>{-104.5,100.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,388},{182,172}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{182,172}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,606},{184,178}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{184,178}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,792},{184,176}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{184,176}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{182,184}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{182,184}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,202},{182,170}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{182,170}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,374},{170,166}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{170,166}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
            <key>magic_lightning_arrow_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,360},{168,174}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{168,174}}</string>
                <key>sourceSize</key>
                <string>{210,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_lightning_arrow_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47b3a7ce4947f727e9e096ca53c9be17:c6a918ff28a2e409ce3a53e96081babf:f208a87de3d19552c8ed767a450fb71c$</string>
            <key>textureFileName</key>
            <string>magic_lightning_arrow_end.png</string>
        </dict>
    </dict>
</plist>
