<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_ice_ball_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{286,181}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{286,181}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{274,167}}</string>
                <key>offset</key>
                <string>{-56,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{274,167}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,169}}</string>
                <key>offset</key>
                <string>{-57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{300,169}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{282,167}}</string>
                <key>offset</key>
                <string>{-58,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{282,167}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{272,189}}</string>
                <key>offset</key>
                <string>{-51,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{272,189}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{278,175}}</string>
                <key>offset</key>
                <string>{-58,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{278,175}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,826},{264,173}}</string>
                <key>offset</key>
                <string>{-56,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{264,173}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,276},{280,181}}</string>
                <key>offset</key>
                <string>{-53,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{280,181}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
            <key>magic_ice_ball_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{266,181}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{266,181}}</string>
                <key>sourceSize</key>
                <string>{414,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_ice_ball_middle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02b06782c6a5cb89214b9d9aea88ea54:df116f89b8a16541ac0eee1c353c3d86:fd113325a8006da6e34d5a34b55d645f$</string>
            <key>textureFileName</key>
            <string>magic_ice_ball_middle.png</string>
        </dict>
    </dict>
</plist>
