<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_energy_ball2_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,212},{1,1}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>magic_energy_ball2_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,218},{432,242}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,242}}</string>
                <key>sourceSize</key>
                <string>{446,242}</string>
            </dict>
            <key>magic_energy_ball2_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,218},{432,242}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,242}}</string>
                <key>sourceSize</key>
                <string>{446,242}</string>
            </dict>
            <key>magic_energy_ball2_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{462,214}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{462,214}}</string>
                <key>sourceSize</key>
                <string>{476,238}</string>
            </dict>
            <key>magic_energy_ball2_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{462,214}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{462,214}}</string>
                <key>sourceSize</key>
                <string>{476,238}</string>
            </dict>
            <key>magic_energy_ball2_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,208}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{466,208}}</string>
                <key>sourceSize</key>
                <string>{482,226}</string>
            </dict>
            <key>magic_energy_ball2_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{460,204}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{460,204}}</string>
                <key>sourceSize</key>
                <string>{476,226}</string>
            </dict>
            <key>magic_energy_ball2_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,212},{1,1}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>magic_energy_ball2_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,212},{1,1}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{4,2}</string>
            </dict>
            <key>magic_energy_ball2_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,668},{306,236}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,8},{306,236}}</string>
                <key>sourceSize</key>
                <string>{354,244}</string>
            </dict>
            <key>magic_energy_ball2_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{332,236}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{332,236}}</string>
                <key>sourceSize</key>
                <string>{354,244}</string>
            </dict>
            <key>magic_energy_ball2_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,462},{364,242}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{364,242}}</string>
                <key>sourceSize</key>
                <string>{368,244}</string>
            </dict>
            <key>magic_energy_ball2_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,462},{364,242}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{364,242}}</string>
                <key>sourceSize</key>
                <string>{368,244}</string>
            </dict>
            <key>magic_energy_ball2_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{400,248}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{400,248}}</string>
                <key>sourceSize</key>
                <string>{402,254}</string>
            </dict>
            <key>magic_energy_ball2_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{400,248}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{400,248}}</string>
                <key>sourceSize</key>
                <string>{402,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_energy_ball2_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d353929abe8ef694cd1090f191da382c:4344de8abb83ab12a810f9ebc65c5ff9:04c734e91ba12684658431329d17f6fd$</string>
            <key>textureFileName</key>
            <string>magic_energy_ball2_end.png</string>
        </dict>
    </dict>
</plist>
