<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tonfa_guns_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,758},{69,99}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{69,99}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>tonfa_guns_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,571},{201,185}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{201,185}}</string>
                <key>sourceSize</key>
                <string>{207,189}</string>
            </dict>
            <key>tonfa_guns_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,368},{201,185}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{201,185}}</string>
                <key>sourceSize</key>
                <string>{209,189}</string>
            </dict>
            <key>tonfa_guns_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{203,177}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{203,177}}</string>
                <key>sourceSize</key>
                <string>{217,181}</string>
            </dict>
            <key>tonfa_guns_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,934},{83,47}}</string>
                <key>offset</key>
                <string>{61,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{205,53}</string>
            </dict>
            <key>tonfa_guns_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,932},{61,47}}</string>
                <key>offset</key>
                <string>{50,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{161,53}</string>
            </dict>
            <key>tonfa_guns_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,564},{33,41}}</string>
                <key>offset</key>
                <string>{40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>tonfa_guns_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,607},{29,41}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{107,43}</string>
            </dict>
            <key>tonfa_guns_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,321},{19,45}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,4},{19,45}}</string>
                <key>sourceSize</key>
                <string>{101,49}</string>
            </dict>
            <key>tonfa_guns_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,321},{19,45}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,4},{19,45}}</string>
                <key>sourceSize</key>
                <string>{101,49}</string>
            </dict>
            <key>tonfa_guns_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,831},{69,99}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{69,99}}</string>
                <key>sourceSize</key>
                <string>{103,135}</string>
            </dict>
            <key>tonfa_guns_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,934},{71,89}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{71,89}}</string>
                <key>sourceSize</key>
                <string>{99,119}</string>
            </dict>
            <key>tonfa_guns_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,831},{97,101}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{99,119}</string>
            </dict>
            <key>tonfa_guns_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,207},{153,159}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,159}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>tonfa_guns_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{147,135}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,139}</string>
            </dict>
            <key>tonfa_guns_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,329}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,329}}</string>
                <key>sourceSize</key>
                <string>{331,329}</string>
            </dict>
            <key>tonfa_guns_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{241,307}}</string>
                <key>offset</key>
                <string>{39,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{241,307}}</string>
                <key>sourceSize</key>
                <string>{319,313}</string>
            </dict>
            <key>tonfa_guns_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{265,269}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{265,269}}</string>
                <key>sourceSize</key>
                <string>{333,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tonfa_guns_start.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef0fb44c1fbe19157f2d74e7cd2df61d:c96181839daffb622c1e721b68ccede7:9df2901bb551b09338cb2c10bc2d9bab$</string>
            <key>textureFileName</key>
            <string>tonfa_guns_start.png</string>
        </dict>
    </dict>
</plist>
