<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wasp_speed_split_wings_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,74}}</string>
                <key>offset</key>
                <string>{40,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,121},{132,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,312},{26,24}}</string>
                <key>offset</key>
                <string>{-24,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,30},{26,24}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,276},{34,28}}</string>
                <key>offset</key>
                <string>{-19,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,36},{34,28}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{28,22}}</string>
                <key>offset</key>
                <string>{-21,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,46},{28,22}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,168},{26,18}}</string>
                <key>offset</key>
                <string>{-24,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,52},{26,18}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{82,118}}</string>
                <key>offset</key>
                <string>{38,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,82},{82,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,86},{80,116}}</string>
                <key>offset</key>
                <string>{29,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,74},{80,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{120,100}}</string>
                <key>offset</key>
                <string>{20,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,63},{120,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{68,106}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,48},{68,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,168},{68,108}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,42},{68,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{84,88}}</string>
                <key>offset</key>
                <string>{-11,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,44},{84,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,238},{72,92}}</string>
                <key>offset</key>
                <string>{-19,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,29},{72,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,238},{36,42}}</string>
                <key>offset</key>
                <string>{-19,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,21},{36,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wasp_speed_split_wings_start.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b929220d56f2fc23c707b8787b7a53f4:99b647d7b6c31796aea0a07c1510c93d:14f7c75343ac2f08b9506659c1adebcb$</string>
            <key>textureFileName</key>
            <string>wasp_speed_split_wings_start.png</string>
        </dict>
    </dict>
</plist>
