<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wasp_speed_split_wings_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,36},{60,18}}</string>
                <key>offset</key>
                <string>{-118,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,122},{60,18}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,66},{30,108}}</string>
                <key>offset</key>
                <string>{20,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,45},{30,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{60,90}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,54},{60,90}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,338},{64,60}}</string>
                <key>offset</key>
                <string>{-17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,71},{64,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{66,106}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,52},{66,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,102}}</string>
                <key>offset</key>
                <string>{20,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,58},{116,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,98},{106,86}}</string>
                <key>offset</key>
                <string>{25,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,68},{106,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,270},{80,88}}</string>
                <key>offset</key>
                <string>{37,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,66},{80,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{46,52}}</string>
                <key>offset</key>
                <string>{43,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,81},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,352},{28,30}}</string>
                <key>offset</key>
                <string>{55,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,96},{28,30}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{32,20}}</string>
                <key>offset</key>
                <string>{60,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,115},{32,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{76,58}}</string>
                <key>offset</key>
                <string>{-75,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,69},{76,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,98},{34,12}}</string>
                <key>offset</key>
                <string>{67,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,133},{34,12}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,98},{30,10}}</string>
                <key>offset</key>
                <string>{72,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,146},{30,10}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,186},{82,92}}</string>
                <key>offset</key>
                <string>{-45,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,45},{82,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{78,100}}</string>
                <key>offset</key>
                <string>{-24,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,40},{78,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,186},{52,88}}</string>
                <key>offset</key>
                <string>{-40,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,38},{52,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{30,112}}</string>
                <key>offset</key>
                <string>{-8,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,35},{30,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,276},{64,60}}</string>
                <key>offset</key>
                <string>{-34,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{64,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,352},{58,72}}</string>
                <key>offset</key>
                <string>{-20,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,57},{58,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>wasp_speed_split_wings_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,34},{30,108}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,44},{30,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wasp_speed_split_wings_end.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a1bf165755ff700996d01afed6a9c32:fd26fd21f8a0e86b809198466a77c7df:b9f331fc10954067f5ce5201b0eef612$</string>
            <key>textureFileName</key>
            <string>wasp_speed_split_wings_end.png</string>
        </dict>
    </dict>
</plist>
