<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>widow_teleportation_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,808},{36,20}}</string>
                <key>offset</key>
                <string>{-13,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,289},{36,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,279},{164,138}}</string>
                <key>offset</key>
                <string>{-54,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,221},{164,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,682},{162,162}}</string>
                <key>offset</key>
                <string>{-53,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,194},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,158},{158,182}}</string>
                <key>offset</key>
                <string>{-51,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,171},{158,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1},{156,186}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,163},{156,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,154},{154,186}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,163},{154,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{152,188}}</string>
                <key>offset</key>
                <string>{-49,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,163},{152,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,317},{118,180}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,171},{118,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{118,180}}</string>
                <key>offset</key>
                <string>{-34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,172},{118,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,436},{120,178}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,174},{120,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,428},{122,178}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,174},{122,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,682},{16,50}}</string>
                <key>offset</key>
                <string>{-13,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,274},{16,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,551},{114,178}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,175},{114,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,569},{110,164}}</string>
                <key>offset</key>
                <string>{-41,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,180},{110,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,666},{82,164}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,180},{82,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,680},{84,164}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,180},{84,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,749},{58,24}}</string>
                <key>offset</key>
                <string>{-38,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,307},{58,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,845},{40,26}}</string>
                <key>offset</key>
                <string>{-29,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,306},{40,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1005},{40,18}}</string>
                <key>offset</key>
                <string>{-29,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,306},{40,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1005},{40,18}}</string>
                <key>offset</key>
                <string>{-30,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,306},{40,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,733},{40,16}}</string>
                <key>offset</key>
                <string>{-31,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,306},{40,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1005},{40,18}}</string>
                <key>offset</key>
                <string>{-31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,306},{40,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,872},{58,64}}</string>
                <key>offset</key>
                <string>{-15,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,266},{58,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,317},{6,8}}</string>
                <key>offset</key>
                <string>{-48,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,304},{6,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,445},{8,8}}</string>
                <key>offset</key>
                <string>{-49,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,303},{8,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,436},{8,8}}</string>
                <key>offset</key>
                <string>{-49,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,303},{8,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,326},{6,6}}</string>
                <key>offset</key>
                <string>{-49,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,303},{6,6}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,872},{132,124}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,232},{132,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,749},{138,122}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,233},{138,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,140},{138,132}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,233},{138,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,444},{124,138}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,234},{124,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1},{138,132}}</string>
                <key>offset</key>
                <string>{-31,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,240},{138,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,557},{166,124}}</string>
                <key>offset</key>
                <string>{-50,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,240},{166,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>widow_teleportation_end.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1b70520342fe1ab69f46828e44d9dde:d7fb977954c65256b5a5a2a986acc91a:ea496e18dc572ff0101b4e33a8098115$</string>
            <key>textureFileName</key>
            <string>widow_teleportation_end.png</string>
        </dict>
    </dict>
</plist>
