<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>widow_teleportation_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,160},{56,128}}</string>
                <key>offset</key>
                <string>{70,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,201},{56,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,278},{124,108}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,220},{124,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{122,110}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,216},{122,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,374},{122,114}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,211},{122,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,388},{120,114}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,209},{120,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,602},{112,112}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,209},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,504},{112,112}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,207},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{112,112}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,207},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,490},{114,110}}</string>
                <key>offset</key>
                <string>{-30,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,207},{114,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,358},{90,42}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,207},{90,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,266},{90,42}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,207},{90,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{100,132}}</string>
                <key>offset</key>
                <string>{40,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,220},{100,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,334},{50,42}}</string>
                <key>offset</key>
                <string>{-36,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,207},{50,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,290},{50,42}}</string>
                <key>offset</key>
                <string>{-34,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,207},{50,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,378},{42,42}}</string>
                <key>offset</key>
                <string>{-29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,208},{42,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,192},{20,32}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,208},{20,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,170},{20,32}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,209},{20,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,148},{20,32}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,210},{20,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,34},{10,30}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,213},{10,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{10,30}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,213},{10,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{6,8}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,213},{6,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,66},{8,8}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,214},{8,8}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,144}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,232},{170,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{156,156}}</string>
                <key>offset</key>
                <string>{-4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,218},{156,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{128,158}}</string>
                <key>offset</key>
                <string>{-15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,217},{128,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,132},{132,142}}</string>
                <key>offset</key>
                <string>{-18,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,227},{132,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{134,132}}</string>
                <key>offset</key>
                <string>{-21,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,225},{134,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,160},{134,116}}</string>
                <key>offset</key>
                <string>{-22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,226},{134,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>widow_teleportation_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,266},{132,106}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,224},{132,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>widow_teleportation_start.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bb272f1faa6bad5b5673473a7c18014:14faf66d07767492737bd6d9fd4a4f99:4c5917453342646398a033137f0637b0$</string>
            <key>textureFileName</key>
            <string>widow_teleportation_start.png</string>
        </dict>
    </dict>
</plist>
