<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Active_Achiev.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,207}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,12},{131,207}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Active_Progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,189},{143,149}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,50},{143,149}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Active_Seal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{161,161}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{161,161}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Active_Strikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{185,205}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{185,205}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Inactive_Achiev.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,348},{105,171}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,36},{105,171}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Inactive_Progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,465},{113,119}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,73},{113,119}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Inactive_Seal.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,455},{129,129}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{129,129}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Inactive_Strikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,189},{157,173}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,27},{157,173}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Pushed_Achiev.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{105,171}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,36},{105,171}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Pushed_Progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{113,119}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,73},{113,119}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Pushed_Seal.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,334},{129,129}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{129,129}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
            <key>Pushed_Strikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{157,173}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,27},{157,173}}</string>
                <key>sourceSize</key>
                <string>{247,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchScreensProfileButtons.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae16fde682439853199fe7694dafc8c:6cf46477cf9c909e70fd257139cdf55f:45f98270c0a42cd402f64362921805f4$</string>
            <key>textureFileName</key>
            <string>batchScreensProfileButtons.png</string>
        </dict>
    </dict>
</plist>
