<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dojo_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{222,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,51},{222,176}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Dojo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,436},{222,190}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{222,190}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Dojo_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{220,180}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{220,180}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Fight_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,240},{214,202}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{214,202}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Fight_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,228},{232,204}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{232,204}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Fight_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,230},{220,204}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{220,204}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Highlight_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{244,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Lottery_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,822},{200,178}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{200,178}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Lottery_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,444},{200,194}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{200,194}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Lottery_Pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,822},{200,178}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{200,178}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Map_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,846},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{168,168}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Map_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,628},{184,188}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{184,188}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Map_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,628},{190,192}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{190,192}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Profile_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,628},{176,216}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{176,216}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Profile_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,434},{192,230}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,12},{192,230}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Profile_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{178,214}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,13},{178,214}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Settings_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,832},{190,192}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{190,192}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Settings_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{190,192}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{190,192}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Settings_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,640},{190,192}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{190,192}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Shop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{228,224}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,224}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{246,236}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,236}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>Shop_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{228,226}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{228,226}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchButtonsMenuScreens.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2825fdc81d818b4b27c339d9c9f629c:6bb1145da9a66d49b1b4a6bbb12c8d87:7ff5ead290a42e5504effd2ce7d67901$</string>
            <key>textureFileName</key>
            <string>batchButtonsMenuScreens.png</string>
        </dict>
    </dict>
</plist>
