# comments and whitespace stripped by deployment tool
[MYSETTINGS]
Device=winstore
Android_obb=0
[S3E]
DispFixRot=Landscape
MemSize = [s3e] DispAreaQ + 94371840
SysGlesVersion = 2
AndroidTryAndroidIdFirst = 0
[s3e]
SysAppVersion=1.0.0
SysAppCaption="Shadow Fight 2"
IOSDispScaleFactor = 200
iPhoneVideoShareAudioSession = 1
SysStackSize=262144
[UTIL]
MemMgrMaxAllocWarning=0
[s3e]
SysAppVersion=1.7.15
SysAppCaption="Shadow Fight 2"
