# comments and whitespace stripped by deployment tool
[MYSETTINGS]
Device=android
Android_obb=1
[S3E]	
DispFixRot=Landscape
MemSize = [s3e] DispAreaQ + 94371840
SysGlesVersion = 2
AndroidTryAndroidIdFirst = 0
[s3e]
SysAppVersion=1.0.0
SysAppCaption="Shadow Fight 2"
IOSDispScaleFactor = 200
iPhoneVideoShareAudioSession = 1
[GL]
EGL_DEPTH_ENCODING_NV = 0x30E3
[APPSFLYER]
devKey="iznFtBfUgefoA2EhJfLMym"
isHTTPS=true
autoStart=true
