<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{577,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,46}}</string>
                <key>sourceSize</key>
                <string>{577,46}</string>
            </dict>
            <key>bar_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,581},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>bar_pixel.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,778},{1,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,46}}</string>
                <key>sourceSize</key>
                <string>{1,46}</string>
            </dict>
            <key>bar_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,581},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>brick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{629,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,42}}</string>
                <key>sourceSize</key>
                <string>{629,42}</string>
            </dict>
            <key>brick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{629,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,42}}</string>
                <key>sourceSize</key>
                <string>{629,42}</string>
            </dict>
            <key>brick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{629,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,42}}</string>
                <key>sourceSize</key>
                <string>{629,42}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,535},{110,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{110,67}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,535},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{182,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,524}}</string>
                <key>sourceSize</key>
                <string>{182,524}</string>
            </dict>
            <key>left_bar_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,629},{89,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,125}}</string>
                <key>sourceSize</key>
                <string>{89,125}</string>
            </dict>
            <key>left_bar_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,784}}</string>
                <key>sourceSize</key>
                <string>{89,784}</string>
            </dict>
            <key>left_bar_pixel.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,772},{89,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,1}}</string>
                <key>sourceSize</key>
                <string>{89,1}</string>
            </dict>
            <key>left_bar_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,633},{89,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,125}}</string>
                <key>sourceSize</key>
                <string>{89,125}</string>
            </dict>
            <key>left_cropped.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{182,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,233}}</string>
                <key>sourceSize</key>
                <string>{182,233}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,633},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>red_pixel.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,775},{68,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,1}}</string>
                <key>sourceSize</key>
                <string>{68,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{180,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,531}}</string>
                <key>sourceSize</key>
                <string>{180,531}</string>
            </dict>
            <key>right_cropped.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,760},{180,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,233}}</string>
                <key>sourceSize</key>
                <string>{180,233}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,622},{110,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{110,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchLottery.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb13b427b2c56bf404fdadd6bf66401:b988389103dd5785329ef8bcfba34cbc:a87b4727c5542c624cd3e4dd0ce8394b$</string>
            <key>textureFileName</key>
            <string>batchLottery.png</string>
        </dict>
    </dict>
</plist>
