<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_time_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,92},{18,17}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{18,17}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>effect_time_bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,254},{64,51}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{64,51}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>effect_time_bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,214},{65,54}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{65,54}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>effect_time_bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,318},{66,57}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{66,57}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>effect_time_bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,280},{68,59}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{68,59}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>effect_time_bomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,242},{66,75}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{70,83}</string>
            </dict>
            <key>effect_time_bomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,238},{66,78}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>effect_time_bomb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,214},{66,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,84}</string>
            </dict>
            <key>effect_time_bomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,169},{69,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>effect_time_bomb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{72,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>effect_time_bomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,169},{75,83}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{77,89}</string>
            </dict>
            <key>effect_time_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,193},{26,17}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{26,17}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>effect_time_bomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,92},{77,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>effect_time_bomb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,162},{80,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>effect_time_bomb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{82,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>effect_time_bomb_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,78},{87,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>effect_time_bomb_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{89,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>effect_time_bomb_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{95,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>effect_time_bomb_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{102,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,92}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>effect_time_bomb_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{100,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>effect_time_bomb_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,0},{78,90}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>effect_time_bomb_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{79,93}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>effect_time_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{36,21}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{36,21}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>effect_time_bomb_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{79,93}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>effect_time_bomb_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,88},{74,88}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{74,88}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>effect_time_bomb_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,88},{74,88}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{74,88}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>effect_time_bomb_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,165},{49,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{49,84}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>effect_time_bomb_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,165},{49,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{49,84}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>effect_time_bomb_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,308},{44,67}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{44,67}}</string>
                <key>sourceSize</key>
                <string>{52,93}</string>
            </dict>
            <key>effect_time_bomb_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,308},{44,67}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{44,67}}</string>
                <key>sourceSize</key>
                <string>{52,93}</string>
            </dict>
            <key>effect_time_bomb_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,165},{20,49}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{20,49}}</string>
                <key>sourceSize</key>
                <string>{24,57}</string>
            </dict>
            <key>effect_time_bomb_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,165},{20,49}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{20,49}}</string>
                <key>sourceSize</key>
                <string>{24,57}</string>
            </dict>
            <key>effect_time_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,210},{44,23}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{44,23}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>effect_time_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,80},{53,26}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{53,26}}</string>
                <key>sourceSize</key>
                <string>{63,36}</string>
            </dict>
            <key>effect_time_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,21},{59,32}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{59,32}}</string>
                <key>sourceSize</key>
                <string>{65,40}</string>
            </dict>
            <key>effect_time_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,133},{60,39}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{60,39}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>effect_time_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,244},{61,45}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{61,45}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>effect_time_bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,279},{63,48}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{63,48}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_time_bomb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94b0ffc709d0a954671ee26bc0ba55fe:712127b0e6a775de33dd78b7855e5b0c:c2921df58735bb634bcfcc682f52d598$</string>
            <key>textureFileName</key>
            <string>effect_time_bomb.png</string>
        </dict>
    </dict>
</plist>
