<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fireball_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,411},{77,67}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,67}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>magic_fireball_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,228},{92,86}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>magic_fireball_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,109},{92,84}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>magic_fireball_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,121},{102,105}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{128,143}</string>
            </dict>
            <key>magic_fireball_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{100,105}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{128,143}</string>
            </dict>
            <key>magic_fireball_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{108,117}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{140,167}</string>
            </dict>
            <key>magic_fireball_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,380},{108,117}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{140,167}</string>
            </dict>
            <key>magic_fireball_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,257},{105,121}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{137,177}</string>
            </dict>
            <key>magic_fireball_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,134},{105,121}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{137,177}</string>
            </dict>
            <key>magic_fireball_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,387},{111,121}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{143,179}</string>
            </dict>
            <key>magic_fireball_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{111,121}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{143,179}</string>
            </dict>
            <key>magic_fireball_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,411},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>magic_fireball_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,130}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{110,130}}</string>
                <key>sourceSize</key>
                <string>{142,182}</string>
            </dict>
            <key>magic_fireball_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,130}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{110,130}}</string>
                <key>sourceSize</key>
                <string>{142,182}</string>
            </dict>
            <key>magic_fireball_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{97,126}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{139,188}</string>
            </dict>
            <key>magic_fireball_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{97,126}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{139,188}</string>
            </dict>
            <key>magic_fireball_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,262},{90,123}}</string>
                <key>offset</key>
                <string>{19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>magic_fireball_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,262},{90,123}}</string>
                <key>offset</key>
                <string>{19,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{90,123}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>magic_fireball_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{86,124}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{86,124}}</string>
                <key>sourceSize</key>
                <string>{124,186}</string>
            </dict>
            <key>magic_fireball_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{86,124}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{86,124}}</string>
                <key>sourceSize</key>
                <string>{124,186}</string>
            </dict>
            <key>magic_fireball_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,228},{15,71}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,71}}</string>
                <key>sourceSize</key>
                <string>{21,83}</string>
            </dict>
            <key>magic_fireball_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,228},{15,71}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,71}}</string>
                <key>sourceSize</key>
                <string>{21,83}</string>
            </dict>
            <key>magic_fireball_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,249},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>magic_fireball_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{88,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>magic_fireball_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,82},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>magic_fireball_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,332},{77,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>magic_fireball_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,332},{77,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>magic_fireball_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,167},{85,80}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>magic_fireball_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{87,78}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fireball_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab4e732385ed10a073cad5308e78256:e1f2e09965fd893660f8eaa498f2f0c4:1ee3d728f3e8ff9825e4b8ee79193c00$</string>
            <key>textureFileName</key>
            <string>magic_fireball_end.png</string>
        </dict>
    </dict>
</plist>
