<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achiev_progress_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{380,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,38}}</string>
                <key>sourceSize</key>
                <string>{380,38}</string>
            </dict>
            <key>alpha-gradient_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{1,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,128}}</string>
                <key>sourceSize</key>
                <string>{1,128}</string>
            </dict>
            <key>alpha-gradient_down_rightInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{1,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,70}}</string>
                <key>sourceSize</key>
                <string>{1,70}</string>
            </dict>
            <key>alpha-gradient_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{1,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,128}}</string>
                <key>sourceSize</key>
                <string>{1,128}</string>
            </dict>
            <key>alpha-gradient_up_rightInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,0},{1,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,70}}</string>
                <key>sourceSize</key>
                <string>{1,70}</string>
            </dict>
            <key>icons_kick_blocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,228},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>icons_kick_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>icons_kick_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,38},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,230},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,221},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,175},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,166},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,120},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,111},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,65},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,56},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>perkback.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,38},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>perkcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>perkpixel.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,26},{10,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1}}</string>
                <key>sourceSize</key>
                <string>{10,1}</string>
            </dict>
            <key>strip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,128},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>strip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,0},{1,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,13}}</string>
                <key>sourceSize</key>
                <string>{1,13}</string>
            </dict>
            <key>strip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,13},{13,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,1}}</string>
                <key>sourceSize</key>
                <string>{13,1}</string>
            </dict>
            <key>strip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,141},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>strip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,111},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchScreensProfilePieces.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5782b8a2014241557b77cc5d8abe770b:cb1cf391279611c9b5fc883df4e777c4:4033c89047196fd3ba5a0350bde944f3$</string>
            <key>textureFileName</key>
            <string>batchScreensProfilePieces.png</string>
        </dict>
    </dict>
</plist>
