<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnchantmentBleeding.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentBloodrage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{100,100}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{100,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentBodyProtection.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,415},{98,84}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{98,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentBurn.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,585},{78,78}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentBurn_desatu.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,665},{76,76}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{76,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentCriticalChance.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{114,78}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{114,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentCriticalProtection.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,424},{88,94}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{88,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentDamageReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentEnfeeble.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,424},{66,91}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{66,91}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>EnchantmentFrenzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,116},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentHeadProtection.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,238},{102,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{102,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentIntoxication.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,348},{100,92}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{100,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentLifeDrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,120},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentMagicRecharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,492},{90,84}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{90,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentOverheat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{98,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{98,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentRegen.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,501},{82,82}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{82,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentRegen_desatu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{82,82}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{82,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentRegeneration.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,230},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentRejuvenation.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,442},{84,82}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{84,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentShielding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentShock.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentStaticCharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,328},{102,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{102,85}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>EnchantmentStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{78,78}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentStone_desatu.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,514},{80,78}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentStun.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,234},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentSuperReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,578},{78,78}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentSuperReturn_desatu.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,526},{80,78}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentTimeBomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{116,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{116,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentTornado.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,594},{78,78}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentTornado_desatu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,606},{78,78}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{78,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>EnchantmentWeakness.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{80,96}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{80,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchEnchantments.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1ad9ddf2e87996076282f0ec8646537:2b35fc2a45512bc2200b916213e5cbf4:f6ff3e8a0ba0feb4d2c4b392ba381438$</string>
            <key>textureFileName</key>
            <string>batchEnchantments.png</string>
        </dict>
    </dict>
</plist>
