<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_time_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,156},{31,30}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{31,30}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>effect_time_bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,795},{108,88}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{108,88}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>effect_time_bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,884},{110,93}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{110,93}}</string>
                <key>sourceSize</key>
                <string>{118,113}</string>
            </dict>
            <key>effect_time_bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,771},{113,96}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{113,96}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>effect_time_bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,589},{115,100}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{115,100}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>effect_time_bomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{113,130}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{119,142}</string>
            </dict>
            <key>effect_time_bomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,680},{115,131}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{115,131}}</string>
                <key>sourceSize</key>
                <string>{119,143}</string>
            </dict>
            <key>effect_time_bomb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,569},{111,133}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{111,133}}</string>
                <key>sourceSize</key>
                <string>{113,143}</string>
            </dict>
            <key>effect_time_bomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{119,135}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,135}}</string>
                <key>sourceSize</key>
                <string>{121,143}</string>
            </dict>
            <key>effect_time_bomb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,567},{122,135}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,135}}</string>
                <key>sourceSize</key>
                <string>{126,143}</string>
            </dict>
            <key>effect_time_bomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,443},{126,141}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{132,151}</string>
            </dict>
            <key>effect_time_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,186},{44,30}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,24},{44,30}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>effect_time_bomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,435},{132,143}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,143}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>effect_time_bomb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,308},{135,148}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,148}}</string>
                <key>sourceSize</key>
                <string>{143,154}</string>
            </dict>
            <key>effect_time_bomb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{138,152}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,152}}</string>
                <key>sourceSize</key>
                <string>{146,154}</string>
            </dict>
            <key>effect_time_bomb_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,288},{147,152}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,152}}</string>
                <key>sourceSize</key>
                <string>{151,158}</string>
            </dict>
            <key>effect_time_bomb_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,156},{152,152}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{156,158}</string>
            </dict>
            <key>effect_time_bomb_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{164,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{164,156}}</string>
                <key>sourceSize</key>
                <string>{166,158}</string>
            </dict>
            <key>effect_time_bomb_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,156}}</string>
                <key>sourceSize</key>
                <string>{174,158}</string>
            </dict>
            <key>effect_time_bomb_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{170,154}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{170,154}}</string>
                <key>sourceSize</key>
                <string>{174,158}</string>
            </dict>
            <key>effect_time_bomb_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{134,154}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{134,154}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>effect_time_bomb_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,154},{134,157}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{134,157}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>effect_time_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,308},{58,36}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{58,36}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>effect_time_bomb_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,154},{134,157}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{134,157}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>effect_time_bomb_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{126,151}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{126,151}}</string>
                <key>sourceSize</key>
                <string>{158,161}</string>
            </dict>
            <key>effect_time_bomb_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{126,151}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,10},{126,151}}</string>
                <key>sourceSize</key>
                <string>{158,161}</string>
            </dict>
            <key>effect_time_bomb_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{82,142}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{82,142}}</string>
                <key>sourceSize</key>
                <string>{90,158}</string>
            </dict>
            <key>effect_time_bomb_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{82,142}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{82,142}}</string>
                <key>sourceSize</key>
                <string>{90,158}</string>
            </dict>
            <key>effect_time_bomb_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,884},{73,115}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{73,115}}</string>
                <key>sourceSize</key>
                <string>{89,159}</string>
            </dict>
            <key>effect_time_bomb_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,884},{73,115}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{73,115}}</string>
                <key>sourceSize</key>
                <string>{89,159}</string>
            </dict>
            <key>effect_time_bomb_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,795},{35,85}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{35,85}}</string>
                <key>sourceSize</key>
                <string>{41,97}</string>
            </dict>
            <key>effect_time_bomb_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,795},{35,85}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{35,85}}</string>
                <key>sourceSize</key>
                <string>{41,97}</string>
            </dict>
            <key>effect_time_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,549},{74,40}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{74,40}}</string>
                <key>sourceSize</key>
                <string>{92,54}</string>
            </dict>
            <key>effect_time_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,689},{90,44}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{90,44}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>effect_time_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,344},{101,54}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{101,54}}</string>
                <key>sourceSize</key>
                <string>{111,68}</string>
            </dict>
            <key>effect_time_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,704},{103,67}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{103,67}}</string>
                <key>sourceSize</key>
                <string>{113,81}</string>
            </dict>
            <key>effect_time_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,445},{104,76}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{104,76}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>effect_time_bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,689},{106,84}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{106,84}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_time_bomb.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60cd3ed3854fea4c6148303f3a10ebc:712127b0e6a775de33dd78b7855e5b0c:c2921df58735bb634bcfcc682f52d598$</string>
            <key>textureFileName</key>
            <string>effect_time_bomb.png</string>
        </dict>
    </dict>
</plist>
