<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_invisible_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,245},{38,28}}</string>
                <key>offset</key>
                <string>{28,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,154},{38,28}}</string>
                <key>sourceSize</key>
                <string>{94,182}</string>
            </dict>
            <key>magic_invisible_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{100,148}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,148}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
            <key>magic_invisible_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,317},{128,140}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{152,148}</string>
            </dict>
            <key>magic_invisible_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,317},{128,140}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{152,148}</string>
            </dict>
            <key>magic_invisible_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,197},{116,142}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{116,142}}</string>
                <key>sourceSize</key>
                <string>{134,154}</string>
            </dict>
            <key>magic_invisible_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,197},{116,142}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{116,142}}</string>
                <key>sourceSize</key>
                <string>{134,154}</string>
            </dict>
            <key>magic_invisible_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,3},{92,122}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{92,122}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>magic_invisible_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,3},{92,122}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{92,122}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>magic_invisible_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,245},{38,28}}</string>
                <key>offset</key>
                <string>{28,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,154},{38,28}}</string>
                <key>sourceSize</key>
                <string>{94,182}</string>
            </dict>
            <key>magic_invisible_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,245},{64,40}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,124},{64,40}}</string>
                <key>sourceSize</key>
                <string>{72,164}</string>
            </dict>
            <key>magic_invisible_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,245},{64,40}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,124},{64,40}}</string>
                <key>sourceSize</key>
                <string>{72,164}</string>
            </dict>
            <key>magic_invisible_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,129},{92,112}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{92,112}}</string>
                <key>sourceSize</key>
                <string>{124,172}</string>
            </dict>
            <key>magic_invisible_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,129},{92,112}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{92,112}}</string>
                <key>sourceSize</key>
                <string>{124,172}</string>
            </dict>
            <key>magic_invisible_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{86,148}}</string>
                <key>offset</key>
                <string>{-28,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,148}}</string>
                <key>sourceSize</key>
                <string>{142,174}</string>
            </dict>
            <key>magic_invisible_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{86,148}}</string>
                <key>offset</key>
                <string>{-28,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,148}}</string>
                <key>sourceSize</key>
                <string>{142,174}</string>
            </dict>
            <key>magic_invisible_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{100,148}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,148}}</string>
                <key>sourceSize</key>
                <string>{126,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_invisible_start.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b37adfa9e81f19b358179b15bb0be1:c62bc54a24dea72ebee88d7844f210a5:797f8f8c4a786c3d20856ae85093d348$</string>
            <key>textureFileName</key>
            <string>magic_invisible_start.png</string>
        </dict>
    </dict>
</plist>
