<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_root_stun_end_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{114,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{114,92}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{126,54}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{126,54}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,166},{114,42}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{114,42}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,166},{114,42}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,51},{114,42}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{104,26}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{104,26}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{104,26}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{104,26}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,80},{18,6}}</string>
                <key>offset</key>
                <string>{-33,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,84},{18,6}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,80},{18,6}}</string>
                <key>offset</key>
                <string>{-33,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,84},{18,6}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{114,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{114,92}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,80},{116,84}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{116,84}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,80},{116,84}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{116,84}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{118,76}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{118,76}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{118,76}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{118,76}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,66}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{130,66}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,66}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{130,66}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>magic_root_stun_end_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{126,54}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{126,54}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_root_stun_end_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b257bdf6e1ecc8a6d630d786635ea5c:8ef0eb26e3c47cf8d59c8241f7ec66bd:2bda2594ddf2873dee2a0d0b47e1bd24$</string>
            <key>textureFileName</key>
            <string>magic_root_stun_end_1.png</string>
        </dict>
    </dict>
</plist>
