<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dust_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,221},{256,192}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dust_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,3},{256,214}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,441},{512,198}}</string>
                <key>offset</key>
                <string>{0,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,314},{512,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,434}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{512,434}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,441},{512,366}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,146},{512,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stones_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,299},{226,130}}</string>
                <key>offset</key>
                <string>{-77,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,81},{226,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stones_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{292,148}}</string>
                <key>offset</key>
                <string>{-63,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,76},{292,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebff1564e8a84c20b349b179fe47226a:8ddb5bc51575530ba4a2b995c5c3e159:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
