<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,92}}</string>
                <key>sourceSize</key>
                <string>{384,92}</string>
            </dict>
            <key>PauseMusic_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,372},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PauseMusic_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,232},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PauseSound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,92},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>PauseSound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,92},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Pause_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,232},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>home_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,140}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchPause.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3bdf6b2b4de1a89e20f8d3735e01149:9f062984b630782abb423e2bd4ec8c52:9fbb8e3a91415e40a0081be39ae2a5c9$</string>
            <key>textureFileName</key>
            <string>batchPause.png</string>
        </dict>
    </dict>
</plist>
