<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cdn_sale_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,4},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,117},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,117},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,230},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,230},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,343},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,343},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,456},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,456},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
            <key>cdn_sale_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,569},{204,107}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{204,107}}</string>
                <key>sourceSize</key>
                <string>{210,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cdn_sale.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:505a3c762cede8461397c0e9fe65802e:4ecfb8a340d74f92bdecce2872dea26f:cb4646486f5b6962d2446ada82e0c614$</string>
            <key>textureFileName</key>
            <string>cdn_sale.png</string>
        </dict>
    </dict>
</plist>
