<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{244,162}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{244,162}}</string>
                <key>sourceSize</key>
                <string>{256,162}</string>
            </dict>
            <key>layer_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,169},{120,158}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{120,158}}</string>
                <key>sourceSize</key>
                <string>{128,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3a9af9c397663ea0cf72ce44a88aef6:0736ac95a243772526afe0ede1481f83:9ba5084480377fbfffb3564d61438937$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
