<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,295},{195,22}}</string>
                <key>offset</key>
                <string>{-150,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{195,22}}</string>
                <key>sourceSize</key>
                <string>{501,40}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,40}}</string>
                <key>sourceSize</key>
                <string>{501,40}</string>
            </dict>
            <key>hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{387,22}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{387,22}}</string>
                <key>sourceSize</key>
                <string>{501,40}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{291,22}}</string>
                <key>offset</key>
                <string>{-101,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{291,22}}</string>
                <key>sourceSize</key>
                <string>{501,40}</string>
            </dict>
            <key>very_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,391},{99,22}}</string>
                <key>offset</key>
                <string>{-198,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{99,22}}</string>
                <key>sourceSize</key>
                <string>{501,40}</string>
            </dict>
            <key>very_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{487,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{487,22}}</string>
                <key>sourceSize</key>
                <string>{501,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchSlidersDifficulty.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c24ab443308640b552b9af3b3a0097:59de2216c868a8b280db3f3d4c98de2f:e6a9e0d9dc8cfd249d42179d3ac2c6f6$</string>
            <key>textureFileName</key>
            <string>batchSlidersDifficulty.png</string>
        </dict>
    </dict>
</plist>
