<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{512,330}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{512,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{512,216}}</string>
                <key>offset</key>
                <string>{0,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,296},{512,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4119c465595e3952ce08ba9c4cdcbd9e:54d900c5ed91002425365b09252e2b4d:c16c76113e764982a24ef21698be1df9$</string>
            <key>textureFileName</key>
            <string>bg2.png</string>
        </dict>
    </dict>
</plist>
