<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,289},{272,466}}</string>
                <key>offset</key>
                <string>{120,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,16},{272,466}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{282,480}}</string>
                <key>offset</key>
                <string>{-115,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{282,480}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,565},{402,248}}</string>
                <key>offset</key>
                <string>{55,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{402,248}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>layer1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,565},{372,248}}</string>
                <key>offset</key>
                <string>{-70,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,248}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b044114a7579650f2fc26a0d578237b:f8a41931e9e4d315dafaa0fd647a024e:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
