<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_glow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,301},{251,293}}</string>
                <key>offset</key>
                <string>{8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{251,293}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,321},{253,297}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{253,297}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,359},{253,325}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{253,325}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,359},{253,325}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{253,325}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{253,317}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{253,317}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{253,317}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{253,317}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,686},{253,323}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{253,323}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,686},{253,323}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{253,323}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,355}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{253,355}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,355}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{253,355}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{251,355}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{251,355}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,301},{251,293}}</string>
                <key>offset</key>
                <string>{8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{251,293}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{251,355}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{251,355}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{251,355}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{251,355}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{251,355}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{251,355}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{251,293}}</string>
                <key>offset</key>
                <string>{8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{251,293}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{251,293}}</string>
                <key>offset</key>
                <string>{8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{251,293}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,620},{251,297}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,72},{251,297}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,620},{251,297}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,72},{251,297}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{253,297}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{253,297}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{253,297}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{253,297}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
            <key>effect_glow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,321},{253,297}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{253,297}}</string>
                <key>sourceSize</key>
                <string>{267,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_glow.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b2874a1c653a82f34b415e034dc3c1:249fddb043f803d8ada29666bb7d88b3:94a7f13c2ce25bacdf72cddaaca70b94$</string>
            <key>textureFileName</key>
            <string>effect_glow.png</string>
        </dict>
    </dict>
</plist>
