<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flags_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{388,366}}</string>
                <key>offset</key>
                <string>{-31,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{388,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>flags_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,620},{434,274}}</string>
                <key>offset</key>
                <string>{27,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{434,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>hedge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,236}}</string>
                <key>sourceSize</key>
                <string>{512,236}</string>
            </dict>
            <key>hedge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,236}}</string>
                <key>sourceSize</key>
                <string>{512,236}</string>
            </dict>
            <key>wariors_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,448},{512,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,170},{512,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wariors_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,236},{512,212}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,130},{512,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>weapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{464,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,161},{464,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>weapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{346,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,156},{346,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d26e780cf1193ea1abef25058b909b39:0b7661099f3bfb68902d67fa87d7089e:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
