<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,941},{256,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{256,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>layer_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,879},{256,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,60}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>layer_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{256,214}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,685},{256,192}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,354}}</string>
                <key>offset</key>
                <string>{1,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{492,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{227,398}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,398}}</string>
                <key>sourceSize</key>
                <string>{231,400}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,358},{235,325}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{235,325}}</string>
                <key>sourceSize</key>
                <string>{239,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbb5dd0d5d8076f46a6cfee83cafb34b:1f0187f6bc36f787be88ee5f41f5862e:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
