<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,452},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>AddMoney_Pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,452},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Energy_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,91},{115,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,16}}</string>
                <key>sourceSize</key>
                <string>{115,16}</string>
            </dict>
            <key>Level_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,260},{190,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,19}}</string>
                <key>sourceSize</key>
                <string>{190,19}</string>
            </dict>
            <key>Level_bar_Empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,298},{198,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,19}}</string>
                <key>sourceSize</key>
                <string>{198,19}</string>
            </dict>
            <key>Top_Panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,20},{1,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,94}}</string>
                <key>sourceSize</key>
                <string>{1,96}</string>
            </dict>
            <key>credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,116},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,248},{66,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,164},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,247},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>equal.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,163},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,152},{9,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,31}}</string>
                <key>sourceSize</key>
                <string>{9,31}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,347},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,100},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{36,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,178},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>ladder_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,109},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,190},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>level_bar_Empty_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{123,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,16}}</string>
                <key>sourceSize</key>
                <string>{123,16}</string>
            </dict>
            <key>level_bar_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,20},{119,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{119,12}}</string>
                <key>sourceSize</key>
                <string>{123,16}</string>
            </dict>
            <key>max.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,191},{67,24}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{67,24}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>plank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{508,81}}</string>
                <key>sourceSize</key>
                <string>{540,81}</string>
            </dict>
            <key>platinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,297},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>rating_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,48},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>ruby.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>unlimited_energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,34},{117,55}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{117,55}}</string>
                <key>sourceSize</key>
                <string>{125,65}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,163},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchPanelsTop.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ad59accb955988e6a42a1d41a55e573:8cf13f53641b3c02a3895d5aa95e8189:e96019bdc9cf33f9c9a8be3bc27e6c83$</string>
            <key>textureFileName</key>
            <string>batchPanelsTop.png</string>
        </dict>
    </dict>
</plist>
