<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,3},{128,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{448,680}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,680}}</string>
                <key>sourceSize</key>
                <string>{500,680}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,65},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,3},{434,680}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{434,680}}</string>
                <key>sourceSize</key>
                <string>{500,680}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e244dbdf48a050a91bd598610e38d11d:18bd4adf6d581dc6a4032182a066e52e:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
