<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,3},{408,633}}</string>
                <key>offset</key>
                <string>{-52,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{408,633}}</string>
                <key>sourceSize</key>
                <string>{512,657}</string>
            </dict>
            <key>layer3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{408,635}}</string>
                <key>offset</key>
                <string>{52,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,22},{408,635}}</string>
                <key>sourceSize</key>
                <string>{512,657}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bac54de1a22f0b88aaaec0b99b1f49c8:932415c6350bea374869bc88dc408aee:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
