<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hourglassdrip_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,153},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,306},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,459},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,612},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,765},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,918},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,0},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,0},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,0},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,0},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,0},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,0},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,153},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,306},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,459},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,612},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,765},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,918},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,101},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,101},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,101},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,101},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,101},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,153},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,202},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,254},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,202},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,202},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,202},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,407},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_38.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,560},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,713},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,303},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,303},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_41.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,303},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,303},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,306},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,459},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_45.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,612},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_46.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,765},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_47.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,918},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,459},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_49.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,612},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,765},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,918},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_51.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,404},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_52.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,404},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_53.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,459},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_54.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,404},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_55.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,612},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_56.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,765},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_57.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,612},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_58.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,765},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_59.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,918},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,505},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_60.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,606},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,612},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,765},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassdrip_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,918},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hourglassdrip.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:071768400919913f4a567f34344c38cb:013e55928caf42b6f283abc6833b1df7:21a077c2eff4193c9f7e97a3ff889a57$</string>
		<key>textureFileName</key>
		<string>hourglassdrip.png</string>
	</dict>
</dict>
</plist>
