<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{128,106}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,395},{128,94}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{128,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{244,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{244,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,3},{142,256}}</string>
                <key>offset</key>
                <string>{-57,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tree_reflection_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,395},{60,100}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{60,100}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010d634524796abb220f19e42a7fa4a5:c7bde8636556cbde96f872876f10a0b3:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
