<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,105},{128,98}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{128,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>floor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,3},{128,98}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{128,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>floor3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,3},{128,98}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{128,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,3},{132,440}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,440}}</string>
                <key>sourceSize</key>
                <string>{140,440}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,447},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{132,440}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,440}}</string>
                <key>sourceSize</key>
                <string>{140,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9cec59c5a0f716d84729fe9b3a479c0:58ea5add65f456b12e897c23f55b9b9f:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
