<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>capsules_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{454,302}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{454,302}}</string>
                <key>sourceSize</key>
                <string>{502,502}</string>
            </dict>
            <key>capsules_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,804},{138,200}}</string>
                <key>offset</key>
                <string>{-137,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{138,200}}</string>
                <key>sourceSize</key>
                <string>{502,502}</string>
            </dict>
            <key>egg_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,804},{156,162}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{156,162}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>layer3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,0},{502,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,502}}</string>
                <key>sourceSize</key>
                <string>{502,502}</string>
            </dict>
            <key>layer3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{502,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,502}}</string>
                <key>sourceSize</key>
                <string>{502,502}</string>
            </dict>
            <key>layer3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{502,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,502}}</string>
                <key>sourceSize</key>
                <string>{502,502}</string>
            </dict>
            <key>spot_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,804},{108,117}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{108,117}}</string>
                <key>sourceSize</key>
                <string>{124,131}</string>
            </dict>
            <key>spot_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,804},{114,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,127}}</string>
                <key>sourceSize</key>
                <string>{124,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c0aad1d4c115edf3399dbdb9b5a990:daa6293ce99a8b73fb5c92685ede18d8:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
