<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,512},{506,174}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,82},{506,174}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fee015d6ad9c40a17bad899c4b594f9:31f3af5c5a1cbcd63990c495ea5d9f9f:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
