<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1951},{256,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{256,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>floor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1887},{256,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,60}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>layersun.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{490,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{490,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1203},{472,680}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,680}}</string>
                <key>sourceSize</key>
                <string>{478,680}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,3},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{478,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,680}}</string>
                <key>sourceSize</key>
                <string>{478,680}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e54b377e277cc8d31df8e3c9dacfee62:814cd399e70157a41bc12b71fc9ecb66:541e36315a768153b874665d07ee41ec$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
