<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{272,216}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{272,216}}</string>
                <key>sourceSize</key>
                <string>{272,256}</string>
            </dict>
            <key>layer_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,223},{272,208}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{272,208}}</string>
                <key>sourceSize</key>
                <string>{272,256}</string>
            </dict>
            <key>layer_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,3},{128,106}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>layer_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,3},{128,94}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{128,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffebb4745d5969c92ce228f26008cc48:de32f4e0e06ea760bb789668e6346544:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
