<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SettingsEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1},{206,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,11}}</string>
                <key>sourceSize</key>
                <string>{206,11}</string>
            </dict>
            <key>full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{202,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,8}}</string>
                <key>sourceSize</key>
                <string>{202,8}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchSlidersSettings.png</string>
            <key>size</key>
            <string>{32,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d769dea5656b3780ccbc0d473759918a:28e5de75d406f509005210a42786a094:a9cb043a3ca849d1d62b1a384ff1e31d$</string>
            <key>textureFileName</key>
            <string>batchSlidersSettings.png</string>
        </dict>
    </dict>
</plist>
