<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{512,226}}</string>
                <key>offset</key>
                <string>{0,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,286},{512,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{512,210}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,302},{512,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,444}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{512,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac22c70b660f006959762008df07d520:f9a676a5162a83a234f9dfa37d90110f:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
