<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,3},{256,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,56}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>layer_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,3},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{717,853}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{717,853}}</string>
                <key>sourceSize</key>
                <string>{719,855}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,3},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,724},{699,839}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{699,839}}</string>
                <key>sourceSize</key>
                <string>{719,855}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cae2978b57d442e2363865f723cd85a:def558d1d6906a36aeb1780158824886:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
