<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_ascension.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,866},{190,224}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{190,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_butcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,412},{234,234}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,21},{234,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_butcher_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,412},{234,234}}</string>
                <key>offset</key>
                <string>{28,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{234,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_capsules.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1630},{198,194}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{198,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1824},{192,194}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,61},{192,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_challenge_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1840},{192,192}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{192,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_duel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{214,248}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,7},{214,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_eggs.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,194},{252,218}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{252,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_eggs_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{252,218}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{252,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_factory.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,646},{190,230}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,25},{190,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_fatum_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1056},{204,218}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,45},{204,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_final_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{190,214}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,41},{190,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_final_battle_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1248},{188,212}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,42},{188,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_fungus_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{242,244}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{242,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_hermit.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,436},{232,222}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,33},{232,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_hermit_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,646},{232,220}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{232,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_huntress.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,658},{226,222}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{226,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_huntress_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,836},{226,220}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{226,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_lynx.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,218},{244,194}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,61},{244,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_lynx_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,242},{242,194}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{242,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_megalith_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1070},{194,206}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,46},{194,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_samurai.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1252},{196,204}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,51},{196,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_samurai_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1264},{194,202}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{194,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,196}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,59},{254,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_spaceship_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{254,194}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,60},{254,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_stone_forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1646},{190,194}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,61},{190,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_stone_forest_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1642},{188,192}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{188,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_survival.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{202,194}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,61},{202,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_titan.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1056},{196,206}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{196,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_titan_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1260},{194,204}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,50},{194,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_tournament.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1448},{200,194}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,61},{200,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_tournament_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1454},{200,192}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,62},{200,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_training.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1824},{192,196}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,54},{192,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_vortex_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{246,242}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{246,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_vulcan_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{228,216}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{228,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_wasp.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,880},{190,220}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,35},{190,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>base_wasp_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,868},{190,220}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{190,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchBattlesBase.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c23f873287f16ba49f38b5c781d1eb84:e028a6ab3b0e05cace8aa3369c927a81:4c9d0afa0f510b0ef170af13dda2c91f$</string>
            <key>textureFileName</key>
            <string>batchBattlesBase.png</string>
        </dict>
    </dict>
</plist>
