<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,819},{63,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,156}}</string>
                <key>sourceSize</key>
                <string>{63,156}</string>
            </dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{466,308}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,204},{466,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{500,512}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{500,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,519},{296,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,258}}</string>
                <key>sourceSize</key>
                <string>{296,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1255b2d764c49a4c74909f3062b868ec:f0bf31a0f7c34b5945f16e2c5091f383:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
