<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{256,114}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{256,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{256,98}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{256,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,214}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b6d6b46aaf454cc013b6b393a9968e1:f9a676a5162a83a234f9dfa37d90110f:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
