<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{40,12}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{40,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,82},{38,18}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{38,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,30},{30,22}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{40,18}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{40,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,28},{44,12}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{44,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,42},{42,22}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{42,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,82},{36,24}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{36,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,66},{18,30}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{18,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{26,30}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{26,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{34,26}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{34,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,24}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{44,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{44,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird_white_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{44,16}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{44,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_white.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95555acba7b5de96898bdd24c53da4df:438f95576be2690c90dadf6790426d91:f9a5c2ab997c13fe292d28a7a3168308$</string>
            <key>textureFileName</key>
            <string>bird_white.png</string>
        </dict>
    </dict>
</plist>
