<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bridge_reflection_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,222},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,68},{150,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,68},{150,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,438},{150,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,372},{150,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,220},{150,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,68},{150,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{150,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{152,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>bridge_reflection_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{152,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bridge_reflection.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:527f3f1b4134b6a38829dfa093a7f8f2:77f00b30d02141231cbadf706e42790f:08aa7ec7e6c51851a41934522f17a53c$</string>
            <key>textureFileName</key>
            <string>bridge_reflection.png</string>
        </dict>
    </dict>
</plist>
