<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cave_drop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{12,8}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{12,8}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,16},{12,16}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{12,16}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{12,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{12,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,54},{12,12}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{12,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,64},{12,10}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{12,10}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,44},{12,10}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{12,10}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,42},{10,16}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{10,16}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{12,24}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{12,24}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{12,12}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{12,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,50},{12,12}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{12,12}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,30},{10,16}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{10,16}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{12,24}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{12,24}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>cave_drop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{12,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cave_drop.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee543a3d3058a8159d774c7ea169dfd8:383d1941d4b1dbd6908a9ba532b71a7c:2336e5c8368b47d887031961a52578c5$</string>
            <key>textureFileName</key>
            <string>cave_drop.png</string>
        </dict>
    </dict>
</plist>
