<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloth3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{242,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{240,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{242,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{240,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{238,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{238,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{238,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{238,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{238,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{238,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{240,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{240,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{242,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>cloth3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{240,48}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{240,48}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cloth3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:083564b4d042ad5ccbc8597c7611da8a:28abad5c199096c78cafdd9a3b3961e7:e4aca3305bfc51380cabe9a1215aeb89$</string>
            <key>textureFileName</key>
            <string>cloth3.png</string>
        </dict>
    </dict>
</plist>
