<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colone_reflection_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,148},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{20,54}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,46},{20,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{20,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,128},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,108},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,88},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,68},{18,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,24},{20,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{20,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{20,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>colone_reflection_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,54}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colone_reflection.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c397666fe6c86295b7a9fe906947a3cd:df699344608fa9d5a9a59fb675e62a16:15632dcd4f3d4a5292fab94b05a9f447$</string>
            <key>textureFileName</key>
            <string>colone_reflection.png</string>
        </dict>
    </dict>
</plist>
