<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>graveyard_ships_flag1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{46,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,42}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{52,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,130},{36,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{30,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{34,46}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,130},{42,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,178},{44,38}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{44,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,88},{40,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{40,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{36,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{34,46}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>graveyard_ships_flag1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,40},{46,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>graveyard_ships_flag1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d139df3e16f62e3ded00b01c5cb1a4:a212eb20f751925e4898afcfbcff89ad:f09ca032be414a209d924a4fd9db92ab$</string>
            <key>textureFileName</key>
            <string>graveyard_ships_flag1.png</string>
        </dict>
    </dict>
</plist>
