<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,347},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,3},{168,340}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,340}}</string>
                <key>sourceSize</key>
                <string>{250,340}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,479},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{238,340}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{238,340}}</string>
                <key>sourceSize</key>
                <string>{250,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:359dbc4fb038b1d647ba535a64443dd6:9145e6f074fe1a977c6785190ef6da08:4e908cad585b51422829fd3fcea40b2c$</string>
            <key>textureFileName</key>
            <string>atlas_layer4.png</string>
        </dict>
    </dict>
</plist>
