<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hintsArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{115,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,67}}</string>
                <key>sourceSize</key>
                <string>{115,67}</string>
            </dict>
            <key>hintsCorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,69},{34,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>hintsPixel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,122},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hintsSide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>hintsStroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,120},{1,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,36}}</string>
                <key>sourceSize</key>
                <string>{1,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchHints.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:762f8c574e0a8d735f6f38ce222e0163:cd34b869c7181f260363abbca4e8c7f6:d6a289367764e7be0999be01e50e923a$</string>
            <key>textureFileName</key>
            <string>batchHints.png</string>
        </dict>
    </dict>
</plist>
