<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,743},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,227},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,647},{440,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,136}}</string>
                <key>sourceSize</key>
                <string>{440,136}</string>
            </dict>
            <key>stone_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,3},{150,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,402}}</string>
                <key>sourceSize</key>
                <string>{150,402}</string>
            </dict>
            <key>stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,227},{198,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,72}}</string>
                <key>sourceSize</key>
                <string>{198,72}</string>
            </dict>
            <key>stone_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{600,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,220}}</string>
                <key>sourceSize</key>
                <string>{600,220}</string>
            </dict>
            <key>stone_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,157},{402,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,102}}</string>
                <key>sourceSize</key>
                <string>{402,102}</string>
            </dict>
            <key>stone_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,429},{115,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,60}}</string>
                <key>sourceSize</key>
                <string>{115,60}</string>
            </dict>
            <key>stone_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,263},{396,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,88}}</string>
                <key>sourceSize</key>
                <string>{396,88}</string>
            </dict>
            <key>stone_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,787},{265,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,86}}</string>
                <key>sourceSize</key>
                <string>{265,86}</string>
            </dict>
            <key>stone_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,787},{314,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,110}}</string>
                <key>sourceSize</key>
                <string>{314,110}</string>
            </dict>
            <key>stone_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,355},{288,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,388}}</string>
                <key>sourceSize</key>
                <string>{288,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:211c2398f680e58f134e131b7f146ac5:a4b166c944ef55882677d4448ec22c9a:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
