<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_invisible_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,898},{122,92}}</string>
                <key>offset</key>
                <string>{-9,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,176},{122,92}}</string>
                <key>sourceSize</key>
                <string>{140,268}</string>
            </dict>
            <key>magic_invisible_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{217,194}}</string>
                <key>offset</key>
                <string>{-18,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{217,194}}</string>
                <key>sourceSize</key>
                <string>{253,284}</string>
            </dict>
            <key>magic_invisible_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{241,196}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{241,196}}</string>
                <key>sourceSize</key>
                <string>{247,276}</string>
            </dict>
            <key>magic_invisible_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{241,185}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{241,185}}</string>
                <key>sourceSize</key>
                <string>{245,263}</string>
            </dict>
            <key>magic_invisible_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,181}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{256,181}}</string>
                <key>sourceSize</key>
                <string>{256,237}</string>
            </dict>
            <key>magic_invisible_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,200}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{256,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>magic_invisible_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,315},{160,206}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{160,206}}</string>
                <key>sourceSize</key>
                <string>{184,256}</string>
            </dict>
            <key>magic_invisible_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,325},{155,204}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{155,204}}</string>
                <key>sourceSize</key>
                <string>{177,242}</string>
            </dict>
            <key>magic_invisible_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,329},{142,200}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{142,200}}</string>
                <key>sourceSize</key>
                <string>{162,222}</string>
            </dict>
            <key>magic_invisible_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,191},{136,208}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{136,208}}</string>
                <key>sourceSize</key>
                <string>{156,222}</string>
            </dict>
            <key>magic_invisible_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,188},{135,210}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{135,210}}</string>
                <key>sourceSize</key>
                <string>{159,214}</string>
            </dict>
            <key>magic_invisible_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,768},{128,105}}</string>
                <key>offset</key>
                <string>{-12,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,166},{128,105}}</string>
                <key>sourceSize</key>
                <string>{152,271}</string>
            </dict>
            <key>magic_invisible_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,185},{128,213}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,213}}</string>
                <key>sourceSize</key>
                <string>{152,221}</string>
            </dict>
            <key>magic_invisible_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,497},{128,195}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,195}}</string>
                <key>sourceSize</key>
                <string>{152,229}</string>
            </dict>
            <key>magic_invisible_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,482},{126,202}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,202}}</string>
                <key>sourceSize</key>
                <string>{148,240}</string>
            </dict>
            <key>magic_invisible_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,531},{124,197}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,197}}</string>
                <key>sourceSize</key>
                <string>{144,245}</string>
            </dict>
            <key>magic_invisible_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,589},{122,194}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,194}}</string>
                <key>sourceSize</key>
                <string>{144,250}</string>
            </dict>
            <key>magic_invisible_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,743},{124,182}}</string>
                <key>offset</key>
                <string>{-13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,182}}</string>
                <key>sourceSize</key>
                <string>{150,276}</string>
            </dict>
            <key>magic_invisible_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,627},{124,178}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,178}}</string>
                <key>sourceSize</key>
                <string>{150,276}</string>
            </dict>
            <key>magic_invisible_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,753},{131,175}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,175}}</string>
                <key>sourceSize</key>
                <string>{155,277}</string>
            </dict>
            <key>magic_invisible_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,610},{131,176}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,176}}</string>
                <key>sourceSize</key>
                <string>{155,286}</string>
            </dict>
            <key>magic_invisible_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,791},{130,132}}</string>
                <key>offset</key>
                <string>{-10,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{150,286}</string>
            </dict>
            <key>magic_invisible_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,657},{141,132}}</string>
                <key>offset</key>
                <string>{-7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,144},{141,132}}</string>
                <key>sourceSize</key>
                <string>{155,276}</string>
            </dict>
            <key>magic_invisible_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,791},{130,92}}</string>
                <key>offset</key>
                <string>{-10,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,92}}</string>
                <key>sourceSize</key>
                <string>{150,216}</string>
            </dict>
            <key>magic_invisible_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,923},{132,92}}</string>
                <key>offset</key>
                <string>{-10,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{152,232}</string>
            </dict>
            <key>magic_invisible_end_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,927},{132,95}}</string>
                <key>offset</key>
                <string>{-10,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,95}}</string>
                <key>sourceSize</key>
                <string>{152,247}</string>
            </dict>
            <key>magic_invisible_end_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,627},{139,101}}</string>
                <key>offset</key>
                <string>{-10,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,101}}</string>
                <key>sourceSize</key>
                <string>{159,271}</string>
            </dict>
            <key>magic_invisible_end_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{139,104}}</string>
                <key>offset</key>
                <string>{-10,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,104}}</string>
                <key>sourceSize</key>
                <string>{159,286}</string>
            </dict>
            <key>magic_invisible_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,886},{136,162}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,114},{136,162}}</string>
                <key>sourceSize</key>
                <string>{140,276}</string>
            </dict>
            <key>magic_invisible_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,329},{166,193}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,88},{166,193}}</string>
                <key>sourceSize</key>
                <string>{182,281}</string>
            </dict>
            <key>magic_invisible_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,785},{166,192}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{166,192}}</string>
                <key>sourceSize</key>
                <string>{182,280}</string>
            </dict>
            <key>magic_invisible_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{184,198}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{184,198}}</string>
                <key>sourceSize</key>
                <string>{202,280}</string>
            </dict>
            <key>magic_invisible_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{187,198}}</string>
                <key>offset</key>
                <string>{-12,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{187,198}}</string>
                <key>sourceSize</key>
                <string>{211,282}</string>
            </dict>
            <key>magic_invisible_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{208,198}}</string>
                <key>offset</key>
                <string>{-13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{208,198}}</string>
                <key>sourceSize</key>
                <string>{234,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_invisible_end.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd9d5af55ef62dfe12f6f72632367b2:c14f39cbb35ffd9749656fe5d1efa4d2:92285f464c444e40a6879bcc97510544$</string>
            <key>textureFileName</key>
            <string>magic_invisible_end.png</string>
        </dict>
    </dict>
</plist>
