<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1536,438}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{1536,438}}</string>
                <key>sourceSize</key>
                <string>{1536,512}</string>
            </dict>
            <key>stones_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1543},{142,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,36},{142,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stones_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1729},{136,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{136,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stones_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1543},{342,372}}</string>
                <key>offset</key>
                <string>{-43,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,3},{342,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a853f73dc907ac2ab819ee6c80f7d7d3:b07306d1d11af1bc4883991b94cb0fba:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
