<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Aggressive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,39}}</string>
                <key>sourceSize</key>
                <string>{267,39}</string>
            </dict>
            <key>Brutal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{161,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,38}}</string>
                <key>sourceSize</key>
                <string>{161,38}</string>
            </dict>
            <key>Combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{134,34}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,34}}</string>
                <key>sourceSize</key>
                <string>{138,34}</string>
            </dict>
            <key>Crazy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{175,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,46}}</string>
                <key>sourceSize</key>
                <string>{175,46}</string>
            </dict>
            <key>Critical.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{189,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{189,32}}</string>
                <key>sourceSize</key>
                <string>{193,34}</string>
            </dict>
            <key>Fantastic.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{262,45}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,45}}</string>
                <key>sourceSize</key>
                <string>{280,47}</string>
            </dict>
            <key>First_Strike.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{235,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,34}}</string>
                <key>sourceSize</key>
                <string>{235,34}</string>
            </dict>
            <key>Hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>Head_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,319},{175,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,34}}</string>
                <key>sourceSize</key>
                <string>{175,34}</string>
            </dict>
            <key>hot_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,266},{240,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{240,36}}</string>
                <key>sourceSize</key>
                <string>{252,40}</string>
            </dict>
            <key>shock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hitBatch.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:039e0d0690687f57f4cc6850db342a5d:121da15c9e422eae63e4b2acad8a7f0b:7ac75e5560bcf323d749a3b8cfecdf25$</string>
            <key>textureFileName</key>
            <string>hitBatch.png</string>
        </dict>
    </dict>
</plist>
