<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{256,96}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{256,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,122}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{256,94}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,162},{256,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,172},{240,104}}</string>
                <key>offset</key>
                <string>{8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,152},{240,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{256,104}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{248,86}}</string>
                <key>offset</key>
                <string>{-4,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,170},{248,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_column.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,90},{242,80}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,82},{242,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:385883cc0831c0388caf48fbd930ef21:7488866240fc97a840e407e4bf701632:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
