<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,369},{55,126}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{55,126}}</string>
                <key>sourceSize</key>
                <string>{83,130}</string>
            </dict>
            <key>effect_hammer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,97},{150,80}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{150,80}}</string>
                <key>sourceSize</key>
                <string>{160,114}</string>
            </dict>
            <key>effect_hammer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,17},{156,80}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{156,80}}</string>
                <key>sourceSize</key>
                <string>{162,114}</string>
            </dict>
            <key>effect_hammer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,46},{156,73}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{156,73}}</string>
                <key>sourceSize</key>
                <string>{162,111}</string>
            </dict>
            <key>effect_hammer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,73}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{158,73}}</string>
                <key>sourceSize</key>
                <string>{158,111}</string>
            </dict>
            <key>effect_hammer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{158,46}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{158,46}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>effect_hammer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{155,33}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,70},{155,33}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>effect_hammer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{155,27}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,76},{155,27}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>effect_hammer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{158,17}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,86},{158,17}}</string>
                <key>sourceSize</key>
                <string>{160,103}</string>
            </dict>
            <key>effect_hammer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{158,17}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,86},{158,17}}</string>
                <key>sourceSize</key>
                <string>{160,103}</string>
            </dict>
            <key>effect_hammer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,97},{148,10}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{148,10}}</string>
                <key>sourceSize</key>
                <string>{148,100}</string>
            </dict>
            <key>effect_hammer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,259},{104,109}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,109}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>effect_hammer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,97},{148,10}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{148,10}}</string>
                <key>sourceSize</key>
                <string>{148,100}</string>
            </dict>
            <key>effect_hammer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,97},{148,10}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{148,10}}</string>
                <key>sourceSize</key>
                <string>{148,100}</string>
            </dict>
            <key>effect_hammer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,97},{148,10}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{148,10}}</string>
                <key>sourceSize</key>
                <string>{148,100}</string>
            </dict>
            <key>effect_hammer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,97},{148,10}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{148,10}}</string>
                <key>sourceSize</key>
                <string>{148,100}</string>
            </dict>
            <key>effect_hammer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,245},{124,81}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{124,81}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>effect_hammer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,369},{124,83}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{124,83}}</string>
                <key>sourceSize</key>
                <string>{146,135}</string>
            </dict>
            <key>effect_hammer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,177},{135,82}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{135,82}}</string>
                <key>sourceSize</key>
                <string>{157,134}</string>
            </dict>
            <key>effect_hammer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,369},{135,74}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{135,74}}</string>
                <key>sourceSize</key>
                <string>{157,122}</string>
            </dict>
            <key>effect_hammer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{145,74}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{145,74}}</string>
                <key>sourceSize</key>
                <string>{161,122}</string>
            </dict>
            <key>effect_hammer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,119},{145,83}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{145,83}}</string>
                <key>sourceSize</key>
                <string>{161,119}</string>
            </dict>
            <key>effect_hammer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{150,83}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{150,83}}</string>
                <key>sourceSize</key>
                <string>{160,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hammer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:864ea51e114c7d2c87dcc19cf53f6dec:e295ac76634797e5f963b8d4220f9613:f7b4fe3b565492519a05a864c62d62f0$</string>
            <key>textureFileName</key>
            <string>effect_hammer.png</string>
        </dict>
    </dict>
</plist>
