<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tornado_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,182},{90,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,284},{92,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{92,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,50},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{92,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,378},{92,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,378},{92,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{92,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,96},{90,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,38}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{92,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,284},{92,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,188},{90,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,42}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{90,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,42}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,372},{90,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,378},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,96},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{92,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,190},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,50},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,50},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{92,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,472},{92,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,50},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,190},{92,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,176},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,134},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,378},{92,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,284},{92,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,92},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,96},{92,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{92,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,46}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,190},{92,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,176},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,280},{90,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,92},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,92},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,472},{92,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,134},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
            <key>effect_tornado_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,134},{92,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tornado_middle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9581fbfa874c3210201bfdfe6877fdb5:50f71ef225aa99327967519e3d0ab030:a2f6c97a24cf6a3a83d146f9e1391e3b$</string>
            <key>textureFileName</key>
            <string>effect_tornado_middle.png</string>
        </dict>
    </dict>
</plist>
