<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_energy_pillar_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,34},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,49},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,49},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,64},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,107},{125,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{125,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{123,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{123,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,122},{121,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{121,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,135},{119,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{119,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{127,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,139},{117,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{117,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{113,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{113,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,156},{111,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{111,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,169},{109,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{109,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,173},{107,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{107,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{105,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{105,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,139},{103,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{103,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,173},{101,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{101,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,190},{99,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{99,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{95,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{95,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{127,13}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{127,13}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,209},{93,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{93,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{91,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{91,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,228},{89,17}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{89,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,274},{87,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{87,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,321},{85,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{85,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{83,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{83,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,245},{81,19}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{81,19}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,242},{79,21}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{79,21}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,209},{77,23}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{77,23}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,94},{127,13}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{127,13}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{127,13}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{127,13}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{127,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{127,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,17},{127,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{127,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,17},{127,17}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{127,17}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>effect_energy_pillar_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,79},{127,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{127,15}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_energy_pillar_start.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdfc2046bc831c5a968e74930c8720bd:a4598569686cd9fcb30084a77223884f:12473d06acc24b2f5664b1a2b7286f25$</string>
            <key>textureFileName</key>
            <string>effect_energy_pillar_start.png</string>
        </dict>
    </dict>
</plist>
