<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fire_tonfa_blow_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,81},{23,25}}</string>
                <key>offset</key>
                <string>{-71,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{23,25}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,104},{43,37}}</string>
                <key>offset</key>
                <string>{-57,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{43,37}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{103,47}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{103,47}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,81}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{133,81}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{97,107}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,12},{97,107}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,150},{99,93}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,26},{99,93}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{103,69}}</string>
                <key>offset</key>
                <string>{19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,48},{103,69}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
            <key>effect_fire_tonfa_blow_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,97},{83,35}}</string>
                <key>offset</key>
                <string>{15,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,79},{83,35}}</string>
                <key>sourceSize</key>
                <string>{173,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fire_tonfa_blow_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddc46da2c26fed43c12818187ab252eb:4e159d55e236ca7df04616447a5c30f9:84dbec6dcb5f14442b4f33810cde8ea4$</string>
            <key>textureFileName</key>
            <string>effect_fire_tonfa_blow_1.png</string>
        </dict>
    </dict>
</plist>
