<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mine_player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,22},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,70},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,22},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,186},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,234},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,138},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,186},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,138},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,118},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,70},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,22},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,70},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,22},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,186},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,138},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,186},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,138},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,118},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,70},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,22},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,156},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,234},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{64,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{64,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{58,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{58,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{52,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>effect_mine_player_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mine_player.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38070fb8ec8120ef82eae073f8a9f640:16f98dab983e9fb955b00852ec0de8e3:5d2406a564ecd15c385d5e836cf36422$</string>
            <key>textureFileName</key>
            <string>effect_mine_player.png</string>
        </dict>
    </dict>
</plist>
