<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shield_hex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{1,1}}</string>
                <key>offset</key>
                <string>{-43,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,174},{87,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,328},{87,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,255},{87,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,259},{87,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,407},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,243},{87,85}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{1,1}}</string>
                <key>offset</key>
                <string>{-43,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{87,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{87,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{87,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{87,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{87,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,91},{87,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,182},{87,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,172},{83,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{69,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,91},{65,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{65,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,455},{47,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{47,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{47,91}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{47,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{1,1}}</string>
                <key>offset</key>
                <string>{-43,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,182},{65,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{65,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,87},{85,91}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{85,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,273},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,364},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,87},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>effect_shield_hex_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,87},{87,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shield_hex.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdc8fb063965b095c9972cd9d0443f4b:f9cbdfef435554f6488d8980cccc06a9:ae294d6b8be908e93df498170ee4f54e$</string>
            <key>textureFileName</key>
            <string>effect_shield_hex.png</string>
        </dict>
    </dict>
</plist>
