<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_energy_pillar_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,904},{73,30}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,146},{73,30}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,397},{75,158}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{75,158}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{75,158}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{75,158}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,235},{75,160}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{75,160}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{73,162}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{73,162}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{73,156}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,20},{73,156}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{73,162}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{73,162}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{73,168}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{73,168}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,170}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{73,170}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{73,160}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{73,160}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{73,160}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{73,160}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,877},{73,46}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,129},{73,46}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{73,158}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{73,158}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,77},{77,156}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{77,156}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{73,156}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{73,156}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{73,80}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,96},{73,80}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{73,118}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,58},{73,118}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,936},{73,148}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{73,148}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,557},{73,158}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{73,158}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{73,158}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{73,158}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{73,158}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{73,158}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>effect_energy_pillar_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,717},{73,158}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{73,158}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_energy_pillar_end.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fd3c21910576eb74c74bd1458161c4f:232751a0314adf7a233287b87c7e2aa3:428decc7147999a576359e05040b0868$</string>
            <key>textureFileName</key>
            <string>effect_energy_pillar_end.png</string>
        </dict>
    </dict>
</plist>
