<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_round_knife_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{271,94}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{271,94}}</string>
                <key>sourceSize</key>
                <string>{293,118}</string>
            </dict>
            <key>effect_round_knife_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,259},{253,98}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,20},{253,98}}</string>
                <key>sourceSize</key>
                <string>{293,118}</string>
            </dict>
            <key>effect_round_knife_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{265,98}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{265,98}}</string>
                <key>sourceSize</key>
                <string>{293,118}</string>
            </dict>
            <key>effect_round_knife_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{275,96}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{275,96}}</string>
                <key>sourceSize</key>
                <string>{293,118}</string>
            </dict>
            <key>effect_round_knife_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{281,100}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{281,100}}</string>
                <key>sourceSize</key>
                <string>{293,118}</string>
            </dict>
            <key>effect_round_knife_big_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{271,96}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{271,96}}</string>
                <key>sourceSize</key>
                <string>{293,118}</string>
            </dict>
            <key>effect_round_knife_big_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,0},{259,98}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{259,98}}</string>
                <key>sourceSize</key>
                <string>{293,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_round_knife_big.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba5d074047df349fd11b93c5f29ad81b:03bd26d0dc483503455aa1fb5862d769:4a8a4e49f00406daa91f09a76b4c8404$</string>
            <key>textureFileName</key>
            <string>effect_round_knife_big.png</string>
        </dict>
    </dict>
</plist>
