<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lightning_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,317},{10,110}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,110}}</string>
                <key>sourceSize</key>
                <string>{14,176}</string>
            </dict>
            <key>effect_lightning_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{122,164}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,164}}</string>
                <key>sourceSize</key>
                <string>{122,184}</string>
            </dict>
            <key>effect_lightning_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,163}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{125,179}</string>
            </dict>
            <key>effect_lightning_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,163}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{125,179}</string>
            </dict>
            <key>effect_lightning_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,167},{126,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,148}}</string>
                <key>sourceSize</key>
                <string>{126,150}</string>
            </dict>
            <key>effect_lightning_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,167},{126,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,148}}</string>
                <key>sourceSize</key>
                <string>{126,150}</string>
            </dict>
            <key>effect_lightning_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,329},{127,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,144}}</string>
                <key>sourceSize</key>
                <string>{129,144}</string>
            </dict>
            <key>effect_lightning_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,329},{127,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,144}}</string>
                <key>sourceSize</key>
                <string>{129,144}</string>
            </dict>
            <key>effect_lightning_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,103},{129,131}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{129,131}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>effect_lightning_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,103},{129,131}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{129,131}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>effect_lightning_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,234},{90,114}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{90,114}}</string>
                <key>sourceSize</key>
                <string>{92,138}</string>
            </dict>
            <key>effect_lightning_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,106},{48,168}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,168}}</string>
                <key>sourceSize</key>
                <string>{52,184}</string>
            </dict>
            <key>effect_lightning_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,234},{90,114}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{90,114}}</string>
                <key>sourceSize</key>
                <string>{92,138}</string>
            </dict>
            <key>effect_lightning_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>effect_lightning_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>effect_lightning_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>effect_lightning_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>effect_lightning_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>effect_lightning_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{1,1}}</string>
                <key>offset</key>
                <string>{-87.5,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>effect_lightning_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,326},{88,173}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,173}}</string>
                <key>sourceSize</key>
                <string>{94,193}</string>
            </dict>
            <key>effect_lightning_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{99,173}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,173}}</string>
                <key>sourceSize</key>
                <string>{105,193}</string>
            </dict>
            <key>effect_lightning_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,156},{102,171}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,171}}</string>
                <key>sourceSize</key>
                <string>{106,191}</string>
            </dict>
            <key>effect_lightning_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{102,171}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,171}}</string>
                <key>sourceSize</key>
                <string>{106,191}</string>
            </dict>
            <key>effect_lightning_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,333},{114,166}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,166}}</string>
                <key>sourceSize</key>
                <string>{118,184}</string>
            </dict>
            <key>effect_lightning_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{114,166}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,166}}</string>
                <key>sourceSize</key>
                <string>{118,184}</string>
            </dict>
            <key>effect_lightning_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{122,164}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,164}}</string>
                <key>sourceSize</key>
                <string>{122,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_lightning_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97ccc502b9673053ae86a1d6e9a520b:ca7130ad4de36f8b9b45d293edfb20dc:a1210881d515ab708a7b95b3270887ee$</string>
            <key>textureFileName</key>
            <string>effect_lightning_end.png</string>
        </dict>
    </dict>
</plist>
