<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_splash_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,167},{19,24}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{19,24}}</string>
                <key>sourceSize</key>
                <string>{41,84}</string>
            </dict>
            <key>magic_fire_splash_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{54,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>magic_fire_splash_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{52,79}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>magic_fire_splash_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{48,72}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>magic_fire_splash_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,180},{45,65}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>magic_fire_splash_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,108},{42,57}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{42,57}}</string>
                <key>sourceSize</key>
                <string>{54,81}</string>
            </dict>
            <key>magic_fire_splash_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,193},{42,56}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>magic_fire_splash_middle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,142},{36,43}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>magic_fire_splash_middle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,108},{32,39}}</string>
                <key>offset</key>
                <string>{11,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>magic_fire_splash_middle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,247},{5,15}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{5,15}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>magic_fire_splash_middle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,247},{5,15}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{5,15}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>magic_fire_splash_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,180},{38,62}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{38,62}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
            <key>magic_fire_splash_middle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,247},{6,11}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{6,11}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>magic_fire_splash_middle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,247},{6,11}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{6,11}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>magic_fire_splash_middle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,247},{4,3}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>magic_fire_splash_middle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,247},{4,3}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{4,3}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>magic_fire_splash_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,170},{51,77}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{51,77}}</string>
                <key>sourceSize</key>
                <string>{57,103}</string>
            </dict>
            <key>magic_fire_splash_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,56},{50,78}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{50,78}}</string>
                <key>sourceSize</key>
                <string>{58,104}</string>
            </dict>
            <key>magic_fire_splash_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,86},{51,82}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{51,82}}</string>
                <key>sourceSize</key>
                <string>{57,104}</string>
            </dict>
            <key>magic_fire_splash_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{52,81}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{52,81}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>magic_fire_splash_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,93},{55,85}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{55,85}}</string>
                <key>sourceSize</key>
                <string>{61,105}</string>
            </dict>
            <key>magic_fire_splash_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,89}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{59,89}}</string>
                <key>sourceSize</key>
                <string>{63,107}</string>
            </dict>
            <key>magic_fire_splash_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{55,85}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{55,85}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_splash_middle.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea787bc4b327d230d1a58d3750a94f5:de961d1ca7580475631473a8e552a326:1fc2ec065fac0bb5eb1bc260963a40b1$</string>
            <key>textureFileName</key>
            <string>magic_fire_splash_middle.png</string>
        </dict>
    </dict>
</plist>
