<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bomb_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,195},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>magic_bomb_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,195},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,143},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>magic_bomb_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,73},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,68}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>magic_bomb_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{64,69}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>magic_bomb_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{62,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>magic_bomb_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{62,68}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{62,68}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>magic_bomb_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{37,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{37,37}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>magic_bomb_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,213},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,35}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>magic_bomb_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,213},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,35}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>magic_bomb_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,143},{49,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,34}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>magic_bomb_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>magic_bomb_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,143},{49,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,34}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>magic_bomb_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,47},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>magic_bomb_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,25},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>magic_bomb_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,230},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>magic_bomb_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,31},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>magic_bomb_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,230},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>magic_bomb_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,194},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>magic_bomb_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_bomb_start.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1573adefd3579432ca2011945746fb8:169bf2bb760f974255bca0f46b3922c3:ef80a9c2fdf683947966f03337239dfe$</string>
            <key>textureFileName</key>
            <string>magic_bomb_start.png</string>
        </dict>
    </dict>
</plist>
