<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_bomb_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,87},{43,34}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>magic_bomb_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,34},{53,34}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>magic_bomb_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{64,34}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>magic_bomb_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{61,34}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>magic_bomb_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,34}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{92,34}</string>
            </dict>
            <key>magic_bomb_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,34},{59,34}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_bomb_middle.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:464849a92c380959c8b8316aa8b28b9a:f0c04ef6f3bcea0295c8f41aa85f4fd5:82e9fec1b58b307bfdf91333d281e9db$</string>
            <key>textureFileName</key>
            <string>magic_bomb_middle.png</string>
        </dict>
    </dict>
</plist>
