<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_ice_ball_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,128},{53,75}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,75}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>magic_ice_ball_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,84},{110,78}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,78}}</string>
                <key>sourceSize</key>
                <string>{124,86}</string>
            </dict>
            <key>magic_ice_ball_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,312},{113,78}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,78}}</string>
                <key>sourceSize</key>
                <string>{127,86}</string>
            </dict>
            <key>magic_ice_ball_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{117,82}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,82}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>
            </dict>
            <key>magic_ice_ball_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{117,82}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,82}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>
            </dict>
            <key>magic_ice_ball_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{115,82}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,82}}</string>
                <key>sourceSize</key>
                <string>{127,96}</string>
            </dict>
            <key>magic_ice_ball_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{115,82}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,82}}</string>
                <key>sourceSize</key>
                <string>{127,96}</string>
            </dict>
            <key>magic_ice_ball_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,198},{113,85}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,85}}</string>
                <key>sourceSize</key>
                <string>{123,99}</string>
            </dict>
            <key>magic_ice_ball_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{113,85}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,85}}</string>
                <key>sourceSize</key>
                <string>{123,99}</string>
            </dict>
            <key>magic_ice_ball_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,312},{112,83}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,83}}</string>
                <key>sourceSize</key>
                <string>{124,101}</string>
            </dict>
            <key>magic_ice_ball_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,426},{112,83}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,83}}</string>
                <key>sourceSize</key>
                <string>{124,101}</string>
            </dict>
            <key>magic_ice_ball_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,182},{51,75}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,75}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>magic_ice_ball_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,425},{109,80}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,80}}</string>
                <key>sourceSize</key>
                <string>{127,104}</string>
            </dict>
            <key>magic_ice_ball_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,84},{100,80}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>magic_ice_ball_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,195},{102,74}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,74}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>magic_ice_ball_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,195},{102,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{102,74}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>magic_ice_ball_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,399},{98,76}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>magic_ice_ball_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,298},{100,76}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>magic_ice_ball_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,84},{43,77}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{107,95}</string>
            </dict>
            <key>magic_ice_ball_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,363},{53,77}}</string>
                <key>offset</key>
                <string>{28,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>magic_ice_ball_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1},{37,75}}</string>
                <key>offset</key>
                <string>{36,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,2},{37,75}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>magic_ice_ball_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,285},{60,77}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>magic_ice_ball_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,365},{64,77}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>magic_ice_ball_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,441},{65,68}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,68}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>magic_ice_ball_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,443},{71,68}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,68}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>magic_ice_ball_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,285},{79,70}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>magic_ice_ball_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,84},{99,76}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,76}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>magic_ice_ball_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,185},{99,76}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,76}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_ice_ball_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0942c73dde9ccb3d0059721ca71bc346:f079bd458c445e177c93ef433faf1cfe:b67f86e50412e59cb527ba758e475ca7$</string>
            <key>textureFileName</key>
            <string>magic_ice_ball_end.png</string>
        </dict>
    </dict>
</plist>
