<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_asteroid_end_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{38,33}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,37},{38,33}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,73},{76,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,69}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{38,33}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,37},{38,33}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{58,49}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{58,49}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{58,49}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{58,49}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,61}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{68,61}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,61}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{68,61}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{76,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,69}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{76,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,69}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>magic_asteroid_end_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,73},{76,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,69}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_asteroid_end_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e96f3177251aaa2e800c64e456e21a73:f7eca3a73dd3eea8cfbbe5430655a952:8538e3946fa9c7d65986c378a9037e1a$</string>
            <key>textureFileName</key>
            <string>magic_asteroid_end_1.png</string>
        </dict>
    </dict>
</plist>
