<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_pillar_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,283},{19,25}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{19,25}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,438},{65,85}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,22},{65,85}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,210},{71,77}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{71,77}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,210},{71,77}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{71,77}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,283},{69,73}}</string>
                <key>offset</key>
                <string>{-28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{69,73}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,113},{73,95}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{73,95}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{81,105}}</string>
                <key>offset</key>
                <string>{-45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{81,105}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{81,105}}</string>
                <key>offset</key>
                <string>{-45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{81,105}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,327},{109,101}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{109,101}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,335},{123,101}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{123,101}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{175,105}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{175,105}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,109},{25,25}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{25,25}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{175,105}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{175,105}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,327},{183,107}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{183,107}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,113},{197,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{197,107}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{199,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{199,109}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,109}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{201,109}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,109}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{201,109}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,109}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{201,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{201,109}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{201,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{201,109}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,222},{195,103}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{195,103}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,391},{27,27}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,32},{27,27}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,460},{47,101}}</string>
                <key>offset</key>
                <string>{-68,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{47,101}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,435},{45,75}}</string>
                <key>offset</key>
                <string>{-71,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{45,75}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,435},{45,75}}</string>
                <key>offset</key>
                <string>{-71,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{45,75}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,358},{31,31}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,30},{31,31}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,435},{33,39}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,28},{33,39}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,470},{39,29}}</string>
                <key>offset</key>
                <string>{-24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,32},{39,29}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,358},{53,75}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,32},{53,75}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,358},{53,75}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,32},{53,75}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
            <key>magic_fire_pillar_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,438},{65,85}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,22},{65,85}}</string>
                <key>sourceSize</key>
                <string>{207,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_pillar_start.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb61f99a85f17ac7a7d26f0e2cd6af57:a78533a156bb676915cbea98d90e2047:bdfde81b1b6ea6f7f64e1f8f5f3c7147$</string>
            <key>textureFileName</key>
            <string>magic_fire_pillar_start.png</string>
        </dict>
    </dict>
</plist>
