<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_fire_splash_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{27,24}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{27,24}}</string>
                <key>sourceSize</key>
                <string>{49,100}</string>
            </dict>
            <key>magic_fire_splash_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,129},{74,120}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{74,120}}</string>
                <key>sourceSize</key>
                <string>{76,130}</string>
            </dict>
            <key>magic_fire_splash_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,281},{77,125}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,125}}</string>
                <key>sourceSize</key>
                <string>{79,131}</string>
            </dict>
            <key>magic_fire_splash_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{77,125}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,125}}</string>
                <key>sourceSize</key>
                <string>{79,131}</string>
            </dict>
            <key>magic_fire_splash_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{77,125}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,125}}</string>
                <key>sourceSize</key>
                <string>{79,131}</string>
            </dict>
            <key>magic_fire_splash_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{77,125}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,125}}</string>
                <key>sourceSize</key>
                <string>{79,131}</string>
            </dict>
            <key>magic_fire_splash_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{77,128}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,128}}</string>
                <key>sourceSize</key>
                <string>{79,132}</string>
            </dict>
            <key>magic_fire_splash_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,139},{75,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,126}}</string>
                <key>sourceSize</key>
                <string>{77,132}</string>
            </dict>
            <key>magic_fire_splash_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,129},{74,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,126}}</string>
                <key>sourceSize</key>
                <string>{76,132}</string>
            </dict>
            <key>magic_fire_splash_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,129},{74,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,126}}</string>
                <key>sourceSize</key>
                <string>{76,132}</string>
            </dict>
            <key>magic_fire_splash_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,205},{74,125}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,125}}</string>
                <key>sourceSize</key>
                <string>{74,131}</string>
            </dict>
            <key>magic_fire_splash_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,407},{66,85}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{66,85}}</string>
                <key>sourceSize</key>
                <string>{70,119}</string>
            </dict>
            <key>magic_fire_splash_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,205},{74,125}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{74,125}}</string>
                <key>sourceSize</key>
                <string>{74,131}</string>
            </dict>
            <key>magic_fire_splash_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,281},{75,125}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{75,125}}</string>
                <key>sourceSize</key>
                <string>{77,131}</string>
            </dict>
            <key>magic_fire_splash_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,358},{75,123}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{75,123}}</string>
                <key>sourceSize</key>
                <string>{77,131}</string>
            </dict>
            <key>magic_fire_splash_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,435},{73,122}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{73,122}}</string>
                <key>sourceSize</key>
                <string>{73,130}</string>
            </dict>
            <key>magic_fire_splash_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,435},{73,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{73,116}}</string>
                <key>sourceSize</key>
                <string>{73,128}</string>
            </dict>
            <key>magic_fire_splash_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{78,100}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>magic_fire_splash_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{78,100}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>magic_fire_splash_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,429},{72,81}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>magic_fire_splash_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,429},{72,81}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>magic_fire_splash_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,135}}</string>
                <key>sourceSize</key>
                <string>{87,137}</string>
            </dict>
            <key>magic_fire_splash_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{75,129}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{75,129}}</string>
                <key>sourceSize</key>
                <string>{79,133}</string>
            </dict>
            <key>magic_fire_splash_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,360},{67,125}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{67,125}}</string>
                <key>sourceSize</key>
                <string>{77,131}</string>
            </dict>
            <key>magic_fire_splash_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,276},{73,129}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{73,129}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>magic_fire_splash_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{81,135}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,135}}</string>
                <key>sourceSize</key>
                <string>{83,137}</string>
            </dict>
            <key>magic_fire_splash_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{77,125}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,125}}</string>
                <key>sourceSize</key>
                <string>{79,131}</string>
            </dict>
            <key>magic_fire_splash_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,251},{70,116}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{70,116}}</string>
                <key>sourceSize</key>
                <string>{74,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_fire_splash_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ecc603bebc89aaa8cdab4240f122e14:6c5bc9573de6a8fb7ee0ed0eda8c2c8f:2e3741038a5d9ab4d1b99d3be40a728d$</string>
            <key>textureFileName</key>
            <string>magic_fire_splash_end.png</string>
        </dict>
    </dict>
</plist>
