<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_ice_ball_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{143,91}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{143,91}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{137,85}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{137,85}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,85}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{151,85}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{141,85}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{141,85}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,95},{137,95}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{137,95}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,89},{139,89}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{139,89}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,180},{133,87}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{133,87}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{141,91}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{141,91}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
            <key>magic_ice_ball_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,180},{133,91}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{133,91}}</string>
                <key>sourceSize</key>
                <string>{207,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_ice_ball_middle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:119f7bde59857ed5377d4197fda0ea8a:df116f89b8a16541ac0eee1c353c3d86:fd113325a8006da6e34d5a34b55d645f$</string>
            <key>textureFileName</key>
            <string>magic_ice_ball_middle.png</string>
        </dict>
    </dict>
</plist>
