<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_mass_bomb_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,286},{51,33}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{51,33}}</string>
                <key>sourceSize</key>
                <string>{57,37}</string>
            </dict>
            <key>magic_mass_bomb_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,218},{25,31}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{25,31}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>magic_mass_bomb_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{25,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{25,33}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>magic_mass_bomb_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,186},{30,28}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>magic_mass_bomb_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,467},{32,42}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>magic_mass_bomb_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,273},{45,68}}</string>
                <key>offset</key>
                <string>{-16,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,68}}</string>
                <key>sourceSize</key>
                <string>{77,124}</string>
            </dict>
            <key>magic_mass_bomb_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,411},{57,90}}</string>
                <key>offset</key>
                <string>{-22,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,90}}</string>
                <key>sourceSize</key>
                <string>{103,164}</string>
            </dict>
            <key>magic_mass_bomb_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,411},{71,84}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,84}}</string>
                <key>sourceSize</key>
                <string>{73,144}</string>
            </dict>
            <key>magic_mass_bomb_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,411},{71,84}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,84}}</string>
                <key>sourceSize</key>
                <string>{73,144}</string>
            </dict>
            <key>magic_mass_bomb_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,324},{107,77}}</string>
                <key>offset</key>
                <string>{19,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{145,135}</string>
            </dict>
            <key>magic_mass_bomb_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,173},{149,93}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{165,171}</string>
            </dict>
            <key>magic_mass_bomb_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,403},{67,62}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,62}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>magic_mass_bomb_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,173},{149,93}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{165,171}</string>
            </dict>
            <key>magic_mass_bomb_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,13},{158,95}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{158,95}}</string>
                <key>sourceSize</key>
                <string>{170,177}</string>
            </dict>
            <key>magic_mass_bomb_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,13},{158,95}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{158,95}}</string>
                <key>sourceSize</key>
                <string>{170,177}</string>
            </dict>
            <key>magic_mass_bomb_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,301},{164,108}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{164,108}}</string>
                <key>sourceSize</key>
                <string>{180,204}</string>
            </dict>
            <key>magic_mass_bomb_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,301},{164,108}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{164,108}}</string>
                <key>sourceSize</key>
                <string>{180,204}</string>
            </dict>
            <key>magic_mass_bomb_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,186},{174,113}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{174,113}}</string>
                <key>sourceSize</key>
                <string>{196,217}</string>
            </dict>
            <key>magic_mass_bomb_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,186},{174,113}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{174,113}}</string>
                <key>sourceSize</key>
                <string>{196,217}</string>
            </dict>
            <key>magic_mass_bomb_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,324},{183,110}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{183,110}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>magic_mass_bomb_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,324},{183,110}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{183,110}}</string>
                <key>sourceSize</key>
                <string>{205,212}</string>
            </dict>
            <key>magic_mass_bomb_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{186,112}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{186,112}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>magic_mass_bomb_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,411},{68,72}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{68,72}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>magic_mass_bomb_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{186,112}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{186,112}}</string>
                <key>sourceSize</key>
                <string>{210,220}</string>
            </dict>
            <key>magic_mass_bomb_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{194,107}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{194,107}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{194,107}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{194,107}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,77},{198,107}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{198,107}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,77},{198,107}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{198,107}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,87}}</string>
                <key>offset</key>
                <string>{9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{200,87}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,73}}</string>
                <key>offset</key>
                <string>{9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{200,73}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{198,71}}</string>
                <key>offset</key>
                <string>{8,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{198,71}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{100,9}}</string>
                <key>offset</key>
                <string>{12,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,12},{100,9}}</string>
                <key>sourceSize</key>
                <string>{220,223}</string>
            </dict>
            <key>magic_mass_bomb_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,467},{43,40}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,40}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>magic_mass_bomb_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,286},{23,23}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{23,23}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>magic_mass_bomb_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,301},{23,21}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{23,21}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>magic_mass_bomb_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{35,21}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{35,21}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>magic_mass_bomb_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,251},{33,23}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{33,23}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>magic_mass_bomb_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,273},{25,31}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{25,31}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_mass_bomb_start.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ba49117623bf06fd9e86d9ac267056d:6a7cda054d02a8de4baccd88825b8fb4:6e72a8212660d9e7a31bf7a4180c62bf$</string>
            <key>textureFileName</key>
            <string>magic_mass_bomb_start.png</string>
        </dict>
    </dict>
</plist>
