<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_water_ball_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,322},{9,8}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{9,8}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,438},{39,40}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,33},{39,40}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,430},{43,38}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,36},{43,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,390},{43,38}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,36},{43,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,398},{41,38}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,37},{41,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,398},{41,38}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,37},{41,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,342},{43,46}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,35},{43,46}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,294},{43,46}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,35},{43,46}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,437},{47,66}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,28},{47,66}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,388},{47,66}}</string>
                <key>offset</key>
                <string>{30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,28},{47,66}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,341},{45,70}}</string>
                <key>offset</key>
                <string>{32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,26},{45,70}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,292},{9,8}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{9,8}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,294},{45,70}}</string>
                <key>offset</key>
                <string>{32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,26},{45,70}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,189},{81,76}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{81,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,189},{81,76}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{81,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{97,84}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{97,84}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{97,84}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{97,84}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{99,76}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{99,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{99,76}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{99,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{101,78}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{101,78}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{101,78}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{101,78}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,80}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{105,80}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,266},{17,24}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{17,24}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,80}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{105,80}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,84},{103,68}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{103,68}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,84},{103,68}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{103,68}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{99,74}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{99,74}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{99,74}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{99,74}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{95,76}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{95,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{95,76}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{95,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,264},{87,68}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{87,68}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,264},{87,68}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{87,68}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,82},{91,66}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{91,66}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,240},{17,24}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{17,24}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,82},{91,66}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{91,66}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,166},{87,72}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{87,72}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,166},{87,72}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{87,72}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{89,38}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{89,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{89,38}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{89,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,242},{85,50}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{85,50}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,460},{85,50}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{85,50}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,266},{89,68}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{89,68}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,175},{89,68}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{89,68}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,80},{91,86}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,364},{39,32}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,35},{39,32}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,367},{91,86}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,80},{89,84}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,84}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,78},{89,84}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,84}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{93,92}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{93,92}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,272},{93,88}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{93,88}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{93,88}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{93,88}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,164},{89,76}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{89,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,173},{89,76}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{89,76}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,353},{87,66}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{87,66}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,475},{39,32}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,35},{39,32}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,357},{87,66}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{87,66}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,442},{77,64}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{77,64}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,446},{77,64}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{77,64}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,240},{41,40}}</string>
                <key>offset</key>
                <string>{-34,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,66},{41,40}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,282},{41,38}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,34},{41,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,242},{41,38}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,34},{41,38}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>magic_water_ball_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,322},{39,40}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,33},{39,40}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_water_ball_start.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3bf45d3de3641a2ddb979f09d84c498:04b67acc59cd40d360c424e86bc058e5:a9ed9ba06db4f2180eea3b540fb488d8$</string>
            <key>textureFileName</key>
            <string>magic_water_ball_start.png</string>
        </dict>
    </dict>
</plist>
