<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_death_ray_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,0},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>magic_death_ray_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,476},{72,31}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,31}}</string>
                <key>sourceSize</key>
                <string>{72,119}</string>
            </dict>
            <key>magic_death_ray_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,128},{78,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,119}}</string>
                <key>sourceSize</key>
                <string>{78,119}</string>
            </dict>
            <key>magic_death_ray_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,247},{101,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,119}}</string>
                <key>sourceSize</key>
                <string>{103,119}</string>
            </dict>
            <key>magic_death_ray_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,357},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>magic_death_ray_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,238},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>magic_death_ray_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,119},{129,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,119}}</string>
                <key>sourceSize</key>
                <string>{129,119}</string>
            </dict>
            <key>magic_death_ray_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,238},{140,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,119}}</string>
                <key>sourceSize</key>
                <string>{140,119}</string>
            </dict>
            <key>magic_death_ray_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{144,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,119}}</string>
                <key>sourceSize</key>
                <string>{144,119}</string>
            </dict>
            <key>magic_death_ray_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{149,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{149,119}</string>
            </dict>
            <key>magic_death_ray_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,119},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>magic_death_ray_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,62},{50,23}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,119}</string>
            </dict>
            <key>magic_death_ray_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>magic_death_ray_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>magic_death_ray_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>magic_death_ray_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,119}</string>
            </dict>
            <key>magic_death_ray_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,357},{128,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,119}}</string>
                <key>sourceSize</key>
                <string>{130,119}</string>
            </dict>
            <key>magic_death_ray_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{128,33}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,84},{128,33}}</string>
                <key>sourceSize</key>
                <string>{130,117}</string>
            </dict>
            <key>magic_death_ray_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{134,33}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,84},{134,33}}</string>
                <key>sourceSize</key>
                <string>{136,117}</string>
            </dict>
            <key>magic_death_ray_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,476},{134,29}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,76},{134,29}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>magic_death_ray_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,357},{135,11}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,102},{135,11}}</string>
                <key>sourceSize</key>
                <string>{139,113}</string>
            </dict>
            <key>magic_death_ray_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,357},{135,11}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,102},{135,11}}</string>
                <key>sourceSize</key>
                <string>{139,113}</string>
            </dict>
            <key>magic_death_ray_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{62,29}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,119}</string>
            </dict>
            <key>magic_death_ray_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,437},{68,31}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,119}</string>
            </dict>
            <key>magic_death_ray_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,471},{69,31}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,31}}</string>
                <key>sourceSize</key>
                <string>{69,119}</string>
            </dict>
            <key>magic_death_ray_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,438},{71,33}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,119}</string>
            </dict>
            <key>magic_death_ray_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,405},{71,33}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,119}</string>
            </dict>
            <key>magic_death_ray_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,366},{82,39}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,119}</string>
            </dict>
            <key>magic_death_ray_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,366},{71,33}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_death_ray.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fadd3baa4b69717346305ace03966b5e:36f35a25a5121151ce9c1e0b7d9111ed:1c7ee5ebaf5196123df0d53ba852b238$</string>
            <key>textureFileName</key>
            <string>magic_death_ray.png</string>
        </dict>
    </dict>
</plist>
