<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_energy_ball2_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,105},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,1}</string>
            </dict>
            <key>magic_energy_ball2_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,107},{217,121}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,121}}</string>
                <key>sourceSize</key>
                <string>{223,121}</string>
            </dict>
            <key>magic_energy_ball2_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,107},{217,121}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,121}}</string>
                <key>sourceSize</key>
                <string>{223,121}</string>
            </dict>
            <key>magic_energy_ball2_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{232,107}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{232,107}}</string>
                <key>sourceSize</key>
                <string>{238,119}</string>
            </dict>
            <key>magic_energy_ball2_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{232,107}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{232,107}}</string>
                <key>sourceSize</key>
                <string>{238,119}</string>
            </dict>
            <key>magic_energy_ball2_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{233,105}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{233,105}}</string>
                <key>sourceSize</key>
                <string>{241,113}</string>
            </dict>
            <key>magic_energy_ball2_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,105},{230,103}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{230,103}}</string>
                <key>sourceSize</key>
                <string>{238,113}</string>
            </dict>
            <key>magic_energy_ball2_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,105},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,1}</string>
            </dict>
            <key>magic_energy_ball2_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,105},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,1}</string>
            </dict>
            <key>magic_energy_ball2_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,333},{153,118}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{153,118}}</string>
                <key>sourceSize</key>
                <string>{177,122}</string>
            </dict>
            <key>magic_energy_ball2_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{167,118}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{167,118}}</string>
                <key>sourceSize</key>
                <string>{177,122}</string>
            </dict>
            <key>magic_energy_ball2_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,228},{182,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,122}}</string>
                <key>sourceSize</key>
                <string>{184,122}</string>
            </dict>
            <key>magic_energy_ball2_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,228},{182,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,122}}</string>
                <key>sourceSize</key>
                <string>{184,122}</string>
            </dict>
            <key>magic_energy_ball2_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{201,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,125}}</string>
                <key>sourceSize</key>
                <string>{201,127}</string>
            </dict>
            <key>magic_energy_ball2_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{201,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,125}}</string>
                <key>sourceSize</key>
                <string>{201,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_energy_ball2_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f61cac2d465322c3bbd66369e4300a:da0cc422dd7d6067cf5be9c33e626f97:04c734e91ba12684658431329d17f6fd$</string>
            <key>textureFileName</key>
            <string>magic_energy_ball2_end.png</string>
        </dict>
    </dict>
</plist>
