<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_energy_ball1_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,376},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>magic_energy_ball1_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,280},{134,94}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{134,94}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>magic_energy_ball1_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{136,90}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{136,90}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>magic_energy_ball1_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,65},{98,86}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,38},{98,86}}</string>
                <key>sourceSize</key>
                <string>{140,124}</string>
            </dict>
            <key>magic_energy_ball1_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,140},{72,83}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,44},{72,83}}</string>
                <key>sourceSize</key>
                <string>{78,127}</string>
            </dict>
            <key>magic_energy_ball1_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{61,106}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,106}}</string>
                <key>sourceSize</key>
                <string>{73,138}</string>
            </dict>
            <key>magic_energy_ball1_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,280},{35,73}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,73}}</string>
                <key>sourceSize</key>
                <string>{37,139}</string>
            </dict>
            <key>magic_energy_ball1_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,317},{48,71}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{60,133}</string>
            </dict>
            <key>magic_energy_ball1_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,214},{59,64}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{81,120}</string>
            </dict>
            <key>magic_energy_ball1_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,159}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,159}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>magic_energy_ball1_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,321},{153,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,148}}</string>
                <key>sourceSize</key>
                <string>{153,148}</string>
            </dict>
            <key>magic_energy_ball1_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{155,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,149}}</string>
                <key>sourceSize</key>
                <string>{155,149}</string>
            </dict>
            <key>magic_energy_ball1_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{156,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,151}}</string>
                <key>sourceSize</key>
                <string>{156,151}</string>
            </dict>
            <key>magic_energy_ball1_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,163},{148,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,144}}</string>
                <key>sourceSize</key>
                <string>{148,144}</string>
            </dict>
            <key>magic_energy_ball1_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{141,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,136}}</string>
                <key>sourceSize</key>
                <string>{141,136}</string>
            </dict>
            <key>magic_energy_ball1_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,376},{133,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>magic_energy_ball1_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,153},{125,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,121}}</string>
                <key>sourceSize</key>
                <string>{125,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_energy_ball1_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:746972e223f5936fc0e57417e428932c:eeb0642a6aaf471589b604e1ef39a1b7:1c67e2877eee47051e183657633835ec$</string>
            <key>textureFileName</key>
            <string>magic_energy_ball1_end.png</string>
        </dict>
    </dict>
</plist>
