<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_asteroid_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,383},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,256},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,256},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,129},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,129},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
            <key>magic_asteroid_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_asteroid_middle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103c1018573bcd54942fa7f480c866dc:df1bc19066deb713b207ff039a96c3a1:f19c5b1ef81769e1ac21a8542c0bff65$</string>
            <key>textureFileName</key>
            <string>magic_asteroid_middle.png</string>
        </dict>
    </dict>
</plist>
