<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_mind_throw_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,416},{89,26}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,62},{89,26}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,212},{143,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{143,82}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{145,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{145,80}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,84},{145,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{145,84}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{147,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{147,84}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{147,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{147,84}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,50},{145,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{145,84}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,134},{145,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{145,78}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,218},{141,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{141,62}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,127},{141,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{141,62}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,280},{141,56}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{141,56}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,416},{89,26}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,62},{89,26}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,294},{141,50}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{141,50}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{141,50}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{141,50}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{141,50}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{141,50}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{147,50}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{147,50}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{147,50}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{147,50}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{149,52}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{149,52}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{149,52}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{149,52}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,168},{145,50}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{145,50}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,168},{145,50}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{145,50}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,0},{65,4}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,78},{65,4}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,344},{109,44}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{109,44}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,0},{65,4}}</string>
                <key>offset</key>
                <string>{21,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,78},{65,4}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,391},{109,54}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,31},{109,54}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,4},{123,64}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{123,64}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,268},{123,74}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{123,74}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{135,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{135,80}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,336},{135,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{135,80}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
            <key>magic_mind_throw_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{143,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{143,82}}</string>
                <key>sourceSize</key>
                <string>{151,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_mind_throw_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27858aac4403a57254f7e63012928bae:819c13ceeabb9b4fef8f6ac3e24da75b:e9adbe8b3d3c86b200e6b399383cc4d4$</string>
            <key>textureFileName</key>
            <string>magic_mind_throw_end.png</string>
        </dict>
    </dict>
</plist>
