<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_mind_throw_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{62,51}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{62,51}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,273},{74,93}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{74,93}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,129},{68,99}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{68,99}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,201},{72,103}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{72,103}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,418},{80,99}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{80,99}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,424},{86,85}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{86,85}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,424},{90,85}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{90,85}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,424},{90,83}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{90,83}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{82,71}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{82,71}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,129},{70,77}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{70,77}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,57},{66,81}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{82,57}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{82,57}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,63},{66,83}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{66,83}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,273},{74,83}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{74,83}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,116},{68,79}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{68,79}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,64},{72,67}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{72,67}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,131},{70,75}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{70,75}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,63},{66,85}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{66,85}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,39},{64,69}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{64,69}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{64,69}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{64,69}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{68,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{68,67}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,123},{76,69}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{76,69}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,197},{106,71}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{106,71}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{68,63}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{68,63}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{90,63}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{90,63}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,51},{94,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{94,65}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,341},{96,75}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{96,75}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,270},{88,73}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{88,73}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,343},{98,75}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{98,75}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,192},{106,71}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{106,71}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,347},{100,77}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,263},{72,77}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{62,51}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{62,51}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,347},{100,77}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{62,51}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{62,51}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{52,39}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{52,39}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,0},{36,23}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{36,23}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{22,13}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{22,13}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,255},{72,77}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{82,75}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{82,75}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{92,77}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{92,77}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,268},{88,73}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{88,73}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>magic_mind_throw_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,199},{84,71}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,71}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_mind_throw_middle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694a764b94537d3992ddaa78b13dd01c:b1c825149d043e656598531be9fcb4fa:c3210f9d52cc6705f2f7dcca7599aac6$</string>
            <key>textureFileName</key>
            <string>magic_mind_throw_middle.png</string>
        </dict>
    </dict>
</plist>
