<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_water_ball_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,484},{26,29}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>magic_water_ball_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,198},{111,112}}</string>
                <key>offset</key>
                <string>{46,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{203,128}</string>
            </dict>
            <key>magic_water_ball_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,117},{119,115}}</string>
                <key>offset</key>
                <string>{50,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{219,131}</string>
            </dict>
            <key>magic_water_ball_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,117},{119,115}}</string>
                <key>offset</key>
                <string>{50,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{119,115}}</string>
                <key>sourceSize</key>
                <string>{219,131}</string>
            </dict>
            <key>magic_water_ball_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{126,113}}</string>
                <key>offset</key>
                <string>{53,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{126,113}}</string>
                <key>sourceSize</key>
                <string>{232,131}</string>
            </dict>
            <key>magic_water_ball_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{126,113}}</string>
                <key>offset</key>
                <string>{53,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{126,113}}</string>
                <key>sourceSize</key>
                <string>{232,131}</string>
            </dict>
            <key>magic_water_ball_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{135,110}}</string>
                <key>offset</key>
                <string>{52,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{135,110}}</string>
                <key>sourceSize</key>
                <string>{241,124}</string>
            </dict>
            <key>magic_water_ball_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,110}}</string>
                <key>offset</key>
                <string>{52,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{135,110}}</string>
                <key>sourceSize</key>
                <string>{241,124}</string>
            </dict>
            <key>magic_water_ball_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{137,101}}</string>
                <key>offset</key>
                <string>{55,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,1},{137,101}}</string>
                <key>sourceSize</key>
                <string>{249,115}</string>
            </dict>
            <key>magic_water_ball_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{137,101}}</string>
                <key>offset</key>
                <string>{55,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,1},{137,101}}</string>
                <key>sourceSize</key>
                <string>{249,115}</string>
            </dict>
            <key>magic_water_ball_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,341},{141,96}}</string>
                <key>offset</key>
                <string>{56,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,1},{141,96}}</string>
                <key>sourceSize</key>
                <string>{255,110}</string>
            </dict>
            <key>magic_water_ball_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{24,56}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>magic_water_ball_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,234},{141,96}}</string>
                <key>offset</key>
                <string>{56,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,1},{141,96}}</string>
                <key>sourceSize</key>
                <string>{255,110}</string>
            </dict>
            <key>magic_water_ball_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,105},{141,91}}</string>
                <key>offset</key>
                <string>{56,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,0},{141,91}}</string>
                <key>sourceSize</key>
                <string>{255,97}</string>
            </dict>
            <key>magic_water_ball_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,332},{141,91}}</string>
                <key>offset</key>
                <string>{56,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,0},{141,91}}</string>
                <key>sourceSize</key>
                <string>{255,97}</string>
            </dict>
            <key>magic_water_ball_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,382},{73,68}}</string>
                <key>offset</key>
                <string>{91,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{255,78}</string>
            </dict>
            <key>magic_water_ball_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,312},{73,68}}</string>
                <key>offset</key>
                <string>{91,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{255,78}</string>
            </dict>
            <key>magic_water_ball_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,475},{65,35}}</string>
                <key>offset</key>
                <string>{92,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,1},{65,35}}</string>
                <key>sourceSize</key>
                <string>{255,47}</string>
            </dict>
            <key>magic_water_ball_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,475},{65,35}}</string>
                <key>offset</key>
                <string>{92,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,1},{65,35}}</string>
                <key>sourceSize</key>
                <string>{255,47}</string>
            </dict>
            <key>magic_water_ball_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,480},{41,11}}</string>
                <key>offset</key>
                <string>{90,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,24},{41,11}}</string>
                <key>sourceSize</key>
                <string>{255,37}</string>
            </dict>
            <key>magic_water_ball_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,452},{41,11}}</string>
                <key>offset</key>
                <string>{90,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,24},{41,11}}</string>
                <key>sourceSize</key>
                <string>{255,37}</string>
            </dict>
            <key>magic_water_ball_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,312},{15,10}}</string>
                <key>offset</key>
                <string>{83,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,34},{15,10}}</string>
                <key>sourceSize</key>
                <string>{255,50}</string>
            </dict>
            <key>magic_water_ball_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,422},{41,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{41,60}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>magic_water_ball_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,226},{1,1}}</string>
                <key>offset</key>
                <string>{-127,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{255,50}</string>
            </dict>
            <key>magic_water_ball_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,422},{54,82}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>magic_water_ball_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,104},{100,100}}</string>
                <key>offset</key>
                <string>{41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{182,110}</string>
            </dict>
            <key>magic_water_ball_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{100,100}}</string>
                <key>offset</key>
                <string>{41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{182,110}</string>
            </dict>
            <key>magic_water_ball_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,314},{109,106}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{109,106}}</string>
                <key>sourceSize</key>
                <string>{197,116}</string>
            </dict>
            <key>magic_water_ball_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,206},{109,106}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{109,106}}</string>
                <key>sourceSize</key>
                <string>{197,116}</string>
            </dict>
            <key>magic_water_ball_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,198},{111,112}}</string>
                <key>offset</key>
                <string>{46,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{203,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_water_ball_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57ff03be7a968a28c17cc1afd3ce20d9:b5b6ab97a2d5e92b8dbf2385c09e543f:06ea2ed03d356bc3458d1c06dc5e3077$</string>
            <key>textureFileName</key>
            <string>magic_water_ball_end.png</string>
        </dict>
    </dict>
</plist>
