<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_acid_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,488},{24,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,18}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>magic_acid_cloud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,57},{83,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,54}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>magic_acid_cloud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,54}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>magic_acid_cloud_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{85,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,54}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>magic_acid_cloud_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,113},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{83,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,54}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>magic_acid_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,447},{39,29}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>magic_acid_cloud_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,169},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,254},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,339},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,424},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,168},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,253},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,338},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,423},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>magic_acid_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,394},{51,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,36}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>magic_acid_cloud_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,161},{82,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>magic_acid_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,329},{63,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,41}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>magic_acid_cloud_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,110},{73,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>magic_acid_cloud_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{78,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>magic_acid_cloud_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,57},{80,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,51}}</string>
                <key>sourceSize</key>
                <string>{82,51}</string>
            </dict>
            <key>magic_acid_cloud_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,245},{82,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>magic_acid_cloud_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,169},{83,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_acid_cloud.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e13658792d932a9698d7215a12fd26a8:614e3ff6d69b163773ca13c563dc1c44:64674b438da6ca29e9e7996308cb496a$</string>
            <key>textureFileName</key>
            <string>magic_acid_cloud.png</string>
        </dict>
    </dict>
</plist>
