<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_energy_ball_middle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{88,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{88,87}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,79}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,204},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{76,73}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,132},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{70,67}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,324},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{62,61}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{56,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{56,57}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,91},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,83}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,176},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{78,75}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,253},{70,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,69}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,67},{64,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{64,63}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,279},{64,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{64,59}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{64,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{64,63}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{72,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{72,71}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>magic_energy_ball_middle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{80,77}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_energy_ball_middle.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b4b8a264fefa528ba4f238f1e43418f:1bbbc6d1d6385c6345ebe26823160645:5f922fee7b92c2d5b0d4435a34dc3588$</string>
            <key>textureFileName</key>
            <string>magic_energy_ball_middle.png</string>
        </dict>
    </dict>
</plist>
