<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_lightning_arrow_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,448},{56,62}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{86,88}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,372},{88,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,202},{92,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{92,80}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,192},{92,86}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{92,86}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{92,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,94}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,102},{100,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,98}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{100,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{100,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,374},{84,88}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,88}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,96},{100,92}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,90}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,280},{90,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{90,90}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,192},{90,90}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{90,90}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,366},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{82,80}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,284},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{82,80}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,370},{78,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{78,84}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,198},{90,84}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{90,84}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,96},{1,1}}</string>
                <key>offset</key>
                <string>{-51.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,284},{90,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{90,86}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,102},{92,88}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,88}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,102},{92,88}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,88}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{90,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,92}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{90,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{90,84}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,284},{84,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{84,82}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>magic_lightning_arrow_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,372},{84,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,86}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_lightning_arrow_end.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e6c54a3756b716023b03203534e2fd:c6a918ff28a2e409ce3a53e96081babf:f208a87de3d19552c8ed767a450fb71c$</string>
            <key>textureFileName</key>
            <string>magic_lightning_arrow_end.png</string>
        </dict>
    </dict>
</plist>
