<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tonfa_guns_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{38,66}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{38,66}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>tonfa_guns_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,42},{47,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>tonfa_guns_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,42},{38,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,56}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>tonfa_guns_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,42},{38,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,56}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>tonfa_guns_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,82},{38,55}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,55}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>tonfa_guns_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,82},{38,55}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,55}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>tonfa_guns_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{35,29}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tonfa_guns_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{35,29}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>tonfa_guns_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{38,66}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{38,66}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>tonfa_guns_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{45,67}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{45,67}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>tonfa_guns_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,67}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{45,67}}</string>
                <key>sourceSize</key>
                <string>{55,71}</string>
            </dict>
            <key>tonfa_guns_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>tonfa_guns_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{45,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,72}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>tonfa_guns_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,49},{44,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>tonfa_guns_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,49},{44,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>tonfa_guns_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,42},{47,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tonfa_guns_end.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d8d45eee4cbbc7631c43744d6b51ea9:95cbc3744350eb3103c819f4feea3ba9:5456081af1381c4f5bb795bcef10f7a2$</string>
            <key>textureFileName</key>
            <string>tonfa_guns_end.png</string>
        </dict>
    </dict>
</plist>
