<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wasp_speed_split_wings_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,38}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,60},{66,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,138},{14,12}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,15},{14,12}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,118},{18,14}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,18},{18,14}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,140},{16,12}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,22},{16,12}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,152},{14,10}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,25},{14,10}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,74},{42,60}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{42,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{42,58}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,37},{42,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{60,52}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,30},{60,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,38},{34,54}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,23},{34,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{34,54}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,21},{34,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{42,44}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,22},{42,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,118},{36,48}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,13},{36,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wasp_speed_split_wings_start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,156},{20,22}}</string>
                <key>offset</key>
                <string>{-10,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,10},{20,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wasp_speed_split_wings_start.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fff0ae2ff1fd5dd2bff73cde1b57043:99b647d7b6c31796aea0a07c1510c93d:14f7c75343ac2f08b9506659c1adebcb$</string>
            <key>textureFileName</key>
            <string>wasp_speed_split_wings_start.png</string>
        </dict>
    </dict>
</plist>
