<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>widow_teleportation_end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,494},{18,10}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,144},{18,10}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,344},{82,68}}</string>
                <key>offset</key>
                <string>{-27,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,111},{82,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,283},{82,80}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,98},{82,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,80},{80,90}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,86},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1},{78,94}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,81},{78,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,80},{78,92}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,82},{78,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,94}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,81},{78,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,222},{60,90}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{60,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,220},{60,90}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{60,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,161},{60,90}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{60,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{60,90}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{60,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,283},{8,26}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,136},{8,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,281},{58,88}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,88},{58,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,340},{56,82}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,90},{56,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{42,82}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,90},{42,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,364},{42,82}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,90},{42,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,407},{30,12}}</string>
                <key>offset</key>
                <string>{-19,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,153},{30,12}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,473},{20,12}}</string>
                <key>offset</key>
                <string>{-15,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,154},{20,12}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,473},{20,8}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,154},{20,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,473},{20,10}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,152},{20,10}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,310},{20,8}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,153},{20,8}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,494},{20,10}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,152},{20,10}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,440},{30,32}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,133},{30,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,331},{2,2}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,153},{2,2}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,80},{2,2}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,153},{2,2}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,331},{4,4}}</string>
                <key>offset</key>
                <string>{-25,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,151},{4,4}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,80},{2,2}}</string>
                <key>offset</key>
                <string>{-24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,152},{2,2}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,440},{66,62}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,116},{66,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,218},{70,62}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,116},{70,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,151},{70,66}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,117},{70,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,281},{62,70}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,116},{62,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,84},{70,66}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,120},{70,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>widow_teleportation_end_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{82,62}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,120},{82,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>widow_teleportation_end.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:830caeb9c13695f0e30e276b1f11c428:d7fb977954c65256b5a5a2a986acc91a:ea496e18dc572ff0101b4e33a8098115$</string>
            <key>textureFileName</key>
            <string>widow_teleportation_end.png</string>
        </dict>
    </dict>
</plist>
