<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,3},{32,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,78}}</string>
                <key>sourceSize</key>
                <string>{32,78}</string>
            </dict>
            <key>layer1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,3},{256,186}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{256,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{256,234}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{252,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,263},{144,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{144,127}}</string>
                <key>sourceSize</key>
                <string>{148,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39044557c6ac8a9e723045fc0a0cc6b0:739db34e4ea0e5b8e8157a4d1885306d:15ae3fe6ce4ea2e8f9f955aeb4cf8041$</string>
            <key>textureFileName</key>
            <string>atlas_layer1.png</string>
        </dict>
    </dict>
</plist>
