<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hourglassrot_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,876},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,717},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,892},{105,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,11},{105,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,894},{109,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,11},{109,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,606},{117,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,10},{117,155}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,483},{125,161}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,6},{125,161}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,473},{133,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,5},{133,165}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,169},{141,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{141,169}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,324},{151,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,1},{151,173}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,165},{159,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{159,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,0},{165,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{165,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,171},{171,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{171,173}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{175,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{175,169}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,165},{175,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{175,163}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,171},{173,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,11},{173,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,332},{169,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,17},{169,141}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,483},{161,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,25},{161,125}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,739},{155,107}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,34},{155,107}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,606},{155,111}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,32},{155,111}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,493},{163,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,23},{163,129}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,0},{169,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{169,143}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,328},{175,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{175,155}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,169},{175,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{175,163}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{175,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{175,171}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,0},{171,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{171,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{165,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{165,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,324},{159,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{159,175}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,342},{151,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,1},{151,173}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,338},{141,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{141,169}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,475},{131,165}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,4},{131,165}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,507},{123,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,8},{123,159}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,622},{117,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,10},{117,155}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,739},{109,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,11},{109,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,723},{105,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,11},{105,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
		<key>hourglassrot_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,717},{101,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,11},{101,153}}</string>
			<key>sourceSize</key>
			<string>{175,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hourglassrot.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:11fd1d8b25ed0e4c4514c8a42f5c4882:4dd72effb934edacd82595c31e851d22:e356a06548fe21207bc97e8d8d2f93f8$</string>
		<key>textureFileName</key>
		<string>hourglassrot.png</string>
	</dict>
</dict>
</plist>
