<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dojo_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{111,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{111,89}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Dojo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,93},{111,95}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{111,95}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Dojo_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,91},{111,91}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{111,91}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Fight_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,277},{109,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{109,101}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Fight_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,285},{115,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{115,103}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Fight_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,285},{109,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{109,103}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Highlight_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,389},{123,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Lottery_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{101,89}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{101,89}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Lottery_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{101,97}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{101,97}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Lottery_Pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1},{101,89}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{101,89}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Map_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{85,85}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Map_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{91,95}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{91,95}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Map_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,179},{95,95}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{95,95}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Profile_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1},{87,109}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{87,109}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Profile_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,181},{95,115}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{95,115}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Profile_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,91},{89,109}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{89,109}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Settings_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,189},{95,97}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{95,97}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Settings_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,189},{95,97}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{95,97}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Settings_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,183},{95,97}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{95,97}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Shop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{115,111}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,111}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,389},{123,119}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{123,119}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>Shop_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,389},{115,113}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,113}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchButtonsMenuScreens.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32cc69aa7dbadf855eea59a1e3b1b2a:fb923a56d94a3f91cc3af7becf7b8c1f:7ff5ead290a42e5504effd2ce7d67901$</string>
            <key>textureFileName</key>
            <string>batchButtonsMenuScreens.png</string>
        </dict>
    </dict>
</plist>
