<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_thorny.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{111,158}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{111,158}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
            <key>right_thorny.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,170}}</string>
                <key>sourceSize</key>
                <string>{113,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thorny_wall.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7b823c719f2a958488a6517ce32b04b:4f0105ab95c1d7e590abcf760fb0f10d:fd1e1692e371fbd91e140f94b77bb5c7$</string>
            <key>textureFileName</key>
            <string>thorny_wall.png</string>
        </dict>
    </dict>
</plist>
