<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,985},{128,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>floor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,951},{128,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>layersun.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{244,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{244,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,607},{237,340}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,340}}</string>
                <key>sourceSize</key>
                <string>{239,340}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,3},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{239,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,340}}</string>
                <key>sourceSize</key>
                <string>{239,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ad818cd9f82536c96f50d7a4eae7eb1:814cd399e70157a41bc12b71fc9ecb66:541e36315a768153b874665d07ee41ec$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
