<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,0},{298,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{298,100}}</string>
                <key>sourceSize</key>
                <string>{316,108}</string>
            </dict>
            <key>clouds_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1536,242}}</string>
                <key>offset</key>
                <string>{0,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{1536,242}}</string>
                <key>sourceSize</key>
                <string>{1536,512}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1986},{256,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{256,58}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>green-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,658},{245,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,230}}</string>
                <key>sourceSize</key>
                <string>{245,230}</string>
            </dict>
            <key>ground_smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1254},{396,176}}</string>
                <key>offset</key>
                <string>{58,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,336},{396,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ground_smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1136},{512,140}}</string>
                <key>offset</key>
                <string>{0,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,372},{512,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ground_smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1010},{408,244}}</string>
                <key>offset</key>
                <string>{-52,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,268},{408,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{408,658}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{408,658}}</string>
                <key>sourceSize</key>
                <string>{450,680}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,512},{624,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,143}}</string>
                <key>sourceSize</key>
                <string>{624,143}</string>
            </dict>
            <key>light_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1480},{512,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,175}}</string>
                <key>sourceSize</key>
                <string>{512,175}</string>
            </dict>
            <key>pixel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2044},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1536},{450,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,680}}</string>
                <key>sourceSize</key>
                <string>{450,680}</string>
            </dict>
            <key>smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1648},{322,167}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,3},{322,167}}</string>
                <key>sourceSize</key>
                <string>{512,175}</string>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1010},{470,194}}</string>
                <key>offset</key>
                <string>{21,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,14},{470,194}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{512,230}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,230}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,512},{498,230}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,230}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>spot.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1986},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1986},{52,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1986},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01621ff544f2d3ccdb99bdc26f914ef3:6930e117778fbeff87c2be0666512ed3:4e908cad585b51422829fd3fcea40b2c$</string>
            <key>textureFileName</key>
            <string>atlas_layer4.png</string>
        </dict>
    </dict>
</plist>
