<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,172}}</string>
                <key>offset</key>
                <string>{0,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,340},{512,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{512,108}}</string>
                <key>offset</key>
                <string>{0,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,404},{512,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>layer3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{512,154}}</string>
                <key>offset</key>
                <string>{0,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,358},{512,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9601f9f151acd98c489d52e504684fa:cb95b8acbfee8d52fb72290710de9951:17953e4fca6290733bd9477acaae9e3b$</string>
            <key>textureFileName</key>
            <string>atlas_layer3.png</string>
        </dict>
    </dict>
</plist>
