<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dust_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,113},{128,96}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dust_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,3},{128,106}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,225},{256,100}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,156},{256,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,218}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{256,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,225},{256,164}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,92},{256,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stones_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,155},{114,66}}</string>
                <key>offset</key>
                <string>{-39,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{114,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>stones_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,3},{148,74}}</string>
                <key>offset</key>
                <string>{-32,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{148,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0269ba7d96f284cd3e6e4bc8fcc5d206:8ddb5bc51575530ba4a2b995c5c3e159:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
