<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amazon_mp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>amazon_mp3_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>arb.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>arb_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>brus.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,75},{77,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>chn.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>chn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>controller_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>credits_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>credits_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>facebook_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,75},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>facebook_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>facebook_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fra.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,75},{77,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>fra_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>gamecenter_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,75},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>gamecenter_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>gamecenter_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ger.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,75},{77,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ger_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>googleplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,75},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>googleplay_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>googleplay_controller_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,229},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>googleplay_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,152},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>googleplay_disable_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,152},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>googleplay_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>googleplay_music_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>googleplay_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>googleplay_off_controller.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>googleplay_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>graphics.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>graphics_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ita.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ita_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>itunes.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,152},{77,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{77,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>itunes_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jpn.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jpn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>kakao.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>kor.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>kor_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>location.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,0},{75,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>location_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>music_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>music_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,323},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ptbr.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ptbr_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rus.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>rus_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,0},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>sound_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sound_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spa.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,152},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>spa_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>support.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>support_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tur.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,229},{77,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>tur_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>usbr.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,75},{77,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{77,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>usbr_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,417},{94,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>windows.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,0},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>windows_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchSettings.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87343537f95882c33210e11da8625d7f:df6f18d49273dcea9c39b4115c8e3990:565c0092b175a8488d8c4382f61b4a70$</string>
            <key>textureFileName</key>
            <string>batchSettings.png</string>
        </dict>
    </dict>
</plist>
