<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,112}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,144},{256,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,523},{256,74}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,182},{256,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{256,96}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,160},{256,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296f0c17d02dff5bc9944443acbee403:4de47caaf48d5b0f11e1a74405f402f5:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
