<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,52},{88,32}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,49},{88,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,112},{72,44}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{72,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{60,44}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,59},{60,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{82,38}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{82,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,28}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{90,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,86},{86,44}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{86,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,60},{72,50}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{72,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,154},{36,60}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,9},{36,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{56,60}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{56,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,132},{78,50}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{78,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{88,48}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{88,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,48}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{88,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bird_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{88,30}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,54},{88,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_black.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adae9549e86787063d6b7f1a13ec555b:6f06456aea3e247bf56f60a3e3974bb8:383d6f59beef11e41c8f353acd91ffe8$</string>
            <key>textureFileName</key>
            <string>bird_black.png</string>
        </dict>
    </dict>
</plist>
