<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bridge_reflection_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{304,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,2},{304,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{302,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{302,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,258},{302,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{302,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,390},{300,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,0},{300,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,694},{300,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,0},{300,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,130},{302,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{302,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,390},{302,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,2},{302,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{302,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,2},{302,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{302,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,2},{302,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,692},{300,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,2},{300,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,260},{302,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,2},{302,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,130},{304,126}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,2},{304,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{304,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,2},{304,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>bridge_reflection_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{304,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,2},{304,126}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bridge_reflection.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071ceba44529c3ba3cce9ab0aabaf52c:82394b8c7451e28bed520b165366fe10:08aa7ec7e6c51851a41934522f17a53c$</string>
            <key>textureFileName</key>
            <string>bridge_reflection.png</string>
        </dict>
    </dict>
</plist>
