<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloth1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,412},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,260},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,184},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,336},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,154},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,154},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,412},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,78},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>cloth1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{180,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cloth2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4d4c5f7c7aa81a01dfcd4caad1c9f53:398ea8fe49dd17a8c618a396712ade33:04e20718f9e1b25e5cdc535e44ac9564$</string>
            <key>textureFileName</key>
            <string>cloth1.png</string>
        </dict>
    </dict>
</plist>
