<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloth3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,94}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{482,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{480,94}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{480,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,94}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{482,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{480,94}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{480,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{478,94}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{478,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{476,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{476,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{476,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{476,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{476,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{476,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{478,94}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{478,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{480,94}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{480,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>cloth3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,94}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{482,94}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cloth3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e3e80e699e177c753271e622c4b33ca:6db564562a8463c09723ae7eeb37247d:e4aca3305bfc51380cabe9a1215aeb89$</string>
            <key>textureFileName</key>
            <string>cloth3.png</string>
        </dict>
    </dict>
</plist>
