<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colone_reflection_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,218},{36,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{36,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,44},{40,106}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{40,106}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{40,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,126},{38,106}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{38,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{38,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{38,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,204},{36,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{36,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{36,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{36,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,166},{36,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{36,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{36,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{36,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,110},{36,106}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{36,106}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{36,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,86},{38,106}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{38,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{38,106}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{38,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{40,106}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{40,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>colone_reflection_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,106}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{40,106}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colone_reflection.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8777735808eb407defea77b45581e507:5ae3f988c5a39bf65768d904751a1b48:15632dcd4f3d4a5292fab94b05a9f447$</string>
            <key>textureFileName</key>
            <string>colone_reflection.png</string>
        </dict>
    </dict>
</plist>
