<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{48,26}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,154},{48,26}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,86},{86,60}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,120},{86,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{136,70}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,111},{136,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{186,74}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,106},{186,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>drop_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,82}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,98},{208,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drop.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67e96b744a26a6d2b44af7dad8d6f148:b06bd7561465e6d159858c8565926253:d0c783abd88945ce657f72c10edc98ea$</string>
            <key>textureFileName</key>
            <string>drop.png</string>
        </dict>
    </dict>
</plist>
