<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,232}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{256,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{256,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,260},{256,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,236},{256,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{256,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{256,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,518},{256,226}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{256,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,470},{256,226}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{256,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,468},{256,226}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{256,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{256,226}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{256,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,240},{256,228}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{256,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fire2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{256,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{256,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28c16de8f488e360e7d9d9cca8fb185d:3866975672964230983ad28c86747717:a08a639c8cf72ee0d201ed5c90d826a2$</string>
            <key>textureFileName</key>
            <string>fire2.png</string>
        </dict>
    </dict>
</plist>
