<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>graveyard_ships_flag3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{90,120}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{90,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,190},{94,106}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{94,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,372},{88,80}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{88,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{92,106}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{92,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{88,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,94},{94,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{94,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{88,90}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{112,92}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{112,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{90,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{90,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>graveyard_ships_flag3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9d42c24d360fea54f359e44664cb6a:2fae280877dd1186b604f622d0faf977:45e830ff3fc92316f6b1b8532249e9c9$</string>
            <key>textureFileName</key>
            <string>graveyard_ships_flag3.png</string>
        </dict>
    </dict>
</plist>
