<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>graveyard_ships_flag1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,76},{92,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{92,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,84}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{104,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{74,88}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{74,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{62,94}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{62,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,264},{68,92}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{68,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,382},{84,84}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{84,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{86,76}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{86,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{82,92}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{82,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{72,96}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{72,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{68,94}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{68,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>graveyard_ships_flag1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,170},{92,92}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>graveyard_ships_flag1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6389cc15745c6a9d8d17c25fdc9af811:8f782d938eea065db1928314a4d24510:f09ca032be414a209d924a4fd9db92ab$</string>
            <key>textureFileName</key>
            <string>graveyard_ships_flag1.png</string>
        </dict>
    </dict>
</plist>
