<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tree_swamp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,200}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{128,200}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tree_swamp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,198}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{128,198}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tree_swamp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,198}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{128,198}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tree_swamp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,260},{126,198}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{126,198}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tree_swamp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,132},{126,198}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{126,198}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tree_swamp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,260},{124,198}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{124,198}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tree_swamp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{122,200}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{122,200}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tree_swamp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,204},{120,200}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{120,200}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tree_swamp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20ddf690cb1649ff977c72bd1f7aa595:ba37c02eb061ea9664915ef0bbcc490a:0eba367cd6cd7f252d7096ac4fb9d685$</string>
            <key>textureFileName</key>
            <string>tree_swamp.png</string>
        </dict>
    </dict>
</plist>
