<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,523},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>layer2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,3},{244,142}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,114},{244,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,331},{256,158}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{256,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,783},{256,156}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{256,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,219},{164,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,74},{164,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,219},{256,68}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,117},{256,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,149},{208,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,95},{208,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>smoke_column_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,591},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>smoke_column_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,715},{256,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{256,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,149},{24,24}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_layer2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126cbb236b2a5f3e59bc3a3c01cfe2d6:c5c3d670cef1e541e85be4311af990b2:5176a1f8851f55f2eb16733942688a85$</string>
            <key>textureFileName</key>
            <string>atlas_layer2.png</string>
        </dict>
    </dict>
</plist>
