<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>critical_chance.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{92,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{92,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>head_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,270},{96,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{96,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>magic_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,174},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{94,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>magic_resistance.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,96},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ranged_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{96,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ranged_quantity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{74,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{74,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>unarmed_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{80,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{80,70}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>weapon_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{96,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchAttributes.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:421be9220e7e284cbfeffe2f1a13c3d6:d0f11c92c951fcf062ec2bab5f644a74:8f184aa8fd709c7494fbbad71ffa9280$</string>
            <key>textureFileName</key>
            <string>batchAttributes.png</string>
        </dict>
    </dict>
</plist>
