<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_ascension.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,870},{192,224}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,31},{192,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_butcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,436},{234,234}}</string>
                <key>offset</key>
                <string>{28,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,21},{234,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_butcher_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,412},{236,234}}</string>
                <key>offset</key>
                <string>{27,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,20},{236,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_capsules.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1844},{198,196}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{198,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1844},{196,196}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,59},{196,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_challenge_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1666},{192,194}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{192,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_duel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{214,248}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,7},{214,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_eggs.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,194},{252,218}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{252,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_eggs_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{252,218}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,36},{252,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_factory.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,670},{192,230}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,25},{192,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_fatum_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1054},{212,216}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{212,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_final_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1082},{192,214}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,41},{192,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_final_battle_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1086},{190,212}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,42},{190,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_fire_hell.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,634},{232,226}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{232,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_fungus_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,196},{240,244}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{240,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_hermit.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,412},{236,222}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{236,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_hermit_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,646},{232,220}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{232,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_huntress.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,860},{226,222}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{226,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_huntress_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,866},{226,220}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{226,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_lynx.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{246,196}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,59},{246,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_lynx_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,218},{244,194}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,60},{244,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_megalith_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{194,204}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,48},{194,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_samurai.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1266},{198,204}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{198,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_samurai_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1470},{196,202}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,52},{196,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,196}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,59},{254,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_spaceship_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{254,194}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,60},{254,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_stone_forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1666},{192,196}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{192,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_stone_forest_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1660},{190,194}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{190,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_survival.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1274},{204,196}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,59},{204,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_titan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{198,206}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{198,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_titan_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1276},{196,204}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,50},{196,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_tournament.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1464},{202,196}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,59},{202,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_tournament_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1472},{200,194}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,60},{200,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_training.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1646},{198,198}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{198,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_vortex_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{246,242}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{246,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_vulcan_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{230,218}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{230,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_wasp.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,862},{192,220}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,35},{192,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>active_wasp_eclipsemode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{192,220}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,34},{192,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchBattlesActive.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b64b94d2006e67c682dd87d27d43ab8c:3cf33126a83f51cb89a22771bb14748f:07bd5b3147e4c97aa7294461c1770e94$</string>
            <key>textureFileName</key>
            <string>batchBattlesActive.png</string>
        </dict>
    </dict>
</plist>
