<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,490},{84,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{84,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Armor_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,164},{98,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{98,84}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Armor_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,401},{84,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{84,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Compare.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,718},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Compare_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Free.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{74,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{74,62}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Free_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{96,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{96,82}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Free_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,840},{74,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{74,62}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Hanger.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,706},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Hanger_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,641},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{88,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{88,72}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Helmet_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{110,90}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Helmet_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,342},{88,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{88,72}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Left_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,783},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>Left_flag_properties.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,562},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>Left_flag_properties_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,324},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>Magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,795},{74,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{74,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Magic_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{98,92}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{98,92}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Magic_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{74,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{74,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Payment.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{80,54}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{80,54}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Payment_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{104,70}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{104,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Payment_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{80,54}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{80,54}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Ranged_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,931},{62,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{62,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Ranged_weapon_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{80,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{80,90}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Ranged_weapon_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,867},{62,70}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{62,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Right_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,244},{47,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,78}}</string>
                <key>sourceSize</key>
                <string>{47,78}</string>
            </dict>
            <key>Right_flag_properties.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{45,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,78}}</string>
                <key>sourceSize</key>
                <string>{47,78}</string>
            </dict>
            <key>Right_flag_properties_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,164},{47,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,78}}</string>
                <key>sourceSize</key>
                <string>{47,78}</string>
            </dict>
            <key>Weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{84,72}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{84,72}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Weapon_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,74},{100,88}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{100,88}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Weapon_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,416},{84,72}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{84,72}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Wear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Wear_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,629},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Wear_off_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,564},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Wear_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,487},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Bag_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,250},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{94,90}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,951},{72,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{72,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>Bag_pushed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{72,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{72,70}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopButtons.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab4828ab4b1d00adb9aadb6f16b0ee8:eb37ae65480f1675b111b42894c6f39c:3d04c9e7340e8c8fba0fb381bbd45af0$</string>
            <key>textureFileName</key>
            <string>shopButtons.png</string>
        </dict>
    </dict>
</plist>
