<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{830,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{830,196}}</string>
                <key>sourceSize</key>
                <string>{830,196}</string>
            </dict>
            <key>great.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{666,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,148}}</string>
                <key>sourceSize</key>
                <string>{666,148}</string>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{893,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{893,147}}</string>
                <key>sourceSize</key>
                <string>{893,147}</string>
            </dict>
            <key>ringout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{965,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{965,148}}</string>
                <key>sourceSize</key>
                <string>{965,148}</string>
            </dict>
            <key>round.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,601},{733,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{733,155}}</string>
                <key>sourceSize</key>
                <string>{733,155}</string>
            </dict>
            <key>timesup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{971,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{971,148}}</string>
                <key>sourceSize</key>
                <string>{971,148}</string>
            </dict>
            <key>youlose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{943,148}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{943,148}}</string>
                <key>sourceSize</key>
                <string>{965,148}</string>
            </dict>
            <key>youwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{842,148}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{842,148}}</string>
                <key>sourceSize</key>
                <string>{852,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchFightLabels.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ca8e5bf47010f2b5ac45e9fe5895feb:b740197b162090d00810becf718e8fe5:bf699e166a209372f61a9017431e12e3$</string>
            <key>textureFileName</key>
            <string>batchFightLabels.png</string>
        </dict>
    </dict>
</plist>
