<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ringout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,64},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,64},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,186},{128,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,262},{128,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,132},{128,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,132},{128,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,256},{128,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{128,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,126},{128,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{128,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{128,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,126},{128,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ringout_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ringout.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7dbad1b231082f9d49fd27ec10557bf:dcf537fe622bc61c4353c64ca2f6bcf3:16ef67c7d10333f5a5fd5d79ce00f3b1$</string>
            <key>textureFileName</key>
            <string>ringout.png</string>
        </dict>
    </dict>
</plist>
