<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazyBar_0_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,44},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>CrazyBar_1_Hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,44},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>CrazyBar_2_Brutal.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,44},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>CrazyBar_3_Aggressive.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,22},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>CrazyBar_4_Crazy.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,22},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>CrazyBar_5_Fantastic.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,22},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>CrazyBar_Empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{179,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,13}}</string>
                <key>sourceSize</key>
                <string>{179,13}</string>
            </dict>
            <key>HealthBar_Empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{282,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,13}}</string>
                <key>sourceSize</key>
                <string>{282,13}</string>
            </dict>
            <key>HealthBar_Full.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,0},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>HealthBar_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,0},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>Raid_HealthBar_Full.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,0},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchFightBars.png</string>
            <key>size</key>
            <string>{16,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e5d3b5939334ef44ecdfb17146fbc5:f872eddb507cd64421809aa87a62f7e1:c4777aef3e4309365a49edeaa2abf9e1$</string>
            <key>textureFileName</key>
            <string>batchFightBars.png</string>
        </dict>
    </dict>
</plist>
