<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Highlight_Stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,20},{365,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,365}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>JoystickContainer_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,660},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,235}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>JoystickContainer_norm.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,405},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,235}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>Joystick_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,538},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>Joystick_norm.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,405},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batchJoystick.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ee2dd9eebb3a57be502c331548f6156:0d29bdfd60151aa5cc8320743afa9498:1cac92c5971bcd37b6e914627b0401fa$</string>
            <key>textureFileName</key>
            <string>batchJoystick.png</string>
        </dict>
    </dict>
</plist>
